//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Content -->
	<section class="section vacancy">
		<div class="vacancy-top">
			<div class="container">
				<div class="content">
					<h2 class="title">Работа у нас</h2>
					<p class="desc">БОМБОРА становится все больше и больше. Мы растем вместе с каждой новой книгой. И нам нужны ваши очки, мотоцикл и костюм (зачеркнуто) ваш опыт и любовь к книгам.</p>
					<p class="desc">Если вы обладаете релевантным опытом, готовы подтвердить его своим резюме и классно выполненным тестовым заданием, то ищите в списке вакансий ТУ САМУЮ, и мы вас ждем!</p>

					<a href="#departments" class="btn">Посмотреть все</a>
				</div>

				//@@include('../_include/vacancy-top-slider.html')
				
			</div>
		</div>
		<div class="vacancy-line"></div>

		<div class="vacancy-departments" id="departments">
			<div class="container">
				<h2 class="title">Отделы</h2>
				<nav class="vacancy-departments__nav">
					<span><a href="#!">Бухгалтерия</a></span>
					<span><a href="#!" class="active">Маркетинг</a></span>
					<span><a href="#!">Редакция</a></span>
					<span><a href="#!">Корпоративные продажи</a></span>
				</nav>
			</div>
		</div>
		<div class="vacancy-list">
			<div class="container">
				<div class="ui post style-full-2 mb-default-2">

					<!-- Post General -->
					<div class="post-general">

						<!-- Post Toggle -->
						<div class="post-toggle" data-gumshoe-header>
							<ul data-gumshoe>
								<li class="is-active"><a href="#brand-manager-btl">Младший бренд-менеджер БТЛ-проектов</a></li>
								<li><a href="#brand-manager-fashion">Младший бренд-менеджер Мода стиль</a></li>
								<li><a href="#intern-marketing">Стажер отдела маркетинг</a></li>
							</ul>
						</div>
						<!-- End of Post Toggle -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="brand-manager-btl">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Младший бренд-менеджер BTL-проектов (научно-популярная литература и эзотерика)</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/2_Младший_бренд-менеджер_BTL-проектов_(научно-популярная_литература_и_эзотерика).jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>Полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>от 45 000 ₽</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ищем человека, который возьмет под свое крыло продвижение BTL-проектов издательства и станет героем в направлении научно-популярной литературы и эзотерики. Бренд-менеджеру предстоит участвовать в разработке концепции продвижения проектов и стимулировать продажи в digital-среде.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Участвовать в разработке стратегии продвижения бренда (ATL, BTL, PR, SMM, Trade)</li>
										<li>Ставить задачи по продвижению подрядчикам</li>
										<li>Составлять и контролировать эффективное использование бюджета</li>
										<li>на продвижение продуктов</li>
										<li>Контролировать сроки и качество программ продвижения</li>
										<li>Вести отчетность по проектам</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Высшее образование в сфере рекламы или маркетинга</li>
										<li>Навыки медиа-планирования, разработки программ продвижения брендов</li>
										<li>Способность работать в многозадачность (до 7-10 проектов одновременно)</li>
										<li>Грамотность</li>
										<li>Владение английским не ниже уровня intermediate</li>
										<li>Инициативность, ответственность, пунктуальность, умение критически мыслить</li>
										<li>Как плюс: опыта работы (от года) account-менеджером в рекламном агентстве широкого профиля, маркетологом в издательском доме или менеджером по рекламе в крупной FMCG компании</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="brand-manager-fashion">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Младший бренд-менеджер</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/4_Младший_бренд-менеджер_направлений_Мода,стиль,красота.jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>Полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>от 45 000 ₽</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы в поисках человека, который готов заниматься продвижением проектов издательства: участвовать в разработке концепции продвижения, стимулировать продажи (акции, конкурсы, медиабаинг и т.п.).</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Формировать эффективный комплекс продвижения бренда (ATL, BTL, PR, SMM, Trade)</li>
										<li>Ставить задачи подрядчикам</li>
										<li>Следить за эффективным использованием бюджета на продвижение </li>
										<li>Контролировать соблюдение сроков и качество реализации программ продвижения</li>
										<li>Вести отчетность по проектам</li>
										<li>Искать новые инструменты продвижения и эффективно их внедрять</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Высшее образование в сфере рекламы и маркетинги</li>
										<li>Навыки медиа-планирования, разработки программ продвижения брендов,</li>
										<li>Способность вести до 7-10 проектов одновременно</li>
										<li>Грамотность</li>
										<li>Владение английским не ниже уровня intermediate</li>
										<li>Инициативность, ответственность, пунктуальность, критическое мышление</li>
										<li>Как плюс: опыт работы account-менеджером в РА широкого профиля, маркетологом в издательском доме или менеджером по рекламе в крупной FMCG компании от года</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="intern-marketing">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Стажер отдела маркетинга</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/6_Стажер_отдела_маркетинга_по_направлениям_эзотерика_и_психология .jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>опыт не требуется</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>гибкий график</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>не оплачивается</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ищем молодого специалиста, готового начать свою карьеру в лучшем издательском холдинге страны. То есть у нас. Продвижение книг по эзотерике и психологии –  отличная первая работа, не так ли?</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Участвовать в маркетинговых проектах</li>
										<li>Составлять отчеты</li>
										<li>Создавать презентации</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Коммуникабельность и активность</li>
										<li>Ответственность</li>
										<li>Заинтересованность в профессиональном развитии</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Возможность задавать вопросы и получать на них профессиональные ответы.</li>
										<li>Документы о прохождении практики/стажировки для вуза или будущего работодателя (характеристика, рекомендательное письмо)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->
					</div>
					<!-- End of Post General -->
				</div>
			</div>
		</div>

		<div class="vacancy-feedback" id="feedback">
			<div class="container">
				<div class="title">Не нашел подходящую вакансию? Напиши нам!</div>
				<form class="form">
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Имя и фамилия">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Телефон">
					</div>
					<div class="form__field  error">
						<input type="text" class="form__input" placeholder="E-mail">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Ссылка на резюме или портфолио">
					</div>
					<div class="form__field">
						<textarea placeholder="Сообщение"></textarea>
					</div>

					<button type="submit" class="btn">Отправить</a>
				</form>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')