//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Content -->
	<section class="section vacancy">
		<div class="vacancy-top">
			<div class="container">
				<div class="content">
					<h2 class="title">Работа у нас</h2>
					<p class="desc">БОМБОРА становится все больше и больше. Мы растем вместе с каждой новой книгой. И нам нужны ваши очки, мотоцикл и костюм (зачеркнуто) ваш опыт и любовь к книгам.</p>
					<p class="desc">Если вы обладаете релевантным опытом, готовы подтвердить его своим резюме и классно выполненным тестовым заданием, то ищите в списке вакансий ТУ САМУЮ, и мы вас ждем!</p>

					<a href="#departments" class="btn">Посмотреть все</a>
				</div>

				//@@include('../_include/vacancy-top-slider.html')
				
			</div>
		</div>
		<div class="vacancy-line"></div>

		<div class="vacancy-departments" id="departments">
			<div class="container">
				<h2 class="title">Отделы</h2>
				<nav class="vacancy-departments__nav">
					<span><a href="#!">Бухгалтерия</a></span>
					<span><a href="#!">Маркетинг</a></span>
					<span><a href="#!" class="active">Редакция</a></span>
					<span><a href="#!">Корпоративные продажи</a></span>
				</nav>
			</div>
		</div>
		<div class="vacancy-list">
			<div class="container">
				<div class="ui post style-full-2 mb-default-2">

					<!-- Post General -->
					<div class="post-general">

						<!-- Post Toggle -->
						<div class="post-toggle" data-gumshoe-header>
							<ul data-gumshoe>
								<li class="is-active"><a href="#editor-nobook-product">Редактор некнижной продукции (блокноты, календари)</a></li>
								<li><a href="#editor-btl">Редактор BTL-проектов (научно-популярная литература)</a></li>
								<li><a href="#editor-culture">Редактор в группу искусства и культуры</a></li>
								<li><a href="#junior-editor">Младший редактор направлений «Популярная медицина», «Рукоделие»</a></li>
							</ul>
						</div>
						<!-- End of Post Toggle -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="editor-nobook-product">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Редактор некнижной продукции (блокноты, календари)</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/1_Редактор_некнижной_продукции_(блокноты,календари).jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>Полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>...</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ищем профессионала, который возьмет в свои руки выпуск нашей некнижной продукции и будет с любовью развивать данное направление и отвечать за канцтовары, блокноты, календари, товары для хобби и творчества и т.д.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Планировать, развивать и исследовать  нашу некнижную сферу </li>
										<li>Ставить задачи штатным дизайнерам на разработку обложек</li>
										<li>Контролировать сроки и качество работы всех участников проекта, оперативно вносить корректировки</li>
										<li>Давать проектам финансовую оценку</li>
										<li>Писать продающие тексты для проектов</li>
										<li>Любить и уважать дедлайны</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Опыт работы с некнижными категориями товаров (поиск и реализация идей) от двух лет</li>
										<li>Умение оценивать рыночную перспективу продукта</li>
										<li>Понимание принципов разработки упаковки</li>
										<li>Умение укладываться четко в сроки</li>
										<li>Многозадачность и возможность оперативно реагировать на ситуацию</li>
										<li>Желание развиваться и узнавать новое</li>
										<li>Как плюс: знание материалов и технологических решений, а также навыки работы с зарубежными производствами и поставщиками</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="editor-btl">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Редактор BTL-проектов (научно-популярная литература)</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/3_Редактор_BTL-проектов_(научно-популярная_литература).jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>Полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>от 45 000 ₽</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ждем редактора, который с радостью и вдохновением возьмется за выпуск BTL-проектов заказчиков и будет отвечать за процесс от разработки концепции до момента реализации. При этом специалисту предстоит держать руку на пульсе и быть на связи с заказчиками.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Рассчитывать себестоимость проектов и управлять расчетами</li>
										<li>Отслеживать сроков редакционно-издательской подготовки книг</li>
										<li>Писать аннотации, редакционные вступления и другие тексты</li>
										<li>Координировать работу редакторов, корректоров, верстальщиков, художественных редакторов, авторов и переводчиков</li>
										<li>Контролировать редактирование и корректуру</li>
										<li>Сдавать макеты в производство</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Высшее образование  (полиграфическое, гуманитарное или в области менеджмента)</li>
										<li>Опыт работы в издательстве (книжном, журнальном или газетном)</li>
										<li>Опыт ведения большого количества проектов одновременно</li>
										<li>Как плюс: опыт издания книг/журналов для корпоративных клиентов</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="editor-culture">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Редактор в группу искусства и культуры</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>...</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы уже выпустили «Трехмерную Карту Хогвартса», серию блокнотов Wreck this journal, издали автобиографию Оззи, историю Depeche Mode, стихи Тилля Линдеманна, и другие классные проекты. Теперь мы становимся больше и ищем новых редакторов.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Придумывать и планировать проекты</li>
										<li>Искать российских авторов и зарубежные бестселлеры</li>
										<li>Организовывать выпуск новых суперпродуктов (книг, серий, блокнотов и не только)</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Искреннюю любовь к книгам</li>
										<li>Опыт работы редактором в издательстве или медиа</li>
										<li>Умение доводить начатое до конца и не сдаваться на финише,</li>
										<li>как бы ни было сложно</li>
										<li>Ориентацию на результат и рост</li>
										<li>Жизнерадостный характер и чувство юмора (без этого у нас никак)</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="junior-editor">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Младший редактор направлений «Популярная медицина», «Рукоделие»</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/5_Младший_редактор_направлений_популярная_медицина_рукоделие.jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>1-3 года</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>Полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>от 27 000 ₽</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ищем того, кто от души любит популярную медицину и рукоделие и готов продвигать проекты по этим темам. Разрабатывать концепции и продвигать проекты в digital-пространстве – вот то, что предстоит делать младшему редактору.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Отслеживать сроки редакционно-издательской подготовки книг</li>
										<li>Координировать работу редакторов, корректоров, верстальщиков, художественных редакторов, авторов, переводчиков</li>
										<li>Писать аннотации, редакционные вступления, другие материалов</li>
										<li>Контролировать редактирование и корректуру</li>
										<li>Сдавать макеты в производство.</li>
										<li>Придумывать названия книг, слоганов, идей обложек, новых серий</li>
										<li>Отслеживать тенденции в нише</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Высшее профильное образование (полиграфическое, гуманитарное</li>
										<li>или в сфере менеджмента)</li>
										<li>Владение английским не ниже уровня intermediate</li>
										<li>Ответственность, дисциплинированность, организованность</li>
										<li>Опыт работы в издательстве (книжном, журнальном или газетном) будет плюсом </li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->
					</div>
					<!-- End of Post General -->
				</div>
			</div>
		</div>

		<div class="vacancy-feedback" id="feedback">
			<div class="container">
				<div class="title">Не нашел подходящую вакансию? Напиши нам!</div>
				<form class="form">
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Имя и фамилия">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Телефон">
					</div>
					<div class="form__field  error">
						<input type="text" class="form__input" placeholder="E-mail">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Ссылка на резюме или портфолио">
					</div>
					<div class="form__field">
						<textarea placeholder="Сообщение"></textarea>
					</div>

					<button type="submit" class="btn">Отправить</a>
				</form>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')