//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Content -->
	<section class="section vacancy">
		<div class="vacancy-top">
			<div class="container">
				<div class="content">
					<h2 class="title">Работа у нас</h2>
					<p class="desc">БОМБОРА становится все больше и больше. Мы растем вместе с каждой новой книгой. И нам нужны ваши очки, мотоцикл и костюм (зачеркнуто) ваш опыт и любовь к книгам.</p>
					<p class="desc">Если вы обладаете релевантным опытом, готовы подтвердить его своим резюме и классно выполненным тестовым заданием, то ищите в списке вакансий ТУ САМУЮ, и мы вас ждем!</p>

					<a href="#departments" class="btn">Посмотреть все</a>
				</div>

				//@@include('../_include/vacancy-top-slider.html')

			</div>
		</div>
		<div class="vacancy-line"></div>

		<div class="vacancy-departments" id="departments">
			<div class="container">
				<h2 class="title">Отделы</h2>
				<nav class="vacancy-departments__nav">
					<span><a href="#!">Искусство и культура</a></span>
					<span><a href="#!">Маркетинг</a></span>
					<span><a href="#!">Кулинария</a></span>
					<span><a href="#!">Редакция</a></span>
					<span><a href="#!">Корпоративные продажи</a></span>
				</nav>
			</div>
		</div>
		<div class="vacancy-list">
			<div class="container">
				<div class="ui post style-full-2 mb-default-2">

					<!-- Post General -->
					<div class="post-general">

						<!-- Post Toggle -->
						<div class="post-toggle" data-gumshoe-header>
							<ul data-gumshoe>
								<li><a href="#">Искусство и культура</a></li>
								<li><a href="#">Маркетинг</a></li>
								<li><a href="#">Кулинария</a></li>
								<li><a href="#">Редакция</a></li>
								<li><a href="#">Корпоративные продажи</a></li>
							</ul>
						</div>
						<!-- End of Post Toggle -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="editor-nobook-product">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Стажер отдела маркетинга</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/6_Стажер_отдела_маркетинга_по_направлениям_эзотерика_и_психология .jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>опыт не требуется</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>гибкий график</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>не оплачивается</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ищем молодого специалиста, готового начать свою карьеру в лучшем издательском холдинге страны. То есть у нас. Продвижение книг по эзотерике и психологии –  отличная первая работа, не так ли?</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Участвовать в маркетинговых проектах</li>
										<li>Составлять отчеты</li>
										<li>Создавать презентации</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Коммуникабельность и активность</li>
										<li>Ответственность</li>
										<li>Заинтересованность в профессиональном развитии</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Возможность задавать вопросы и получать на них профессиональные ответы.</li>
										<li>Документы о прохождении практики/стажировки для вуза или будущего работодателя (характеристика, рекомендательное письмо)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->
					</div>
					<!-- End of Post General -->
				</div>
			</div>
		</div>

		<div class="vacancy-feedback" id="feedback">
			<div class="container">
				<div class="title">Не нашел подходящую вакансию? Напиши нам!</div>
				<form class="form">
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Имя и фамилия">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Телефон">
					</div>
					<div class="form__field  error">
						<input type="text" class="form__input" placeholder="E-mail">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Ссылка на резюме или портфолио">
					</div>
					<div class="form__field">
						<textarea placeholder="Сообщение"></textarea>
					</div>

					<button type="submit" class="btn">Отправить</a>
				</form>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')