//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Content -->
	<section class="section vacancy">
		<div class="vacancy-top">
			<div class="container">
				<div class="content">
					<h2 class="title">Работа у нас</h2>
					<p class="desc">БОМБОРА становится все больше и больше. Мы растем вместе с каждой новой книгой. И нам нужны ваши очки, мотоцикл и костюм (зачеркнуто) ваш опыт и любовь к книгам.</p>
					<p class="desc">Если вы обладаете релевантным опытом, готовы подтвердить его своим резюме и классно выполненным тестовым заданием, то ищите в списке вакансий ТУ САМУЮ, и мы вас ждем!</p>

					<a href="#departments" class="btn">Посмотреть все</a>
				</div>

				//@@include('../_include/vacancy-top-slider.html')

			</div>
		</div>
		<div class="vacancy-line"></div>

		<div class="vacancy-departments" id="departments">
			<div class="container">
				<h2 class="title">Отделы</h2>
				<nav class="vacancy-departments__nav">
					<span><a href="#!">Искусство и культура</a></span>
					<span><a href="#!">Маркетинг</a></span>
					<span><a href="#!">Кулинария</a></span>
					<span><a href="#!">Редакция</a></span>
					<span><a href="#!">Корпоративные продажи</a></span>
				</nav>
			</div>
		</div>
		<div class="vacancy-list">
			<div class="container">
				<div class="ui post style-full-2 mb-default-2">

					<!-- Post General -->
					<div class="post-general">

						<!-- Post Toggle -->
						<div class="post-toggle" data-gumshoe-header>
							<ul data-gumshoe>
								<li><a href="#">Искусство и культура</a></li>
								<li><a href="#">Маркетинг</a></li>
								<li><a href="#">Кулинария</a></li>
								<li><a href="#">Редакция</a></li>
								<li><a href="#">Корпоративные продажи</a></li>
							</ul>
						</div>
						<!-- End of Post Toggle -->

						<!-- Post Content -->
						<div class="post-content">
							<section class="vacancy-details" id="editor-nobook-product">
								<div class="vacancy-details__label">вакансия</div>

								<div class="vacancy-details__title">Менеджер по корпоративным продажам (интернет-реклама)</div>

								<div class="vacancy-details__head">
									<div class="vacancy-details__display">
										<div class="vacancy-details__img"><img src="/assets/img/vacancy/7_Менеджер_по_корпоративным_продажам(интернет-реклама).jpg" alt=""></div>
										<div class="vacancy-details__icons">
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-calendar.png" srcset="/assets/img/vacancy/icon-calendar@2x.png 2x" alt=""></i>
												<p>не требуется</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-time.png" srcset="/assets/img/vacancy/icon-time@2x.png 2x" alt=""></i>
												<p>полный день</p>
											</div>
											<div class="vacancy-details__icons-item">
												<i><img src="/assets/img/vacancy/icon-rub.png" srcset="/assets/img/vacancy/icon-rub@2x.png 2x" alt=""></i>
												<p>...</p>
											</div>
										</div>
									</div>
									<div class="vacancy-details__desc">Мы ждем менеджера по продажам на развитие кулинарного сегмента. Очень хотим, чтобы вы вкусно во всех отношениях продавали рекламу и наши книжные спецпроекты.</div>
								</div>

								<div class="vacancy-details__body">
									<h3>Что нужно будет делать</h3>
									<ul>
										<li>Искать новых клиентов</li>
										<li>Выполнять планов продаж</li>
										<li>Проводить встречи с клиентами и рекламными агентствами</li>
										<li>Вести CRM-системы, отчетность, контроль оплат</li>
									</ul>

									<h3>Что мы ожидаем от идеального кандидата</h3>
									<ul>
										<li>Высшее образование</li>
										<li>Опыт успешных продаж рекламы в интернете/прессе/спецпроектах</li>
										<li>от 1 года</li>
										<li>Хорошие коммуникативные навыки</li>
										<li>Оптимизм, позитивный подход к решению вопросов</li>
									</ul>

									<h3>Что мы предлагаем</h3>
									<ul>
										<li>Много интересных и нетривиальных задач</li>
										<li>Работу с крутыми книгами</li>
										<li>Дружелюбный и приятный коллектив</li>
										<li>Перспективы профессионального и личностного роста</li>
										<li>Гибкое начало и окончание рабочего дня (+ один день в месяц home-office)</li>
									</ul>
								</div>

								<div class="vacancy-details__bonuses vacancy-bonuses">
									<div class="title">Бонусы</div>
									<div class="vacancy-bonuses__flex">
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-tk.png" srcset="/assets/img/vacancy/icon-tk@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Оформление <br> по ТК РФ</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-dms.png" srcset="/assets/img/vacancy/icon-dms@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">ДМС</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-learn.png" srcset="/assets/img/vacancy/icon-learn@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Обучение <br> за счет компании</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-products.png" srcset="/assets/img/vacancy/icon-products@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Скидки <br> на продукцию</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-gym.png" srcset="/assets/img/vacancy/icon-gym@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Бесплатный <br> тренажерный зал</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-up.png" srcset="/assets/img/vacancy/icon-up@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Перспективы <br> роста</div>
										</div>
										<div class="vacancy-bonuses__item">
											<div class="vacancy-bonuses__icon"><img src="/assets/img/vacancy/icon-place.png" srcset="/assets/img/vacancy/icon-place@2x.png 2x" alt=""></div>
											<div class="vacancy-bonuses__text">Офис рядом <br> с Полежаевская</div>
										</div>
									</div>
								</div>

								<a href="#!" class="btn">Отозваться</a>
								<p class="vacancy-details__note">Издательство БОМБОРА не оплачивает выполнение тестового задания. Все кейсы, предоставленные в тестовых являются примерными. Результаты выполненных творческих тестовых заданий принадлежат авторам и никогда не используются издательством в коммерческих или каких-либо иных целях.</p>
							</section>
						</div>
						<!-- End of Post Content -->
					</div>
					<!-- End of Post General -->
				</div>
			</div>
		</div>

		<div class="vacancy-feedback" id="feedback">
			<div class="container">
				<div class="title">Не нашел подходящую вакансию? Напиши нам!</div>
				<form class="form">
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Имя и фамилия">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Телефон">
					</div>
					<div class="form__field  error">
						<input type="text" class="form__input" placeholder="E-mail">
					</div>
					<div class="form__field">
						<input type="text" class="form__input" placeholder="Ссылка на резюме или портфолио">
					</div>
					<div class="form__field">
						<textarea placeholder="Сообщение"></textarea>
					</div>

					<button type="submit" class="btn">Отправить</a>
				</form>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')