//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main fan-edition">

	<!-- Section: Breadcrumbs -->
	<section class="section breadcrumbs">
		<div class="container">
			<div class="ui breadcrumbs">
				<a href="#.">Блог</a>
				<span>Фанатские издания</span>
			</div>
		</div>
	</section>
	<!-- End of Section: Breadcrumbs -->

	<!-- Section: Content -->
	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="content__title">Бомбора на связи!</h1>
				<p class="content__desc">Вы попали на необычную страницу. Здесь мы собираем будущие проекты, в которых вы можете принять участие. </p>
				<p class="content__desc">БОМБОРА выпускает много книг на темы, которые традиционно привлекают поклонников. Комиксы и автобиографии, книги о музыкантах и музыке, о спорте и спортивных звездах, о кино, режиссерах и видеоиграх. Мы уже издали книгу о противостоянии Marvel и DC, дневник принцессы Леи и биографию Стена Ли, воспоминания Оззи Озборна и лирику Тилля Линдеманна.</p>
				<p class="content__desc">По опыту мы знаем, как виртуозно преданные поклонники разбираются в «своих» темах. Они на самом деле понимают, как сделать книгу о кумире идеальной. И мы хотим объеденить наши усилия, чтобы в свет вышло как можно больше идеальных книг.</p>
				<p class="content__desc">Поэтому, — выбирайте свою тему и заполняйте форму — ваше письмо уйдет прямо к редактору проекта! </p>
			</div>
		</div>
	</section>

	<section class="second">
		<div class="container">
			<div class="content">

				<a href="#!" class="theme">
					<div class="theme__icon">
						<img src="../assets/img/fan-edition/icon-1.png"  srcset="../assets/img/fan-edition/icon-1@2x.png">
					</div>
					<p class="theme__title">Кино</p>
				</a>

				<a href="#!" class="theme">
					<div class="theme__icon">
						<img src="../assets/img/fan-edition/icon-2.png"  srcset="../assets/img/fan-edition/icon-2@2x.png">
					</div>
					<p class="theme__title">Музыка</p>
				</a>
				
				<a href="#!" class="theme">
					<div class="theme__icon">
						<img src="../assets/img/fan-edition/icon-3.png"  srcset="../assets/img/fan-edition/icon-3@2x.png">
					</div>
					<p class="theme__title">Игры</p>
				</a>

				<a href="#!" class="theme">
					<div class="theme__icon">
						<img src="../assets/img/fan-edition/icon-4.png"  srcset="../assets/img/fan-edition/icon-4@2x.png">
					</div>
					<p class="theme__title">Комиксы</p>
				</a>

				<a href="#!" class="theme">
					<div class="theme__icon">
						<img src="../assets/img/fan-edition/icon-5.png"  srcset="../assets/img/fan-edition/icon-5@2x.png">
					</div>
					<p class="theme__title">Субкультуры</p>
				</a>

			</div>
		</div>
	</section>

	<section class="three">
		<div class="container">
			<p class="text-carrot">Готовится к изданию</p>
			<div class="content">
				<div class="book">
					<div class="book__cover"><img src="../assets/img/fan-edition/book-1.png"></div>
					<a href="#" class="text-blue">Книга на Амазоне</a>
				</div>
				<div class="item">
					<h2 class="title">Тайная история Marvel Comics</h2>
					<p class="text">Все секреты корпорации, подарившей нам Железного Человека, Капитана Америку и Человека-Паука</p>
					<p class="text-bold">Самая полная история великой компании, изменившей сразу две индустрии – комиксов и кино! Чтобы написать эту книгу, ее автор Шон Хау взял больше 100 интервью у всех причастных к созданию Marvel</p>
					<p class="text-s">В начале 1960-х годов едва державшаяся на плаву компания Marvel представила миру целую группу супергероев — Фантастическую Четверку, Капитана Америку, Человека-Паука и Людей Икс. Несмотря на суперспособности эти персонажи были самыми обычными людьми, из тех, кого вы каждый день встречаете на улице. Каждый из них имел свою драму, воевал в своей битве, переживал успехи и неудачи.</p>
					<p class="text-s">Эти герои стали настолько неожиданными для двухмерного мира комиксов, что мгновенно полюбились читателям.</p>
					<p class="text-s">Эта книга — о людях, подаривших миру легендарных супергероев. Об огромной корпорации, которая много лет назад бросила вызов титану индустрии DC Comics. О Мартине Гудмене, который ничего не понимал в комиксах и просто хотел заработать как можно больше денег. О Стэне Ли, пришедшем в компанию курьером, а в итоге ставшим главным лицом Marvel. О Джеке Кирби, ветеране Второй Мировой войны, который просто хотел придумывать невероятные истории, но стал жертвой чужой алчности и был вынужден покинуть компанию. И о многих других людях, создававших великую вселенную Marvel. </p>
					<div class="quote">
						<div class="quote__title">Задача для спец. десанта</div>
						<p class="quote__text">Проверить все имена и термины, оценить читабельность текста</p>
					</div>
					<div class="item__subtitle">А что взамен?</div>
					<ul class="list">
						<li class="text">Денежное вознаграждение</li>
						<li class="text">Ваше имя в выходных данных</li>
						<li class="text">Авторские экземпляры</li>
					</ul>
					<button class="btn  js-fe-popup">Мне интересно!</button>
				</div>
			</div>
		</div>
	</section>

	<div class="fe-popup">
		<div class="fe-popup__close"></div>
		
		<div class="fe-popup__scrollarea">
			<div class="fe-popup__container">
				<form action="#." class="fe-popup__form">
					<div class="fe-popup__field">
						<input type="text" class="fe-popup__input" placeholder="Имя">
					</div>

					<div class="fe-popup__field">
						<input type="text" class="fe-popup__input" placeholder="E-mail">
					</div>
					
					<div class="fe-popup__field">
						<input type="text" class="fe-popup__input  error" placeholder="Ссылка на соцсети / портфолио">
					</div>
					
					<div class="fe-popup__field">
						<textarea name="" class="fe-popup__textarea" placeholder="Расскажите редактору о себе и вашем интересе к проекту"></textarea>
					</div>

					<div class="fe-popup__group">
						<p>Как вы хотите поучаствовать в проекте?</p>

						<div class="fe-popup__checkboxes-list">
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Переводом</span>
							</label>
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Иллюстрациями</span>
							</label>
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Редактурой</span>
							</label>
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Вычиткой</span>
							</label>
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Помощью с терминами</span>
							</label>
							<label class="fe-popup__checkbox">
								<input type="checkbox">
								<span>Продвижением</span>
							</label>
						</div>
					</div>

					<button class="btn">Отправить редактору</button>
				</form>
			</div>
		</div>
	</div>

	<script>
		window.addEventListener('load', function () {

			$('.js-fe-popup').click(function () {
				$('.fe-popup').fadeIn()
			})

			$('.fe-popup__close').click(function () {
				$('.fe-popup').fadeOut('fast')
			})

			$(document).keyup(function (e) {
				if (e.keyCode == 27) $('.fe-popup').fadeOut('fast')
			})
		})
	</script>

	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')