//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Breadcrumbs -->
	<section class="section breadcrumbs">
		<div class="container">
			<div class="ui breadcrumbs">
				<a href="#.">Блог</a>
				<span>Спецпроекты</span>
			</div>
		</div>
	</section>
	<!-- End of Section: Breadcrumbs -->

	<!-- Section: Content -->
	<section class="section default-padding  special-projects">
		<div class="container">
			<h1 class="title">Наши Спецпроекты</h1>
			<p class="desc">Рассказываем о самых важных и самых бомбических книгах</p>

			<div class="special-projects__items">

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-1.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Культпросвет</h3>
						<p class="special-projects__desc">Книги про кино, музыку, живопись и искусство. Для всех, кто на выставках шепчет: «Очень красиво, но что все это значит?»</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-2.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Ваша идеальная работа</h3>
						<p class="special-projects__desc">Как найти работу, которая поможет найти и реализовать себя? Поймайте счастливый момент на крючок и поймите, как воплотить его в жизнь!</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-3.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Самый магический сайт</h3>
						<p class="special-projects__desc">Избавляет от любой фигни в жизни. Просто расскажи, что тебя бесит.</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-4.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Крутые кроссовки</h3>
						<p class="special-projects__desc">Раскрываем тайну и учим создавать самую идеальную в мире обувь. Даже Фил Найт придет учиться вашему опыту!</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-5.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Бизнес как искусство</h3>
						<p class="special-projects__desc">Книги от лучших российских предпринимателей. Расскажем, как вести переговоры с Госдумой, не попадать под запреты Роскомнадзора и осваивать незнакомые рынки.</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/360х300-bunt.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Сказки на ночь для юных бунтарок</h3>
						<p class="special-projects__desc">Книга, которая изменит мир</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-6.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Куриный бульон <br> для души</h3>
						<p class="special-projects__desc">Щепотка надежды, пару кубиков уверенности и несколько ложек счастья. Мы знаем, как вылечить любую душу.</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-7.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Крути глобус, езжай <br> в отпуск!</h3>
						<p class="special-projects__desc">Блогеры, путешественники и эксперты представляют список лучших направлений для отдыха в 2019. Вдохновляйтесь, выходите за грани обыденности и отправляйся в незабываемое приключение!</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-8.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Начни с «Почему?»</h3>
						<p class="special-projects__desc">Почему одни люди добиваются успеха, а другие нет? Потому что первые умеют задавать правильные вопросы. Учим этому навыку!</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-9.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Бомбические календари</h3>
						<p class="special-projects__desc">Обещаем, таких вы еще не видели. Украсят кабинет и кухню. Научат хорошему, столкнут с дивана и покажут мир.</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/360x300-poets.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Живые поэты</h3>
						<p class="special-projects__desc">Настоящему поэту можно все</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row  special-projects__row--reverse">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-10.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Выбраться за 60 минут</h3>
						<p class="special-projects__desc">Квест выбрался за пределы тесных комнат! Представляем эскейп-бук — книги, построенные по принципу самого популярного в мире квеста.</p>
					</div>
				</a>

				<a href="#!" class="special-projects__row">
					<div class="special-projects__img"><img src="../assets/img/special-projects/img-11.png"></div>
					<div class="special-projects__content">
						<h3 class="special-projects__title">Советы ленивой мамы</h3>
						<p class="special-projects__desc">Для всех мам, которые устали и хотят передохнуть. Генератор гениальных и исчерпывающих ответов на все «мамские» вопросы.</p>
					</div>
				</a>

			</div>

			<div class="rights"><a href="https://ru.freepik.com/free-photos-vectors/mockup">Mockup psd создан(а) freepik - ru.freepik.com</a></div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')