//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

  <!-- Section: Breadcrumbs -->
  <section class="section breadcrumbs">
    <div class="container">
      <div class="ui breadcrumbs">
        <a href="#.">Блог</a>
        <span>Рассылки БОМБОРЫ</span>
      </div>
    </div>
  </section>
  <!-- End of Section: Breadcrumbs -->

  <!-- Section: Content -->
  <section class="section pb-0 subscribe-bombora">
    <div class="container">
      <h1 class="title">Рассылки БОМБОРЫ</h1>
      <div class="desc-wrapper">
        <p class="desc">Здесь можно выбрать, какие из наших рассылок вы хотите читать</p>
      </div>

      <div class="subscribe-bombora-content">
        <div class="img">
          <img src="/assets/img/subscribe-bombora/subscribe-bombora-img.png" srcset="/assets/img/subscribe-bombora/subscribe-bombora-img@2x.png 2x" alt="">
        </div>
        <div class="info">
          <label class="info__label">
            <div class="info__checkbox"><input type="checkbox"><span></span></div>
            <span class="info__img-large  new"><img src="/assets/img/subscribe-bombora/subscribe-bombora-img_1.png" srcset="/assets/img/subscribe-bombora/subscribe-bombora-img_1@2x.png 2x" alt=""></span>
            <span class="info__img"><img src="/assets/img/subscribe-bombora/content-img_1.png" srcset="/assets/img/subscribe-bombora/content-img_1@2x.png 2x" alt=""></span>
            <div class="info__title">Новинки месяца</div>
            <span class="info__note">1 письмо в месяц</span>
            <p class="info__text">Рассказываем обо всех книгах, которые выйдут в&nbsp;ближайший месяц, и&nbsp;помогаем найти те самые.</p>
          </label>
          <label class="info__label">
            <div class="info__checkbox"><input type="checkbox"><span></span></div>
            <span class="info__img-large  changes"><img src="/assets/img/subscribe-bombora/subscribe-bombora-img_2.png" srcset="/assets/img/subscribe-bombora/subscribe-bombora-img_2@2x.png 2x" alt=""></span>
            <span class="info__img"><img src="/assets/img/subscribe-bombora/content-img_2.png" srcset="/assets/img/subscribe-bombora/content-img_2@2x.png 2x" alt=""></span>
            <div class="info__title">Рассылка для тех, кто хочет перемен</div>
            <span class="info__note">1 письмо в месяц</span>
            <p class="info__text">Скорая психологическая помощь от наших авторов: как справиться с выгоранием, перестать стрессовать, найти себя и понять партнера.</p>
          </label>
          <label class="info__label games">
            <div class="info__checkbox"><input type="checkbox"><span></span></div>
            <span class="info__img-large  games"><img src="/assets/img/subscribe-bombora/subscribe-bombora_games.png" srcset="/assets/img/subscribe-bombora/subscribe-bombora_games@2x.png 2x" alt=""></span>
            <span class="info__img"><img src="/assets/img/subscribe-bombora/content-img_games.png" srcset="/assets/img/subscribe-bombora/content-img_games@2x.png 2x" alt=""></span>
            <div class="info__title">Рассылка для геймеров</div>
            <span class="info__note">1 письмо в месяц</span>
            <p class="info__text">Рассылка игрового направления Бомборы: для геймеров, разработчиков и фанатов видеоигр.</p>
          </label>
          <form action="#!" class="info__form">
            <div class="info__form-field">
              <!--              <div class="info__form-input">-->
              <input type="email" placeholder="E-mail">
              <!--              </div>-->
            </div>
            <div class="info__form-field">
              <!--              <div class="info__form-input">-->
              <input type="text" placeholder="Имя (необязательно)">
              <!--              </div>-->
            </div>
            <div class="info__form-field">
              <button type="submit" class="btn  btn-primary  btn-block">ПОДПИСАТЬСЯ НА ВЫБРАННЫЕ ПИСЬМА</button>
            </div>
            <p class="info__form-desc">Если вы уже подписаны на какую-то из наших рассылок — не&nbsp;волнуйтесь: мы увидим это и&nbsp;не&nbsp;будем присылать письма дважды.</p>
          </form>
          <div class="info__form">
            <div class="info__form-field">
              <button type="submit" class="btn">ОТПИСАТЬСЯ ОТ ВСЕГО</button>
            </div>
            <p class="info__form-desc">Мы удалим ваш адрес из всех баз и списков.</p>
          </div>
        </div>
      </div>

      <div class="mail-examples">
        <div class="mail-examples__title">Примеры писем</div>
        <div class="mail-examples__row">
          <div class="mail-examples__item">
            <div class="mail-examples__img"><img src="/assets/img/subscribe-bombora/example_1.png" srcset="/assets/img/subscribe-bombora/example_1@2x.png 2x" alt=""></div>
            <p class="mail-examples__text">Рассылка «Главные новинки апреля»</p>
          </div>
          <div class="mail-examples__item">
            <div class="mail-examples__img"><img src="/assets/img/subscribe-bombora/example_2.png" srcset="/assets/img/subscribe-bombora/example_2@2x.png 2x" alt=""></div>
            <p class="mail-examples__text">Рассылка «Книга месяца»</p>
          </div>
          <div class="mail-examples__item">
            <div class="mail-examples__img"><img src="/assets/img/subscribe-bombora/example_3.png" srcset="/assets/img/subscribe-bombora/example_3@2x.png 2x" alt=""></div>
            <p class="mail-examples__text">Рассылка «Игровое направление Бомборы»</p>
          </div>
        </div>
      </div>
    </div>

    <div class="soon-content">
      <div class="container">
        <div class="line"><img src="/assets/img/subscribe-bombora/wave.svg" alt=""></div>
        <div class="soon-content__top">
          <div class="soon-content__title">скоро</div>
          <p class="soon-content__desc">Эти рассылки готовятся к запуску. Но&nbsp;вы можете подписаться на них и&nbsp;получить письмо первыми.</p>
        </div>

        <div class="subscribe-bombora-content">
          <div class="img"></div>
          <div class="info">
            <label class="info__label">
              <div class="info__checkbox"><input type="checkbox"><span></span></div>
              <span class="info__img-large  style"><img src="/assets/img/subscribe-bombora/soon-img_1.png" srcset="/assets/img/subscribe-bombora/soon-img_1@2x.png 2x" alt=""></span>
              <span class="info__img"><img src="/assets/img/subscribe-bombora/soon-content-img_1.png" srcset="/assets/img/subscribe-bombora/soon-content-img_1@2x.png 2x" alt=""></span>
              <div class="info__title">Рассылка для&nbsp;стильных и&nbsp;независимых</div>
              <p class="info__text">Рассылка о стиле, удобном гардеробе, бьюти-трендах и&nbsp;отношениях от издательства Одри</p>
            </label>
            <form action="#!" class="info__form">
              <div class="info__form-field">
                <input type="email" placeholder="E-mail">
              </div>
              <div class="info__form-field">
                <button type="submit" class="btn  btn-primary btn-fill">ПОДПИСАТЬСЯ</button>
              </div>
              <p class="info__form-desc">Если вы&nbsp;уже&nbsp;подписаны на&nbsp;какую-то из наших рассылок — не&nbsp;волнуйтесь: мы увидим это и&nbsp;не&nbsp;будем присылать письма дважды.</p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal-->
    <div class="subscribe-modal-overlay">
      <div class="subscribe-modal-area">
        <div class="subscribe-modal">
          <div class="subscribe-modal-image"><img src="/assets/img/subscribe-bombora/modal-subscribe-img.png" srcset="/assets/img/subscribe-bombora/modal-subscribe-img@2x.png 2x" alt=""></div>
          <div class="subscribe-modal-content">
            <div class="subscribe-modal-title">Вы подписаны!</div>
            <p class="subscribe-modal-desc">Письмо от нас уже у вас на почте! Не забудьте перейти по ссылке в нем и подтвердить ваш адрес, иначе мы&nbsp;не&nbsp;сможем отправлять вам письма :(</p>
            <button type="button" class="btn">ЗАКРЫТЬ</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
<script>
  const showSubscribeModal = () => {
    $('.subscribe-modal-overlay').fadeIn('fast')
  }
  const hideSubscribeModal = () => {
    $('.subscribe-modal-overlay').fadeOut('fast')
  }
  $('.subscribe-modal-overlay').on('click', function (e) {
    if (!$(e.target).closest('.subscribe-modal').length) {
      hideSubscribeModal()
    }
  })
  $('.subscribe-modal .btn').on('click', function (e) {
    hideSubscribeModal()
  })
  $(document).on('keyup', function (e) {
    if (e.keyCode === 27) {
      hideSubscribeModal()
    }
  })
</script>
//@@include('../_include/_html-end.html')