//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

  <!-- Section: Breadcrumbs -->
  <section class="section breadcrumbs">
    <div class="container">
      <div class="ui breadcrumbs">
        <a href="#.">Блог</a>
        <span>Рассылки БОМБОРЫ</span>
      </div>
    </div>
  </section>
  <!-- End of Section: Breadcrumbs -->

  <!-- Section: Content -->
  <section class="section pb-0 subscribe-confirm">
    <div class="container">
      <div class="info">
        <h2 class="title">Ваша почта успешно подтверждена!</h2>
        <p class="desc">
          Все готово! Вы всегда можете вернуться и настроить ваши подписки на специальной странице.
        </p>
        <div class="img"><img src="/assets/img/subscribe-bombora/subscribe-confirm-img.png" srcset="/assets/img/subscribe-bombora/subscribe-confirm-img@2x.png 2x" alt=""></div>
        <div class="bombora-fact-box"><b>Фанфакт от Бомборы:</b> мы называем этот значок «@» собачкой. Но&nbsp;для&nbsp;испанцев это «улитка», для немцев и поляков — «обезьяна», для&nbsp;финнов — «кошачий хвост» (наш фаворит), в Швеции — «слоновий хобот», а в Израиле — «штрудель».</div>
        <div class="decor-line"><img src="/assets/img/subscribe-bombora/subscribe-confirm-line.png" srcset="/assets/img/subscribe-bombora/subscribe-confirm-line@2x.png 2x" alt=""></div>
      </div>
    </div>
  </section>
  <!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
<script>
  const showSubscribeModal = () => {
    $('.subscribe-modal-overlay').fadeIn('fast')
  }
  const hideSubscribeModal = () => {
    $('.subscribe-modal-overlay').fadeOut('fast')
  }
  $('.subscribe-modal-overlay').on('click', function (e) {
    if (!$(e.target).closest('.subscribe-modal').length) {
      hideSubscribeModal()
    }
  })
  $('.subscribe-modal .btn').on('click', function (e) {
    hideSubscribeModal()
  })
  $(document).on('keyup', function (e) {
    if (e.keyCode === 27) {
      hideSubscribeModal()
    }
  })
</script>
//@@include('../_include/_html-end.html')