//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('../_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section">
		<div class="container">

			<!-- Event -->
			<div class="event">
				<h1 class="title">Встреча с Александром Демидовым  </h1>
				<div class="event__cover  decor  decor--1">
					<img src="https://images.unsplash.com/photo-1572996398321-5c4b5e687548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
				</div>
				<div class="info">
					<div class="book">
						<div class="book__cover">
							<img src="https://i.imgur.com/NOVieD8.png" alt="">
						</div>
						<a href="#." class="ui button style-default">Купить</a>
						<div class="share">
							<div class="title">Поделиться:</div>
							<div class="socials">
								<a href="#."><i class="fab fa-vk"></i></a>
								<a href="#."><i class="fab fa-facebook-f"></i></a>
								<a href="#."><i class="fab fa-twitter"></i></a>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="meta">
							<div class="date">29 марта 2018г.</div>
							<div class="address">Москва, Формула Кино Горизонт на Фрунзенской  Комсомольский пр., д. 21/10</div>
						</div>
						<a href="#!" class="add-event"><i class="far fa-calendar-alt"></i> <p>Добавить в календарь</p></a>
						<div class="text">
							<p>Александр Демидов познакомился с другими участниками «Квартета» еще на первом курсе, и с тех пор не расстается с ними вот уже в течение 26 лет. На закрытой презентации книги он расскажет, с чего начинался один из самых знаменитых театров страны, как сумел пережить суровые девяностые и достигнуть потрясающего успеха в двухтысячные.</p> 
							<p>17 сентября в 19:00 вы сможете увидеть любимых артистов «Квартета И» вне сцены и задать Александру Демидову любые интересующие вопросы.</p> 
							<p>Каждый участник мероприятия получит подарок — книгу «Квартет Я. Как создавался самый смешной театр страны». Ее можно будет подписать на память у автора.</p>
							<p>В конце презентации — просмотр комедии «Громкая связь», в которой снялись все участники «Квартета».</p>
							<p>Билеты можно приобрести на сайте kinoteatr.ru</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Event -->
			
		</div>
	</section>
	<!-- End of Section: Content -->

	<!-- Section: Content -->
	<section class="section  events-another">
		<div class="container">
				<div class="section-head">
					<div class="inner">
						<div class="title">
							<h2>Другие события</h2>
						</div>
						<div class="actions">
							<div class="action">
								<a href="#.">Посмотреть все</a>
							</div>
						</div>
					</div>
				</div>

				<div class="events-list  events-list--slider">
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--1"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--2"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--3"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
				</div>
			
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->


//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')