//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section">

	<!-- Section: Content -->
	<section class="section events">
		<div class="container">

			<div class="">
				<div class="events-filter">
					<a href="#!" class="active">Месяц</a>
					<a href="#!">Неделя</a>
					<a href="#!">Выходные</a>
					<a href="#!">Завтра</a>
					<a href="#!">Сегодня</a>
				</div>

				<div class="events-list  events-list--with-calendar">
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--1"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--2"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card   events-card--calendar">
						<div class="events-card__container">
							<!-- Calendar -->
							<div class="ui calendar style-default">
								<div id="date"></div>
							</div>
						</div>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--3"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--4"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--5"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--6"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--7"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--8"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--9"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
					<div class="events-card">
						<a href="#!" class="events-card__container">
							<div class="events-card__img  decor  decor--10"><img src="/assets/img/bg-post.png" alt=""></div>
							<div class="events-card__content">
								<h4 class="events-card__title">Встреча с Максимом Жегалиным</h4>
								<p class="events-card__date">5 сетнября 2019, 19:30</p>
								<p class="events-card__address">Москва, книжный магазин «Республика»</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')

<!-- ----- Custom scripts ----- -->
<script>
	$( document ).ready(function() {
		$('#date').datepicker({ 
			dateFormat: "yy-mm-dd",
			nextText: '<i class="ion ion-ios-arrow-right"></i>',
			prevText: '<i class="ion ion-ios-arrow-left"></i>',
			firstDay: 1,
			monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
			dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
		});
	});
</script>
<!-- ----- End of Custom scripts ----- -->

//@@include('../_include/_html-end.html')