//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('../_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section">
		<div class="container">

			<div id="app">
				<calendar-events></calendar-events>
			</div>

			<template id="template-calendar-events-component">
				<section class="page events style-2">

					<div class="bg">
						<img src="/assets/img/events-bg.png" alt="">
					</div>

					<!-- Calendar -->
					<template v-for="(city, i) in cities" :key="i">
						<div v-if="currentCity === city.name" class="calendar">
							<div class="ui calendar style-default">
								<div class="info">
									<span v-on:click="prevMonth()"><i class="ion ion-ios-arrow-left"></i></span>
									<span class="title">{{ shownInCalendar.format('YYYY MMMM') }}</span>
									<span v-on:click="nextMonth()"><i class="ion ion-ios-arrow-right"></i></span>
								</div>
								<div class="month">
									<div class="day day-0 title">Пн</div>
									<div class="day day-1 title">Вт</div>
									<div class="day day-2 title">Ср</div>
									<div class="day day-3 title">Чт</div>
									<div class="day day-4 title">Пт</div>
									<div class="day day-6 title">Сб</div>
									<div class="day day-7 title">Вс</div>
									<div class="days">
										<div v-for="day in moment(shownInCalendar).daysInMonth()" v-bind:class="[dayNumberClass(day), daySelectedClass(day)]" v-on:click="showInCalendar(day)" class="day">
											{{ day }}
										</div>
									</div>
								</div>
								<div class="info">
									<span v-on:click="changeCity(i - 1)"><i class="ion ion-ios-arrow-left"></i></span>
									<span class="title">{{ currentCity }}</span>
									<span v-on:click="changeCity(i + 1)"><i class="ion ion-ios-arrow-right"></i></span>
								</div>
							</div>
						</div>
					</template>
					<!-- End of Calendar -->

					<!-- Events -->
					<div class="events">
						<div class="event selected">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">20</div>
						</div>
						<div class="event">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">21</div>
						</div>
						<div class="event">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">22</div>
						</div>
						<div class="event">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">23</div>
						</div>
						<div class="event">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">24</div>
						</div>
						<div class="event">
							<div class="title">Автор (Апельсинок) Ольга Савельева представит новую книгу</div>
							<div class="date">25</div>
						</div>
					</div>
					<!-- End of Events -->

				</section>
			</template>

		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

<!-- ----- Custom scripts ----- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/ru.js"></script>
<script>
	var calendarData = [
		{
			"date": "2018-04-20",
			"title": "Автор (Апельсинок) Ольга Савельева представит новую книгу"
		},
		{
			"date": "2018-04-20",
			"title": "Встреча с автором"
		},
		{
			"date": "2018-04-20",
			"title": "Встреча с автором"
		},
		{
			"date": "2018-04-20",
			"title": "Встреча с автором"
		},
		{
			"date": "2018-04-20",
			"title": "Встреча с автором"
		},
		{
			"date": "2018-04-20",
			"title": "Встреча с автором"
		}
	];

	var CalendarEventsComponent = Vue.extend({
		template: '#template-calendar-events-component',
		data: function() {
			return {
				shownInCalendar: moment(),
				selectedDate: moment(),
				calendarData: calendarData,
				currentCity: 'Москва',
				cities: [
					{
						name: 'Москва'
					},
					{
						name: 'Санкт-Петербург'
					}
				]
			};
		},
		methods: {
			moment: function(date) {
				return moment(date);
			},
			dayNumberClass: function(day) {
				return "day-" + moment(this.shownInCalendar).set('date', day).weekday();
			},
			daySelectedClass: function(day) {
				return moment(this.shownInCalendar).date(day).isSame(this.selectedDate, 'day') ? "selected" : "";
			},
			isSelectedDate: function(day) {
				return moment(this.shownInCalendar).date(day).isSame(this.selectedDate, 'day');
			},
			showInCalendar: function(day) {
				this.selectedDate = moment(this.shownInCalendar).date(day);
			},
			prevMonth: function() {
				this.shownInCalendar = moment(this.shownInCalendar).subtract(1, 'months');
			},
			nextMonth: function() {
				this.shownInCalendar = moment(this.shownInCalendar).add(1, 'months');
			},
			changeCity: function(i) {
				try {
					this.currentCity = this.cities[i].name;
				}
				catch (e) {
				}
			}
		}
	});

	/* ----- Vue Init ----- */
	var App = new Vue({
		el: '#app',
		components: {
			'calendar-events': CalendarEventsComponent
		}
	});
</script>
<!-- ----- End of Custom scripts ----- -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')