//@@include('../_include/header.html')

//@@include('../_include/header-new.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Hero Image -->
	<section class="section hero-image" style="background-image: url('//placehold.it/2000x1000')">
		<img src="//placehold.it/2000x1000" alt="">
	</section>
	<!-- End of Section: Hero Image -->

	<!-- Section: Hero About -->
	<section class="section hero-about style-2">
		<div class="bg">
			<img src="/assets/img/bg-hero-about.png" alt="">
		</div>
		<div class="container">
			<div class="inner">

				<!-- Content -->
				<div class="content">
					<h2 style="text-align: center">Welcome to our foreign rights page<br>We offer extensive range of titles in… more
					</h2>
					<p style="text-align: center">The word Bombora is an indigenous Australian and means a seemingly shallow area in the ocean, where the highest waves are born. Looking for something special, we are surfing the ocean of books and new ideas. Searching for the highest book wave in your life, you find Bombora.</p>
					<p style="text-align: center">Inheriting the best from 10 years of Eksmo Non-Fiction publishing traditions, Bombora is heading for the future to bring an overwhelming wave of the best Russian non-fiction in business, well-being, esoterics, fashion and style, psychology, medicine, parenting, cookery, religion, art, sports and more. The most prominent authors and new names explore the most popular topics on all levels: from life hacks for beginners to professional approach.</p>
					<p style="text-align: center">Our creative team permanently fi nds new authors and formats to offer our partners unique and differential products. A lot of progressive and spanking titles by Russian non-fiction authors have been translated into a number of languages across Europe and Asia to make Bombora an international publishing brand. </p>
					<br>
					<h2>Bombora facts:</h2>
					<ul>
						<li><span>30%</span> of Russian non-fiction book market</li>
						<li><span>2000</span> names of the authors in Bombora portfolio</li>
						<li><span>2000</span> new titles a year</li>
						<li><span>13 000 000</span> copies sold a year</li>
						<li><span>30</span> countries already introduced Bombora titles to their markets</li>
					</ul>
					<br><br>
					<p style="text-align: center">
						We love books and create them for you to open new world, give it a try, grow and develop.
					</p>
					<h2 style="text-align: center">Bombora. Riding the wave!</h2>
				</div>
				<!-- End of Content -->

				<!-- Sidebar -->
				<div class="sidebar">

					<!-- Section: News -->
					<section class="section style-big-head p-0">

						<!-- Section Head -->
						<div class="section-head">
							<div class="inner">
								<div class="title">
									<h2>News</h2>
								</div>
							</div>
						</div>
						<!-- End of Section Head -->

						<!-- Section Body -->
						<div class="section-body">
							<div class="section items-carousel-wrapper">
								<div class="slick-carousel items-carousel-slick-6">
									//@@for(var i = 0; i < 10; i++) {
									<div class="ui card style-post">
										<a href="#." class="image">
											<img src="//placehold.it/370x140" alt="">
										</a>
										<div class="inner">
											<div class="date">24 Декабря, 2016</div>
											<div class="title">
												<h3><a href="#.">Не только оливье. 15 сборников рецептов салатов и закусок</a></h3>
											</div>
											<div class="description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
													<a href="#.">...</a></p>
											</div>
											<div class="more">
												<a href="#.">Читать далее</a>
											</div>
										</div>
									</div>
									}
								</div>
								<div class="items-carousel-slick-arrows"></div>
							</div>
						</div>
						<!-- End of Section Body -->

					</section>
					<!-- End of Section: News -->

				</div>
				<!-- End of Sidebar -->

			</div>
		</div>

		<!-- Sidebar -->
		<div class="sidebar">

			<!-- Section: News -->
			<section class="section style-big-head p-0">

				<!-- Section Head -->
				<div class="section-head">
					<div class="inner">
						<div class="title">
							<h2>News</h2>
						</div>
					</div>
				</div>
				<!-- End of Section Head -->

				<!-- Section Body -->
				<div class="section-body">
					<div class="section items-carousel-wrapper">
						<div class="slick-carousel items-carousel-slick-6">
							//@@for(var i = 0; i < 10; i++) {
							<div class="ui card style-post">
								<a href="#." class="image">
									<img src="//placehold.it/370x140" alt="">
								</a>
								<div class="inner">
									<div class="date">24 Декабря, 2016</div>
									<div class="title">
										<h3><a href="#.">Не только оливье. 15 сборников рецептов салатов и закусок</a></h3>
									</div>
									<div class="description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
											<a href="#.">...</a></p>
									</div>
									<div class="more">
										<a href="#.">Читать далее</a>
									</div>
								</div>
							</div>
							}
						</div>
						<div class="items-carousel-slick-arrows"></div>
					</div>
				</div>
				<!-- End of Section Body -->

			</section>
			<!-- End of Section: News -->

		</div>
		<!-- End of Sidebar -->

	</section>
	<!-- End of Section: Hero About -->

	<!-- Section: Catalogues -->
	<section class="section style-big-head">
		<div class="container">
			<div class="row -mb-default style-large">
				<div class="col-12 col-lg-6 mb-default">

					<!-- Section Head -->
					<div class="section-head">
						<div class="inner">
							<div class="title">
								<h2>Catalogue Summer 2018</h2>
							</div>
						</div>
					</div>
					<!-- End of Section Head -->

					<!-- Section Body -->
					<div class="section-body">
						<div class="section  catalogues-cover">
							<a href="#."><img src="//placehold.it/250x400" alt=""></a>
						</div>
					</div>
					<!-- End of Section Body -->

				</div>
				<div class="col-12 col-lg-6 mb-default">

					<!-- Section Head -->
					<div class="section-head">
						<div class="inner">
							<div class="title">
								<h2>Catalogue Summer 2018</h2>
							</div>
						</div>
					</div>
					<!-- End of Section Head -->

					<!-- Section Body -->
					<div class="section-body">
						<div class="section  catalogues-cover">
							<a href="#."><img src="//placehold.it/300x400" alt=""></a>
						</div>
					</div>
					<!-- End of Section Body -->

				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Catalogues -->

	<!-- Section: Team -->
	<section class="section style-big-head team style-bg-gray">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section Body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-md-6 col-xl-3 mb-default">
						<div class="team-item style-2">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Head of<br>Foreign Rights</div>
							</div>
							<div class="content">
								<h3 class="name">Julia Kuzmenko</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:kuzmenko.yv@eksmo.ru" target="_blank">kuzmenko.yv@eksmo.ru</a>
									</div>
								</div>
								<div class="description">
									<p>Asia, United States of America</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-xl-3 mb-default">
						<div class="team-item style-2">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Senior Rights<br>Executive</div>
							</div>
							<div class="content">
								<h3 class="name">Nataliya Poleva</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:poleva.na@eksmo.ru" target="_blank">poleva.na@eksmo.ru</a>
									</div>
								</div>
								<div class="description">
									<p>Eastern Europe, Western Europe</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-xl-3 mb-default">
						<div class="team-item style-2">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Foreign Rights<br>Executive</div>
							</div>
							<div class="content">
								<h3 class="name">Olga Gordeeva</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:gordeeva.os@eksmo.ru" target="_blank">gordeeva.os@eksmo.ru</a>
									</div>
								</div>
								<div class="description">
									<p>Eastern Europe, Western Europe</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6 col-xl-3 mb-default">
						<div class="team-item style-2">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Foreign Rights<br>Executive</div>
							</div>
							<div class="content">
								<h3 class="name">Anastasia Falcon</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:falkon.aa@eksmo.ru" target="_blank">falkon.aa@eksmo.ru</a>
									</div>
								</div>
								<div class="description">
									<p>Latin America</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Section Body -->

	</section>
	<!-- End of Section: Team -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')