//@@include('../_include/header.html')

//@@include('../_include/header-new.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Hero Image -->
	<section class="section hero-image" style="background-image: url('//placehold.it/2000x1000')">
		<img src="//placehold.it/2000x1000" alt="">
	</section>
	<!-- End of Section: Hero Image -->

	<!-- Section: Hero About -->
	<section class="section hero-about">
		<div class="bg">
			<img src="/assets/img/bg-hero-about.png" alt="">
		</div>
		<div class="container">
			<div class="inner">

				<!-- Content -->
				<div class="content">
					<p>Бомбора — это термин из сёрфинга. Так называют волну, о которой мечтают все серферы — самую большую. Только на ней исполняются все сложные и эффектные трюки.</p>
					<p>Мы решили стать вашим личным инструктором по книжному серфингу. Чтобы вы могли творить, открывать мир, пробовать новое, расти. Быть счастливыми. Быть на волне!</p>
					<h2>БОМБОРА — это волна</h2>
					<img src="//placehold.it/150x150" class="author" alt="">
					<p>Сейчас Евгений Капьев, генеральный директор ЭКСМО, всё объяснит.</p>
					<p>«Раньше самой популярной книгой по здоровью была «Большая медицинская энциклопедия.<br>С появлением же наших книг, например, бестселлеров доктора Мясникова, доктора Родионова, это направление совершенно преобразилось.<br>Мы создали огромную волну интереса к медицинской литературе».
					</p>
					<blockquote>
						<div class="icon">
							<img src="/assets/img/icons/icon-quote.png" alt="">
						</div>
						<p>Для нас БОМБОРА — волна мечты.<br>И ключевая наша цель — создание книжных волн</p>
						<strong>Евгений Капьев</strong>
					</blockquote>
				</div>
				<!-- End of Content -->

				<!-- Sidebar -->
				<div class="sidebar">
					<div class="time-line">
						<div class="item">
							<div class="value">1991</div>
							<div class="title">Появилось издательсов ЭКСМО</div>
						</div>
						<div class="item">
							<div class="value">2007</div>
							<div class="title">Отдел нон-фикшн выделился в отдельный импринт. Это мы, ЭКСМО non-fiction. Привет.</div>
						</div>
						<div class="item">
							<div class="value">2017</div>
							<div class="title">Мы стали выпускать каждую третью нон-фикшн книгу в России, и решили, что выросли. Десять лет — серьезный возраст. Мы пошли в старший класс, сделали крутую стрижку и поставили чёлку волной.</div>
						</div>
						<div class="final-item">
							<div class="value">Мы стали БОМБОРОЙ</div>
						</div>
					</div>
				</div>
				<!-- End of Sidebar -->

			</div>
		</div>

		<!-- Sidebar -->
		<div class="sidebar">
			<div class="time-line">
				<div class="item">
					<div class="value">1991</div>
					<div class="title">Появилось издательсов ЭКСМО</div>
				</div>
				<div class="item">
					<div class="value">2007</div>
					<div class="title">Отдел нон-фикшн выделился в отдельный импринт. Это мы, ЭКСМО non-fiction. Привет.</div>
				</div>
				<div class="item">
					<div class="value">2017</div>
					<div class="title">Мы стали выпускать каждую третью нон-фикшн книгу в России, и решили, что выросли. Десять лет — серьезный возраст. Мы пошли в старший класс, сделали крутую стрижку и поставили чёлку волной.</div>
				</div>
				<div class="final-item">
					<div class="value">Мы стали БОМБОРОЙ</div>
				</div>
			</div>
		</div>
		<!-- End of Sidebar -->

	</section>
	<!-- End of Section: Hero About -->

	<!-- Section: Gallery -->
	<section class="section style-big-head gallery">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Наша команда</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-md-6 mb-default">
						<div class="item" style="background-image: url('//placehold.it/300x300')">
							<img src="//placehold.it/300x300" alt="">
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="row">

							<div class="col-12 col-md-6 mb-default">
								<div class="item" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
							</div>

							<div class="col-12 col-md-6 mb-default">
								<div class="item" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
							</div>

							<div class="col-12 col-md-6 mb-default">
								<div class="item" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
							</div>

							<div class="col-12 col-md-6 mb-default">
								<div class="item" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Section body -->

	</section>
	<!-- End of Section: Gallery -->

	<!-- Section: Partners -->
	<section class="section style-big-head partners">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>У Бомборы есть<br>три своих импринта</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-md-4 mb-default">
						<div class="item">
							<div class="image">
								<a href="#.">
									<img src="/assets/img/publishers/hleb-sol.png" alt="">
								</a>
							</div>
							<div class="description">
								<p>Кулинария от азов приготовления бутерброда до пошаговых рецептов от Гордона Рамзи.</p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4 mb-default">
						<div class="item">
							<div class="image">
								<a href="#.">
									<img src="/assets/img/publishers/arte.png" alt="">
								</a>
							</div>
							<div class="description">
								<p>Блокноты, альбомы, скетчбуки для подарков коллегам, близким и любимому себе.</p>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4 mb-default">
						<div class="item">
							<div class="image">
								<a href="#.">
									<img src="/assets/img/publishers/odri.png" alt="">
								</a>
							</div>
							<div class="description">
								<p>Книги от известных стилистов, beauty-блогеров, психологов, визажистов и икон стиля.</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- End of Section body -->

	</section>
	<!-- End of Section: Partners -->

	<!-- Section: Social invite -->
	<section class="section default-padding-inner style-big-head social-invite style-bg-primary">
		<div class="bg">
			<img src="/assets/img/bg-social.png" alt="">
		</div>
		<div class="container">
			<div class="row -mb-default">

				<div class="col-12 col-md-4 mb-default">

					<!-- Section Head -->
					<div class="section-head">
						<div class="title">
							<h2>Все на борт!</h2>
						</div>
					</div>
					<!-- End of Section Head -->

				</div>

				<div class="col-12 col-md-8 mb-default">

					<!-- Section Body -->
					<div class="section-body">
						<div class="content">
							<p>Мы регулярно знакомим наших авторов с читателями на мастер-классах, автограф-сессиях, концертах и творческих встречах. А еще устраиваем конкурсы, дарим промокоды и регулярно разыгрываем книги. Следить за новостями удобнее всего в наших соцсетях.</p>
						</div>
						<div class="socials">
							<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
							<a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
							<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
							<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
					<!-- End of Section Body -->

				</div>

			</div>
		</div>
	</section>
	<!-- End of Section: Social invite -->

	<!-- Section: Instagram Page -->
	<section class="section style-big-head instagram-page">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Как попасть в наш инстаграм</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-lg-8 mb-default">
						<div class="images">
							<div class="row -mb-default">
								//@@for(var i = 0; i < 9; i++) {
								<div class="col-12 col-md-4 mb-default">
									<div class="image">
										<a href="#." style="background-image: url('//placehold.it/100x100')">
											<img src="//placehold.it/100x100" alt="">
										</a>
									</div>
								</div>
								}
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4 mb-default">
						<div class="sidebar">
							<p>Наш читательский аккаунт в истаграме —
								<a href="#." target="_blank">@bomborareaders</a>. Мы находим ваши фотографии с книгами БОМБОРЫ под хэштегом
								<a href="#." target="_blank">#bomborareaders</a>, радуемся и постим их у себя.
							</p>
							<img src="//placehold.it/150x150" class="author" alt="">
							<p>Еще у нас есть рубрика
								<a href="#." target="_blank">#bomborastories</a> — это совершенно особенные истории про книги, которые изменили вашу жизнь.
							</p>
							<p> Чтобы ваши крутые фотки и отзывы были вознаграждены, мы придумали премию Читатель месяца. Каждый месяц мы награждаем лучшего читателя специальным призом — фирменным сувениром от БОМБОРЫ и любой книгой издательства, на ваш выбор. Раз в месяц мы меняем условия конкурса, чтобы вы не заскучали и вдохновились на новые идеи.
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Section body -->

	</section>
	<!-- End of Section: Instagram Page -->

	<!-- Section: Video -->
	<section class="section style-big-head video style-bg-primary">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Видео</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section Body -->
		<div class="section-body">
			<div class="container">
				<video class="video-block" controls>
					<source src="bambora_v2.mp4" type="video/mp4">
					Ваш браузер не поддерживает HTML5 Video
				</video>
			</div>
		</div>
		<!-- End of Section Body -->

	</section>
	<!-- End of Section: Video -->

	<!-- Section: Team -->
	<section class="section style-big-head team style-bg-gray">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Нужные люди</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section Body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-lg-4 mb-default">
						<div class="team-item">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">СМИ и<br>компаниям</div>
							</div>
							<div class="content">
								<h3 class="name">Каширина Татьяна</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:kashirina.ta@eksmo.ru" target="_blank">kashirina.ta@eksmo.ru</a>
									</div>
									<div class="item">
										<strong>Тел:</strong><a href="tel:+7 (495) 411-68-59" target="_blank">+7 (495) 411-68-59</a>, доб. 2274
									</div>
								</div>
								<div class="description">
									<p>Татьяне можно писать, если работаете в СМИ и хотите рассказать о наших книгах или попасть на наше мероприятие.</p>
									<p>А также — если вы подумываете о сотрудничестве с нами — информационном, бартерном или любом другом. Мы можем вместе провести конкурс, кросс-промо и организовать мероприятие.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4 mb-default">
						<div class="team-item">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Блогерам</div>
							</div>
							<div class="content">
								<h3 class="name">Ирина Гавриленко</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:gaponova.IS@eksmo.ru" target="_blank">gaponova.IS@eksmo.ru</a>
									</div>
								</div>
								<div class="description">
									<p>Если вы блогер, и вам интересно сотрудничать с БОМБОРОЙ — напишите Ире!</p>
									<p>В письме обязательно расскажите о вашем блоге — любимой теме, подписчиках (кто они, откуда и что любят), и охватах.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-lg-4 mb-default">
						<div class="team-item">
							<div class="image" style="background-image: url('//placehold.it/300x300')">
								<img src="//placehold.it/300x300" alt="">
								<div class="status">Работа в<br>БОМБОРЕ</div>
							</div>
							<div class="content">
								<h3 class="name">Пирогова Клавдия</h3>
								<div class="contacts">
									<div class="item">
										<strong>E-mail:</strong><a href="mailto:pirogova.ka@eksmo.ru" target="_blank">pirogova.ka@eksmo.ru</a>
									</div>
									<div class="item">
										<strong>Тел:</strong><a href="tel:+7 (495) 411-68-59" target="_blank">+7 (495) 411-68-59</a>, доб. 2299
									</div>
								</div>
								<div class="description">
									<p>Клавдия — наш отзывчивый HR-менеджер. Она расскажет вам о наших вакансиях, покажет нам ваше резюме. А в первый рабочий день представит вас большой семье БОМБОРЫ.</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Section Body -->

	</section>
	<!-- End of Section: Team -->

	<!-- Section: Contacts -->
	<section class="section style-big-head contacts">

		<!-- Section Head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Наши контакты</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section Head -->

		<!-- Section body -->
		<div class="section-body">
			<div class="container">
				<div class="row -mb-default">

					<div class="col-12 col-md-6 mb-default">
						<div class="map">
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adc71dfe7a21ca32c090405bc5abbb6986df355eee638e63c563e070b25dcc6e7&amp;source=constructor" width="100%" height="300" frameborder="0"></iframe>
						</div>
					</div>

					<div class="col-12 col-md-6 mb-default">
						<div class="info">
							<p>Если вы нашли ошибку на сайте или в книгах, пишите на
								<a href="mailto:info@bombora.ru" target="_blank">info@bombora.ru</a></p>
							<p>Если вы сомневаетесь и не знаете куда писать, пишите на
								<a href="mailto:info@bombora.ru" target="_blank">info@bombora.ru</a></p>
						</div>
						<address class="contacts">
							<div class="item">
								<div class="icon">
									<i class="ion-ios-location-outline"></i>
								</div>
								<div class="title">123308, Москва, улица Зорге дом 1</div>
							</div>
							<div class="item">
								<div class="icon">
									<i class="ion-ios-telephone-outline"></i>
								</div>
								<div class="title">Телефон: <a href="tel:+7 (495) 411-68-86">+7 (495) 411-68-86</a></div>
							</div>
						</address>
						<p>Наш физический адрес совпадает с юридическим.</p>
					</div>

				</div>
			</div>
		</div>
		<!-- End of Section body -->

	</section>
	<!-- End of Section: Contacts -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')