//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">
	<div class="ui  blog-tabs  blog-tabs--black">
		<a href="#!" class="active">Статьи</a>
		<a href="#!">Спецпроекты</a>
	</div>

	<!-- Section: Content -->
	<section class="section default-padding">
		<div class="container">
			<ul class="ui  blog-filter">
				<li class="special"><a href="#!">Спецпроекты</a></li>
				<li><a href="#!">Статьи</a></li>
				<li><a href="#!">Подборки</a></li>
				<li><a href="#!">Тесты</a></li>
				<li><a href="#!">Интервью</a></li>
				<li><a href="#!">Отрывки</a></li>
			</ul>
		</div>
		<div class="container">

			//@@for(var i = 0; i < 3; i++) {

			<!-- Item -->
			<div class="ui card style-blog-post">
				<a href="#." class="image" style="background-color: #000;">
				<!-- <div class="image" style="background-image: url('//placehold.it/500x400')"> -->
					<span>
						<div class="type">
							<i class="fa fa-play"></i>
						</div>
					</span>
				</a>
				<div class="info">
					<h3 class="title"><a href="#.">Как спокойно говорить<br>с ребёнком о жизни</a></h3>
					<div class="label">Статьи</div>
					<p class="description">Эта книга поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности".</p>
				</div>
			</div>
			<!-- End of Item -->

			<!-- Item -->
			<div class="ui card style-blog-post is-mirrored">
				<div class="image" style="background-image: url('//placehold.it/500x400')">
					<a href="#."></a>
				</div>
				<div class="info">
					<h3 class="title"><a href="#.">Как спокойно говорить<br>с ребёнком о жизни</a></h3>
					<p class="description">Эта книга поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности".</p>
				</div>
			</div>
			<!-- End of Item -->

			}

			<!-- Section more -->
			<div class="section-more">
				<a href="#.">Посмотреть все новости</a>
			</div>
			<!-- End of Section more -->

		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')