//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main bloggers-collection  --bloggers-collection-page">

  <!-- Section: Content -->
  <section class="section general-links">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="inner">
            <ul>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Больше блогеров</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section default-padding mt-0">
    <div class="container">
      <div class="bloggers-collection-head">
        <div class="bloggers-collection-head__img">
          <img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt="">
        </div>
        <div class="bloggers-collection-head__info">
          <div class="bloggers-collection-head__top">
            <div class="bloggers-collection-head__name">Гарри</div>
            <div class="bloggers-collection-head__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <div class="bloggers-collection-head__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</div>
        </div>
      </div>
    </div>
    <!-- Section: Blogger Collection books -->
    <div class="bloggers-collection-books-wrapper">
      <div class="container">
        <div class="bloggers-collection-books">
          <div class="bloggers-collection-book  --large">
            <div class="bloggers-collection-book__img">
              <img src="assets/img/bloggers-collection-img_2.png" srcset="assets/img/bloggers-collection-img_2@2x.png 2x" alt="">
            </div>
            <div class="bloggers-collection-book__info">
              <div class="bloggers-collection-book__name">НЕВИДИМКА</div>
              <a href="#!" class="bloggers-collection-book__author">Элой Морено</a>
              <div class="bloggers-collection-book__desc">
                <p>Я уже не кричу, когда просыпаюсь, уже не плачу от боли при каждом движении и намного быстрее вспоминаю, где вообще нахожусь. А самое главное: люди теперь видят меня. Иногда я думаю, что заслужил все происходящее, потому
                  что был трусом, потому что не решался взбунтоваться.</p>
                <p>Перед вами пронзительная история об одиночестве подростка среди людей.</p>
                <p>Чтобы стать монстром, вовсе не нужно делать что-то особенное. Иногда достаточно просто ничего не сделать.</p>
              </div>
              <a href="#." class="more">Скрыть</a>
              <div class="bloggers-collection-book__bot">
                <a href="#!" class="btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="bloggers-collection-book">
            <div class="bloggers-collection-book__img">
              <img src="assets/img/bloggers-collection-img_2.png" srcset="assets/img/bloggers-collection-img_2@2x.png 2x" alt="">
            </div>
            <div class="bloggers-collection-book__info">
              <div class="bloggers-collection-book__name">НЕВИДИМКА</div>
              <a href="#!" class="bloggers-collection-book__author">Элой Морено</a>
              <div class="bloggers-collection-book__desc">Перед вами пронзительная история об одиночестве подростка среди людей.</div>
              <a href="#." class="more">Подробнее</a>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="bloggers-collection-book">
            <div class="bloggers-collection-book__img">
              <img src="assets/img/bloggers-collection-img_2.png" srcset="assets/img/bloggers-collection-img_2@2x.png 2x" alt="">
            </div>
            <div class="bloggers-collection-book__info">
              <div class="bloggers-collection-book__name">НЕВИДИМКА</div>
              <a href="#!" class="bloggers-collection-book__author">Элой Морено</a>
              <div class="bloggers-collection-book__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur consectetur, deserunt doloremque eaque hic inventore minus mollitia natus nihil qui quo quos. Ex, impedit.</div>
              <a href="#." class="more">Подробнее</a>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="bloggers-collection-book">
            <div class="bloggers-collection-book__img">
              <img src="assets/img/bloggers-collection-img_2.png" srcset="assets/img/bloggers-collection-img_2@2x.png 2x" alt="">
            </div>
            <div class="bloggers-collection-book__info">
              <div class="bloggers-collection-book__name">НЕВИДИМКА</div>
              <a href="#!" class="bloggers-collection-book__author">Элой Морено</a>
              <div class="bloggers-collection-book__desc">Перед вами пронзительная история об одиночестве подростка среди людей.</div>
              <a href="#." class="more">Подробнее</a>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Купить</a>
              </div>
            </div>
          </div>
          <div class="bloggers-collection-book">
            <div class="bloggers-collection-book__img">
              <img src="assets/img/bloggers-collection-img_2.png" srcset="assets/img/bloggers-collection-img_2@2x.png 2x" alt="">
            </div>
            <div class="bloggers-collection-book__info">
              <div class="bloggers-collection-book__name">НЕВИДИМКА</div>
              <a href="#!" class="bloggers-collection-book__author">Элой Морено</a>
              <div class="bloggers-collection-book__desc">Перед вами пронзительная история об одиночестве подростка среди людей.</div>
              <a href="#." class="more">Подробнее</a>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Купить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Section: Blogger Collection -->

    <div class="bloggers-collection-slider">

      <div class="container">
        <div class="title">
          <h2><a href="#.">Еще больше подборок от книжных блогеров</a></h2>
        </div>
        <div class="section items-carousel-wrapper">
          <div class="slick-carousel items-carousel-slick-2">

            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой и Маленький</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков. Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>
            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>
            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>
            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>
            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>
            <div class="bloggers-collection-card">
              <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
              <div class="bloggers-collection-card__heading">
                <div class="bloggers-collection-card__name">Гарри Большой</div>
                <div class="bloggers-collection-card__social">
                  <div class="socials">
                    <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <a href="#!">@ultraviolence_g</a>
                </div>
              </div>
              <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
              <div class="bloggers-collection-card__bot">
                <a href="#!" class="btn">Перейти</a>
              </div>
            </div>

          </div>
          <div class="items-carousel-slick-arrows"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')