//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main bloggers-collection">

  //@@include('_include/section-breadcrumbs.html')

  <!-- Section: Content -->
  <section class="section general-links">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="inner d-none d-lg-block">
            <ul>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Кто-то</a></li>
              <li><a href="#!">Подборка 1</a></li>
              <li><a href="#!">Тест</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
            </ul>
          </div>
          <div class="inner d-lg-none">
            <ul>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Кто-то</a></li>
              <li><a href="#!">Подборка 1</a></li>
              <li><a href="#!">Тест</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
              <li><a href="#!">Гарри @ultraviolence_g</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section default-padding mt-0">
    <div class="container">


      <!-- Section: Blogger Collection -->
      <div class="bloggers-collection-flex">
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри Большой</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
        <div class="bloggers-collection-card">
          <div class="bloggers-collection-card__img"><img src="assets/img/bloggers-collection-img_1.png" srcset="assets/img/bloggers-collection-img_1@2x.png 2x" alt=""></div>
          <div class="bloggers-collection-card__heading">
            <div class="bloggers-collection-card__name">Гарри Большой</div>
            <div class="bloggers-collection-card__social">
              <div class="socials">
                <a href="#!" target="_blank"><i class="fab fa-instagram"></i></a>
              </div>
              <a href="#!">@ultraviolence_g</a>
            </div>
          </div>
          <p class="bloggers-collection-card__desc">Автор книжного блога с аудиторией более 30 тыс. подписчиков</p>
          <div class="bloggers-collection-card__bot">
            <a href="#!" class="btn">Перейти</a>
          </div>
        </div>
      </div>
      <!-- End of Section: Blogger Collection -->

    </div>
  </section>
  <!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')