//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section default-padding mt-0">
		<div class="container">
			<div class="row -mb-default">
				<div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-default">

					//@@include('_include/section-sidebar.html')

				</div>
				<div class="col-12 col-sm-7 col-md-8 col-lg-9 mb-default">

					//@@include('_include/section-catalog-settings.html')

					<!-- Section: Catalog -->
					<section class="section catalog">
						<div class="row -mb-default">

							//@@for(var i = 0; i < 10; i++) {
							<div class="col-12 col-md-6 col-lg-3 mb-default">
								//@@include('_include/ui-card-style-product.html')
							</div>
							}

						</div>
					</section>
					<!-- End of Section: Catalog -->

				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')