//@@include('_include/header.html')
<div class="index-subscriptions">

  //@@include('_include/header-home-subscriptions.html')

  <!-- Section: Main -->
  <main class="section main">

    <!-- Section: Section -->
    <section class="section default-padding">
      <!-- Section head -->
      <div class="section-head">
        <div class="container">
          <div class="inner">
            <div class="title"><h2>Первая полка</h2></div>
          </div>
        </div>
      </div>
      <!-- End of Section head -->
      <!-- Section body -->
      <div class="container">
        <div class="section items-carousel-wrapper">
          <div class="slick-carousel items-carousel-slick">
            //@@for(var i = 0; i < 10; i++) {
            //@@include('_include/ui-card-style-product.html', { withButton: true })
            }
          </div>
          <div class="items-carousel-slick-arrows"></div>
        </div>
      </div>
      <!-- End of Section body -->
    </section>
    <!-- End of Section: Section -->


    <!-- Section: Subscribe-block-section -->
    <section class="section subscribe-block-section">
      <div class="container">
        <div class="inner">
          <div class="subscribe-block">
            <div class="subscribe-block__content">
              <div class="subscribe-block__img">
                <img class="d-none d-md-block" src="/assets/img/subscribe/subscribe-img_1.png" srcset="/assets/img/subscribe/subscribe-img_1@2x.png 2x" alt="">
                <img class="d-block d-md-none" src="/assets/img/subscribe/subscribe-img-min_1.png" srcset="/assets/img/subscribe/subscribe-img-min_1@2x.png 2x" alt="">
              </div>
              <div class="subscribe-block__info">
                <div class="subscribe-block__title">Заголовок подписки</div>
                <p class="subscribe-block__text">Описание подписки с подарком Описание подписки с подарком Описание подписки с подарком</p>
                <form id="form-subscribe" class="subscribe-block__form">
                  <div class="subscribe-block__form-row">
                    <input type="text" placeholder="Введите адрес электронной почты">
                    <button type="submit" class="btn btn-fill form-submit">Подписаться</button>
                  </div>
                  <div class="ui form-field style-default mt-3">
                    <input type="checkbox" id="is-right-5">
                    <label for="is-right-5"><span>Согласен с политикой <a href="#!">конфиденциальности</a></span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Section: Subscribe-block-section -->

    <div class="subscriptions-container">
      <div class="container">
        <!-- Catalog Settings -->
        <section class="section catalog-settings">
          <div class="inner">
            <div class="sorting">
              <div class="ui tooltip style-hover style-dropdown">
                <div class="tooltip-head">Самые новые</div>
                <div class="tooltip-body">
                  <div class="dropdown-list">
                    <div class="list-item is-selected">
                      <div class="title">Сначала дешевые</div>
                    </div>
                    <div class="list-item">
                      <div class="title">Сначала дорогие</div>
                    </div>
                    <div class="list-item">
                      <div class="title">Новые</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="filter">
              <a href="#!" class="active">Тест</a>
              <span>Пункт</span>
              <span>Пункт 2</span>
              <span>Пункт 3</span>
            </div>
          </div>
        </section>
        <!-- End of Catalog Settings -->


        <div class="subscribe-block --subscribe-block-simple">
          <div class="subscribe-block__content">
            <div class="subscribe-block__info">
              <div class="subscribe-block__title">Заголовок подписки</div>
              <p class="subscribe-block__text">Описание подписки с подарком Описание подписки с подарком Описание подписки с подарком</p>
              <form id="form-subscribe1" class="subscribe-block__form">
                <div class="subscribe-block__form-row">
                  <input type="text" placeholder="Введите адрес электронной почты">
                  <button type="submit" class="btn btn-fill form-submit">Подписаться</button>
                </div>
                <div class="ui form-field style-default mt-3">
                  <input type="checkbox" id="form-subscribe1-is-right">
                  <label for="is-right-5"><span>Согласен с политикой <a href="#!">конфиденциальности</a></span></label>
                </div>
              </form>
            </div>
          </div>
        </div>


        <!-- Section: Section -->
        <section class="section">
          <!-- Section head -->
          <div class="section-head">
            <div class="inner">
              <div class="title"><h2>Первая полка</h2></div>
            </div>
          </div>
          <!-- End of Section head -->
          <!-- Section body -->
          <div class="section items-carousel-wrapper">
            <div class="slick-carousel items-carousel-slick">
              //@@for(var i = 0; i < 10; i++) {
              //@@include('_include/ui-card-style-product.html', { withButton: true })
              }
            </div>
            <div class="items-carousel-slick-arrows"></div>
          </div>
          <!-- End of Section body -->
        </section>
        <!-- End of Section: Section -->
      </div>
    </div>

    <div class="index-subscriptions-map">
      <div class="container">
        <img src="assets/img/index-subscriptions-map.jpg" alt="">
      </div>
    </div>

    <!-- Section: Subscribe-block-section -->
    <section class="section subscribe-block-section">
      <div class="container">
        <div class="inner">
          <div class="subscribe-block">
            <div class="subscribe-block__content">
              <div class="subscribe-block__img">
                <img class="d-none d-md-block" src="/assets/img/subscribe/subscribe-img_1.png" srcset="/assets/img/subscribe/subscribe-img_1@2x.png 2x" alt="">
                <img class="d-block d-md-none" src="/assets/img/subscribe/subscribe-img-min_1.png" srcset="/assets/img/subscribe/subscribe-img-min_1@2x.png 2x" alt="">
              </div>
              <div class="subscribe-block__info">
                <div class="subscribe-block__title">Заголовок подписки</div>
                <p class="subscribe-block__text">Описание подписки с подарком Описание подписки с подарком Описание подписки с подарком</p>
                <form id="form-subscribe2" class="subscribe-block__form">
                  <div class="subscribe-block__form-row">
                    <input type="text" placeholder="Введите адрес электронной почты">
                    <button type="submit" class="btn btn-fill form-submit">Подписаться</button>
                  </div>
                  <div class="ui form-field style-default mt-3">
                    <input type="checkbox" id="form-subscribe2-is-right">
                    <label for="is-right-5"><span>Согласен с политикой <a href="#!">конфиденциальности</a></span></label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of Section: Subscribe-block-section -->


    <!-- Modal-->
    <div class="subscription-gift-modal-overlay">
      <div class="subscription-gift-modal-area">
        <div class="subscription-gift-modal">
          <button class="subscription-gift-modal-close">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 31">
              <path d="M1.35355.646447L31.055 30.3479M.646447 30.3479L30.3479.646437" />
            </svg>
          </button>
          <div class="subscription-gift-modal__title">Заголовок</div>
          <div class="subscription-gift-modal-books">
            //@@for(var i = 0; i < 10; i++) {
            <div class="subscription-gift-modal-book">//@@include('_include/ui-card-style-product.html', { withButton: true, buttonText: 'Выбрать' })</div>
            }
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- End of Section: Modal -->
  </main>
  <!-- End of Section: Main -->
</div>

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
<script>
  const showSubscribeModal = () => {
    $('.subscription-gift-modal-overlay').fadeIn('fast')
  }
  const hideSubscribeModal = () => {
    $('.subscription-gift-modal-overlay').fadeOut('fast')
  }
  $('.form-submit').on('click', function (e) {
    e.preventDefault()
    showSubscribeModal()
  })
  $('.subscription-gift-modal-overlay').on('click', function (e) {
    if (!$(e.target).closest('.subscription-gift-modal').length) {
      hideSubscribeModal()
    }
  })
  $('.subscription-gift-modal-close').on('click', function (e) {
    hideSubscribeModal()
  })
  $(document).on('keyup', function (e) {
    if (e.keyCode === 27) {
      hideSubscribeModal()
    }
  })
</script>
//@@include('_include/_html-end.html')