//@@include('_include/header.html')

//@@include('_include/header-home.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-products-carousel.html')
	//@@include('_include/birthday-cap.html')

	<!-- Section: Banners -->
	<section class="section banners default-padding">
		<div class="container">
			<div class="row -mb-default">

				<div class="col-12 col-lg-6 mb-default">
					<div class="ui card style-banner style-large-post">
						<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
							<img src="//placehold.it/1000x500" alt="">
						</a>
						<div class="info">
							<div class="meta">
								<div class="category color-orange">
									<a href="#.">Обзоры книг</a>
								</div>
								<div class="date">
									06 февраля 2018 16:00
								</div>
							</div>
							<div class="title">
								<h3><a href="#.">Интеллектуальный бестселлер:<br>10 книг, которые вы могли пропустить</a></h3>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="row">

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<div class="type">
									<i class="fa fa-play"></i>
								</div>
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nobis quisquam totam at earum asperiores veritatis quas, corrupti consequatur nostrum.</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<div class="type">
									<i class="fa fa-play"></i>
								</div>
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div class="row">

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<div class="type">
									<i class="fa fa-play"></i>
								</div>
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-default">
							<div class="ui card style-banner style-small-post">
								<div class="type">
									<i class="fa fa-play"></i>
								</div>
								<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
									<img src="//placehold.it/1000x500" alt="">
								</a>
								<div class="info">
									<div class="title">
										<h3><a href="#.">Вкусная книга о Еде</a></h3>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-12 col-lg-6 mb-default">
					<div class="ui card style-banner style-large-post">
						<a href="#." class="image" style="background-image: url('//placehold.it/1000x500')">
							<img src="//placehold.it/1000x500" alt="">
						</a>
						<div class="info">
							<div class="meta">
								<div class="category color-red">
									<a href="#.">Обзоры книг</a>
								</div>
								<div class="date">
									06 февраля 2018 16:00
								</div>
							</div>
							<div class="title">
								<h3><a href="#.">Интеллектуальный бестселлер:<br>10 книг, которые вы могли пропустить</a></h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End of Section: News -->

	<!-- Section: Section -->
	<section class="section default-padding">
		<div class="container">
			<div class="section big-banners-slider-wrapper">
				<div class="slick-carousel big-banners-slider-slick">
					//@@for(var i = 0; i < 10; i++) {
					<a href="#.">
						<img src="//placehold.it/1200x450" alt="">
					</a>
					}
				</div>
				<div class="container big-banners-slider-slick-arrows"></div>
			</div>
		</div>
	</section>
	<!-- End of Section: Section -->

	//@@include('_include/section-products-carousel.html')

	//@@include('_include/section-subscribe.html')

	//@@include('_include/section-posts-carousel.html')

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')