//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')
	
	<div class="container">
		<h1>Оформление заказа</h1>
	</div>
	<!-- Section: Content -->
	<section class="section  shopping-bag">
		<div class="container">
			<div class="content">
				<div class="order-form">
					<h3 class="heading">Кому доставить</h3>
					<div class="tabs">
						<span class="item  active" data-tab="form--phys"  data-tab-container="form">Физическое лицо</span>
						<span class="item" data-tab="form--ur"  data-tab-container="form">Юридическое лицо</span>
					</div>
					<form action="" class="form  form--ur">
						<div class="form__autofill">
							<label>
								<input type="checkbox">
								<span class="checkbox-icon"></span>
								<div><span class="blue">Автоматическое заполнение</span> Введите ИНН или название организации, остальная информация заполнится автоматически. Это удобно и быстро</div>
							</label>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="E-mail">
							</div>
							<div class="form__message">Необходимо для входа в магазин и отслеживания заказов</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="ИНН">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Название организации">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Юридический адрес">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="КПП">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field  error">
								<input type="text" class="form__input" placeholder="Фамилия контактного лица">
							</div>
							<div class="form__message">Служба доставки выдаст заказ по паспорту</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Имя контактного лица">
							</div>
							<div class="form__message">Чтобы мы знали, как к вам обращаться</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Отчество контактного лица">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Номер телефона">
							</div>
							<div class="form__message">Понадобится для согласования деталей заказа и доставки</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Бик">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Корреспондентский счёт">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Расчетный счёт">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Наименование банка">
							</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="submit" class="form__submit" value="Продолжить">
							</div>
						</div>
						<div class="form__row">
							<div class="form__message  form__message--last">Нажатием кнопки "Продолжить" Вы соглашаетесь с <a href="#!">Пользовательским соглашением</a> и даете согласие на <a href="#!">обработку персональных данных</a></div>
						</div>
					</form>
					<form action="" class="form  form--phys">
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Фамилия">
							</div>
							<div class="form__message">Некоторые службы доставки выдают заказы по паспорту</div>
						</div>
						<div class="form__row">
							<div class="form__field  error">
								<input type="text" class="form__input" placeholder="Имя">
							</div>
							<div class="form__message">Чтобы мы знали, как к вам обращаться</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="E-mail">
							</div>
							<div class="form__message">Необходимо для входа в магазин и отслеживания заказов</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="text" class="form__input" placeholder="Номер телефона">
							</div>
							<div class="form__message">Номер понадобиться курьеру для доставки заказа</div>
						</div>
						<div class="form__row">
							<div class="form__field">
								<input type="submit" class="form__submit" value="Продолжить">
							</div>
						</div>
						<div class="form__row">
							<div class="form__message  form__message--last">Нажатием кнопки "Продолжить" Вы соглашаетесь с <a href="#!">Пользовательским соглашением</a> и даете согласие на <a href="#!">обработку персональных данных</a></div>
						</div>
					</form>
				</div>
			</div>
			<div class="aside">
				<div class="order-info">
					<div class="order-info__row">
						<h3 class="heading">В корзине</h3>
						<div class="order-info__flex">
							<div class="left">Общий вес товаров</div>
							<div class="right"><span class="nowrap">0,407 кг</span></div>
						</div>
						<div class="order-info__flex">
							<div class="left">Стоимость товаров</div>
							<div class="right"><span class="nowrap">420 ₽</span></div>
						</div>
						<div class="order-info__flex">
							<div class="left">Доставка в</div>
							<div class="right"><a href="#!" class="link  link--action">Москва</a></div>
						</div>
						<div class="order-info__flex">
							<div class="left"><b>Итоговая сумма</b></div>
							<div class="right"><span class="nowrap"><b>420 ₽</b></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->
//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')