//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section  shopping-bag">
		<div class="container">
			<div class="content">
				<div class="order-info">
					<div class="order-info__row">
						<h3 class="heading">Кому доставить</h3>
						<p class="text">Иван Иванов – физическое лицо</p>
						<p class="text">email@email.com</p>
						<p class="text">+7 123 123-123-12</p>
						<button class="btn  btn--border-blue  btn-change">Изменить</button>
					</div>
				</div>
			</div>
			<div class="aside">
				<div class="order-info">
					<div class="order-info__row">
						<h3 class="heading">В корзине</h3>
						<div class="order-info__flex">
							<div class="left">Общий вес товаров</div>
							<div class="right"><span class="nowrap">0,407 кг</span></div>
						</div>
						<div class="order-info__flex">
							<div class="left">Стоимость товаров</div>
							<div class="right"><span class="nowrap">420 ₽</span></div>
						</div>
						<div class="order-info__flex">
							<div class="left">Доставка в</div>
							<div class="right"><a href="#!" class="link  link--action">Москва</a></div>
						</div>
						<div class="order-info__flex">
							<div class="left"><b>Итоговая сумма</b></div>
							<div class="right"><span class="nowrap"><b>420 ₽</b></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content  content--shadow  delivery">
				<div class="delivery__head">
					<h3 class="heading">Как доставить</h3>
					<div class="tabs">
						<span class="item" data-tab="info--self-pickup"  data-tab-container="info">Самовывозом <span>от 100 ₽</span></span>
						<span class="item  active" data-tab="info--curier"  data-tab-container="info">Курьерской доставкой <span>от 200 ₽</span></span>
						<span class="item" data-tab="info--russia-post"  data-tab-container="info">Почтой России <span>от 191 ₽</span></span>
					</div>
				</div>
				<div class="dilevery__info  info  info--self-pickup"  style="display: none">
					<div class="aside">
						<div class="aside-item">
							<div class="heading">Пункты выдачи book24.ru</div>
							<p class="text">ул. Зорге, 1 (3 минуты от метро Полежаевская)</p>
							<a href="#!" class="link">Схема проезда</a>
							<p class="text text--orange">Не забудьте паспорт</p>
							<p class="text text--blue">Доставим 29 августа, бесплатно</p>
							<p class="text text--large">Доставка по предоплате</p>
						</div>
						<div class="aside-item">
							<div class="heading">Пункты выдачи book24.ru</div>
							<p class="text">ул. Зорге, 1 (3 минуты от метро Полежаевская)</p>
							<a href="#!" class="link">Схема проезда</a>
							<p class="text text--orange">Не забудьте паспорт</p>
							<p class="text text--blue">Доставим 29 августа, бесплатно</p>
							<p class="text text--large">Доставка по предоплате</p>
						</div>
					</div>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d585431.3129305524!2d36.822938428399496!3d55.57838495796745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1536747853243" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="dilevery__info  info  info--russia-post"  style="display: none">
					<div class="aside">
						<label class="aside-label">
							<span class="check">
								<input type="radio" name="point">
								<span></span>
							</span>
							<p class="title">Почтой России – наложенный платеж</p>
							<span class="text  text--blue">121 ₽</span>
						</label>
						<label class="aside-label">
							<span class="check">
								<input type="radio" name="point">
								<span></span>
							</span>
							<p class="title">Почтой России – наложенный платеж</p>
							<span class="text  text--blue">200 ₽</span>
							<span class="text  text--gray">Обращаем ваше внимание, что стоимость доставки не является окончательной. На почтовом отделение дополнительно взымают комиссию за перевод денежный средств в размере 2-4% от стоимости заказа</span>
						</label>
					</div>
					<div class="info__content  order-form">
						<form action="" class="form  form--delivery">
							<div class="form__row">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Город">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Улица">
								</div>
							</div>
							<div class="form__row  form__row--tripple">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Дом">
								</div>
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Корпус">
								</div>
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Кв/офис">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field  error">
									<input type="text" class="form__input" placeholder="Индекс">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field">
									<textarea class="form__textarea" placeholder="Комментарий к адресу"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="dilevery__info  info  info--curier">
					<div class="aside">
						<label class="aside-label">
							<span class="check">
								<input type="radio" name="point">
								<span></span>
							</span>
							<p class="title">Курьерская доставка в пределах МКАД</p>
							<span class="text  text--blue">29 августа, 200 ₽</span>
						</label>
						<label class="aside-label">
							<span class="check">
								<input type="radio" name="point">
								<span></span>
							</span>
							<p class="title">Курьерская доставка в пределах МКАД</p>
							<span class="text  text--blue">29 августа, 200 ₽</span>
						</label>
					</div>
					<div class="info__content  order-form">
						<form action="" class="form  form--delivery">
							<div class="form__row">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Город">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field  error">
									<input type="text" class="form__input" placeholder="Улица">
								</div>
							</div>
							<div class="form__row  form__row--tripple">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Дом">
								</div>
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Корпус">
								</div>
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Кв/офис">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field">
									<input type="text" class="form__input" placeholder="Индекс">
								</div>
							</div>
							<div class="form__row">
								<div class="form__field">
									<textarea class="form__textarea" placeholder="Комментарий к адресу"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="delivery__bot">
					<button class="btn  btn--fill">Применить</button>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')