//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')
	<!-- Section: Content -->
	<section class="section  publish-book">
		<div class="container">
			<div class="content">
				<h1>Как издать книгу?</h1>
				<h2>Уважаемые авторы!</h2>
				<p>Если Вы заинтересованы в сотрудничестве с «БОМБОРОЙ», присылайте свои рукописи на рассмотрение по адресу: 123308, г. Москва, ул. Зорге, 1, или через <a href="#!">форму отправки рукописи</a>.</p>

				<h2>Условия рассмотрения рукописей</h2>
				<p><b>1)</b> Мы рассматриваем тексты и принимаем решение в течение <b>6-12 месяцев</b>. Мы заранее благодарим всех авторов, которые предоставят нам рукописи и информацию о них, но просим принять во внимание, что иногда заявленные сроки в силу объективных причин не могут быть соблюдены.</p>

				<p><b>2)</b> E-mail: info@eksmo.ru <b>не предназначен для приема рукописей</b>.</p>

				<p><b>3) Мы не рассматриваем</b>:
				<ul>
					<li>поэзию (стихотворные произведения);</li>
					<li>детские сказки;</li>
					<li>детскую развивающую литературу;</li>
					<li>отрывки и части рукописей и идеи произведений, какими гениальными они бы ни были;</li>
					<li>рукописи, написанные от руки.</li>
				</ul>
				</p>
				<p><b>4)</b> В соответствии с правилами работы издательства рукописи <b>не рецензируются и не  возвращаются</b>.</p>

				<p><b>5)</b> Рассматриваются только те заявки, которые <b>удовлетворяют всем требованиям к оформлению материалов</b>.</p>

				<p>В случае заинтересованности в работе с Вашей рукописью редакторы сами свяжутся с Вами по оставленным координатам.</p>

				<h2>Требования к оформлению материалов</h2>

				<p>1) В теле письма необходимо:</p>

				<p>1.1. Указать название рукописи. Если книга подходит под одну из уже существующих серий, то следует указать название данной серии.</p>

				<p>1.2. Указать жанр, в котором написана рукопись: фантастика, фэнтези, детектив, детская литература, современная проза, исторический роман, и др.</p>

				<p>1.3. Указать информацию об авторе: ФИО, возраст, образование, предыдущие публикации и обязательно подробно указать контакты (почту, желательно, мобильный и домашний телефоны).</p>

				<p>2) К письму отдельным файлом необходимо прикрепить рукопись </p>

				<p>2.1 Рукописи следует присылать целиком. Мы не принимаем к рассмотрению отдельные фрагменты рукописей, синопсисы и авторские предложения отдельно от рукописей, не рассматриваем ссылки на книгу, опубликованную на различных интернет-ресурсах.</p>

				<p>2.2 Объем рукописи должен составлять:</p>

				<ul>
					<li>Прикладная литература — не менее 3 авторских листов</li>
					<li>Подростковая литература — не менее 5 авторских листов</li>
					<li>Художественная литература — не менее 7 авторских листов (фантастика и фэнтези — не менее 12 авторских листов).</li>
				</ul>

				<p>Что такое авторский лист, вы можете узнать <a href="#!">здесь</a>.</p>

				<p>2.3 Рукописи принимаются только в электронном виде или же по почте. Мы не принимаем к рассмотрению флеш-накопители и иные носители.</p>

				<p>2.4 Рукопись должна быть в одном файле. Мы не примем к рассмотрению рукопись романа, состоящего, к примеру, из 60 глав, каждая из которых находится в отдельном файле.</p>

				<p>2.5 Материалы, отправляемые по электронной почте, должны быть <b>в формате doc (Microsoft Word)</b>. В случае, если размер файла больше 2 мегабайт, просим его заархивировать (архиватором ZIP, либо RAR).</p>

				<p>2.6 Не забудьте продублировать в файле с рукописью свои контактные данные. Тогда в случае положительного ответа редактору будет проще связаться с вами.</p>

				<a href="#!" class="btn btn--more">Отправить рукопись</a>
			</div>
			<div class="aside">
				<div class="nav">
					<h3>Авторам</h3>
					<span class="nav__link  active">Как издать книгу?</span>
					<a href="#!" class="nav__link">Отправить заявку</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')

