//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')
	<!-- Section: Content -->
	<section class="section  publish-book">
		<div class="container">
			<div class="content">
				<h1>Отправьте свою рукопись!</h1>
				<h2>1. Укажите жанр</h2>

				<label>
					<input type="checkbox" checked>
					<span class="checkbox-icon"></span>
					<div>Российская женская остросюжетная литература (детектив, криминальный роман, боевик и пр.) Объем произведения не менее 8 и не более 13 авторских листов. Рукопись принимается на рассмотрение только с синопсисом</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Российская мужская остросюжетная литература (детектив, криминальный роман, боевик и пр.)</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Фантастика, фэнтези и мистика</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Современная российская проза</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Современный отечественный женский роман</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Подростковая литература (для 10 лет и старше, от 5 авторских листов; произведения в стихотворной форме не рассматриваем): детектив, страшилка, романтическая история о любви для девочек, приключения, волшебные приключения, фэнтези, фантастика.</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Детская литература: детская и подростково-познавательная литература, школьная литература</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Учебная литература на иностранных языках</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Компьютерная литература</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Бизнес-литература</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Научно-популярная литература</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Домашние животные <br> Дела дачные: сад и огород, Ремонт дома и дачи, Дизайн и декор интерьера, Ручное творчество (рукоделия, ремёсла), Хобби, Советы по домашнему хозяйству, <br> Досуг <br> Дикая природа</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Диеты, похудение <br> Здоровье, здоровый образ жизни <br> Беременность,уход за ребенком</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Медицинская литература</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Воспитание и развитие детей <br> Практическая психотерапия, мозг <br> М&Ж, женское счастье, True story <br> Саморазвитие, коммуникации <br> Мода, стиль, красота, этикет <br> Эротика и секс</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Кулинария</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Культура и искусство <br> Обучение рисованию, музыке, фотографии</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Туризм и активный отдых <br> Автомобиль и дорога <br> Спорт и фитнес</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Религия и ее история</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Самопознание. Духовно-мистические учения</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Если Вы не знаете, куда отнести Вашу книгу по прикладной литературе, пишите сюда</div>
				</label>

				<label>
					<input type="checkbox">
					<span class="checkbox-icon"></span>
					<div>Если Вы партнер или VIP-автор, пишите сюда</div>
				</label>

				<h2>2. Краткое описание</h2>

				<p><b>Для художественной литературы</b>: Главные герои (3-4 предложения, где происходит основное действие книги (место и время – какой век), основная идея книги, к каким из существующих книг ваша книга ближе всего по содержанию.</p>

				<p><b>Для деловой, учебной и прикладной литературы</b>: Название книги; описание целевой аудитории; синопсис (общий обзор либо развернутую аннотацию); оглавление; отрывок из книги.</p>

				<div class="form-row">
					<div class="form-field"><textarea name="description" id="description" placeholder="Введите текст"></textarea></div>
				</div>

				<h2>3. Название произведения</h2>

				<div class="form-row">
					<div class="form-field">
						<input type="text" placeholder="Введите текст">
					</div>
				</div>

				<h2>4. Представьтесь</h2>

				<div class="form-row">
					<div class="form-field">
						<input type="text" name="name" placeholder="Имя">
					</div>
					<div class="form-field">
						<input type="text" name="lastname" placeholder="Фамилия">
					</div>
					<div class="form-field">
						<input type="text" placeholder="Отчество">
					</div>
				</div>

				<h2>5. Расскажите о себе</h2>

				<div class="form-row">
					<div class="form-field"><textarea name="description" id="description" placeholder="Введите текст"></textarea></div>
				</div>
				
				<h2>6. Контакты</h2>

				<div class="form-row">
					<div class="form-field">
						<input type="text" name="mail" placeholder="Ваш e-mail">
					</div>
					<div class="form-field  error">
						<input type="text" name="phone" placeholder="Телефон">
					</div>
					<div class="form-field">
						<input type="text" name="phone_2" placeholder="Телефон 2">
					</div>
				</div>

				<h2>7. Ссылка на скачивание рукописи</h2>

				<p>Материалы должны быть в формате doc (Microsoft Word).</p>
				<p>В случае, если размер файла больше 2 MB, просим его заархивировать (архиватором ZIP, либо RAR). Рукописи следует присылать целиком.</p>
				<p>Отрывки и части рукописей не рассматриваются!</p>

				<div class="form-row">
					<div class="form-field">
						<input type="text" placeholder="Ссылка на файл">
					</div>
				</div>

				<div class="form-file">
					<div class="drag-n-drop">
						<i></i>
						<p>Перетащите файл с компьютера в эту область</p>
					</div>
				</div>

				<a href="#!" class="btn btn--more">Отправить</a>

				<!-- DEMO JS-->
				<script>
					window.onload = () => {

						let form = $('.drag-n-drop')

						form.on('drag dragstart dragend dragover dragenter dragleave drop', e => {
							e.preventDefault()
							e.stopPropagation()
						})
						.on('dragover dragenter', function() {
							form.addClass('is-dragover')
						})
						.on('dragleave dragend drop', function() {
							form.removeClass('is-dragover')
						})
						.on('drop', function(e) {
							droppedFiles = e.originalEvent.dataTransfer.files;
						})

					}
				</script>
			</div>
			<div class="aside">
				<div class="img">
					<div style="display: flex; align-items: center; justify-content: center; height: 311px;">Illustration</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')

