//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section  shopping-bag">
		<div class="container">
			<div class="content">
				<div class="products">
					<div class="head">
						<h1 class="heading">Корзина</h1>
						<a href="#!" class="link link--delete"><i class="fas fa-trash"></i> Удалить всё</a>
					</div>
					<div class="product">
						<a href="#!" class="product__cover"><img src="/assets/img/book.png" alt=""></a>
						<div class="product__info">
							<a href="#!" class="product__name">Хочу и буду: Принять себя, полюбить жизнь и стать счастливым</a>
							<div class="product__author">М. Лабковский</div>
						</div>
						<div class="counter">
							<div class="counter__container">
								<span class="left">–</span>
								<span class="value">1</span>
								<span class="right">+</span>
							</div>
						</div>
						<div class="product__price  price">
							<span class="price__value  price__value--blue">478 P</span>
							<span class="price__discount">566 P</span>

							<a href="#!" class="link link--delete"><i class="fas fa-trash"></i> Удалить</a>
						</div>
					</div>
					<div class="product">
						<div class="product__cover"><img src="/assets/img/book.png" alt=""></div>
						<div class="product__info">
							<div class="product__name">Хочу и буду: Принять себя, полюбить жизнь и стать счастливым</div>
							<div class="product__author">М. Лабковский</div>

							<div class="product__message">Осталось в наличии: 2 шт.</div>
						</div>
						<div class="counter">
							<div class="counter__container">
								<span class="left">-</span>
								<span class="value">992</span>
								<span class="right">+</span>
							</div>
							<div class="counter__calc">2 x 490 P</div>
						</div>
						<div class="product__price  price">
							<span class="price__value">980 P</span>

							<a href="#!" class="link link--delete"><i class="fas fa-trash"></i> Удалить</a>
						</div>
					</div>
					<div class="product">
						<div class="product__cover"><img src="/assets/img/book.png" alt=""></div>
						<div class="product__info">
							<div class="product__name">Хочу и буду: Принять себя, полюбить жизнь и стать счастливым</div>
							<div class="product__author">М. Лабковский</div>

							<div class="product__message">Осталось в наличии: 1 шт.</div>
						</div>
						<div class="counter">
							<div class="counter__last">Последний</div>
						</div>
						<div class="product__price  price">
							<span class="price__value">980 P</span>

							<a href="#!" class="link link--delete"><i class="fas fa-trash"></i> Удалить</a>
						</div>
					</div>
				</div>
			</div>
			<div class="aside">
				<div class="order-info">
					<div class="order-info__row  delivery-message">
						<i></i>
						<p>Добавьте товары еще на 758 рублей и мы доставим заказ бесплатно</p>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex">
							<div class="left"><b>Товаров в заказе</b></div>
							<div class="right">6</div>
						</div>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex">
							<div class="left"><b>Вес заказа</b></div>
							<div class="right">4 кг</div>
						</div>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex">
							<div class="left"><b>Сумма заказа</b></div>
							<div class="right"><span class="nowrap">55 250 Р</span></div>
						</div>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex">
							<div class="left"><b>Скидка 20:</b></div>
							<div class="right"><span class="nowrap">- 1 900 Р</span></div>
						</div>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex  promocode">
							<input type="text" class="promocode__input" placeholder="Промокод">
							<button class="promocode__btn">Применить</button>
						</div>
					</div>
					<div class="order-info__row">
						<div class="order-info__flex">
							<div class="left"><b>Итого без учета доставки:</b></div>
							<div class="right"><span class="nowrap"><b>55 250 Р</b></span></div>
						</div>
						<div class="order-info__flex">
							<div class="left">Доставка в</div>
							<div class="right">
								<a href="#!" class="link  link--action">Москва</a>
							</div>
						</div>
						<div class="order-info__flex">
							<div class="left">Стоимость доставки</div>
							<div class="right">
								<a href="#!" class="link  link--action"><span class="nowrap">от 200 Р</span></a>
							</div>
						</div>
						<div class="order-info__flex">
							<div class="left">Передадим в службу доставки</div>
							<div class="right"><span class="nowrap">30 декабря</span></div>
						</div>
						<button class="btn  btn--fill">Оформить заказ</button>
						<button class="btn  btn--border">Купить в один клик</button>
						<div class="order-info__flex">
							<div class="left">Принимаем <a href="#!" class="link  link--action">все виды оплаты</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')