//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section">
		<div class="container">
			<div class="row -mb-default">
				<div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-default d-none d-md-block">

					//@@include('_include/section-sidebar-product.html')

				</div>
				<div class="col-12 col-md-8 col-lg-9 mb-default">

					//@@include('_include/section-product.html')

				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

	//@@include('_include/section-products-carousel.html')

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')