//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')

	<!-- Section: Content -->
	<section class="section default-padding-inner style-big-head style-bg style-stocks">
		<div class="bg">
			<img src="/assets/img/bg-hero-about.png" alt="">
		</div>
		<div class="container">

			<!-- Section Head -->
			<div class="section-head">
				<div class="inner">
					<div class="title">
						<h2>АКЦИИ</h2>
					</div>
				</div>
			</div>
			<!-- End of Section Head -->

			<!-- Section Body -->
			<div class="section-body -mb-default">

				//@@for(var i = 0; i < 3; i++) {

				<!-- Item -->
				<div class="ui card style-stock mb-default">
					<div class="image" style="background-image: url('//placehold.it/500x400')">
						<a href="#."></a>
					</div>
					<div class="info">
						<h3 class="title"><a href="#.">Скидка -20%</a></h3>
						<p class="description">Скидку 20% на все книги до 5 июня!<br>Просто введите промокод bombora.ru при заказе книг на сайте нашего интернет-магазина book24.ru, и получите скидку!<br>После 5 июня промокод действует на скидку 15%!
						</p>
					</div>
				</div>
				<!-- End of Item -->

				<!-- Item -->
				<div class="ui card style-stock is-mirrored mb-default">
					<div class="image" style="background-image: url('//placehold.it/500x400')">
						<a href="#."></a>
					</div>
					<div class="info">
						<h3 class="title"><a href="#.">Скидка -20%</a></h3>
						<p class="description">Скидку 20% на все книги до 5 июня!<br>Просто введите промокод bombora.ru при заказе книг на сайте нашего интернет-магазина book24.ru, и получите скидку!<br>После 5 июня промокод действует на скидку 15%!
						</p>
					</div>
				</div>
				<!-- End of Item -->

				}

			</div>
			<!-- End of Section Body -->

		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')