//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<section class="subscribe-settings">
		<div class="container">
			<div class="content">
				<h1 class="title">Обновление настроек</h1>
				<p class="desc">Здесь можно выбрать,какие из наших рассылок вы хотите читать.</p>
				<form class="form">
					<label class="input-label">
						<p>Пишите на:</p>
						<input type="text">
					</label>
					<label class="input-label">
						<p>Зовите меня:</p>
						<input type="text">
					</label>
					<label class="input-label">
						<p>Имя:</p>
						<input type="text">
					</label>

					<h2 class="title">Хочу получать рассылку:</h2>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Бомбические письма: книжные новинки, скидки, акции</p>
					</label>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Рассылка от Одри про красоту, стиль, моду и вдохновение</p>
					</label>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Кулинарная рассылка от издательства Хлеб&Соль</p>
					</label>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Рассылка для заядлых путешественников от Оранжевого гида</p>
					</label>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Оперативная бизнес-рассылка: новые книги, советы профессионалов, полезные материалы</p>
					</label>
					<label class="checkbox-label">
						<input type="checkbox">
						<p>Мистическая рассылка</p>
					</label>
				</form>
			</div>
		</div>
	</section>

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')