//@@include('_include/header.html')

//@@include('_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	//@@include('_include/section-breadcrumbs.html')
	
	<div class="container">
		<h1>Где купить книги издательства БОМБОРА?</h1>
	</div>
	<!-- Section: Content -->
	<section class="section  where-buy">
		<div class="container">
			<h2>Интернет-магазины</h2>
			<div class="i-shop">
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/120x50" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">Интернет-магазин издательства «БОМБОРА»</p>
						<span class="i-shop__url">book24.ru</span>
					</div>
				</a>
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/120x50" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">Интернет-магазин Book24.ua</p>
						<span class="i-shop__url">book24.ua</span>
					</div>
				</a>
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/120x50" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">Озон</p>
						<span class="i-shop__url">ozon.ru</span>
					</div>
				</a>
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/220x220" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">My-shop.ru</p>
						<span class="i-shop__url">my-shop.ru</span>
					</div>
				</a>
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/120x50" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">ЛитРес</p>
						<span class="i-shop__url">litres.ru</span>
					</div>
				</a>
				<a href="#!" class="i-shop__item">
					<div class="i-shop__img"><img src="//placehold.it/120x50" alt=""></div>
					<div class="i-shop__info">
						<p class="i-shop__name">Интернет-магазин book24.kz</p>
						<span class="i-shop__url">book24.kz</span>
					</div>
				</a>
			</div>
			<button class="btn btn--more">Загрузить еще</button>
		</div>
		<div class="container">
			<h2>Книжные магазины в вашем городе</h2>
			<div class="shop-accordion" id="shop-accordion-container">
				<div class="shop-accordion__col">
					<div class="shop-accordion__item  active">
						<div class="shop-accordion__head">Абакан</div>
						<div class="shop-accordion__body" style="display: block">
							<b>Сеть книжных магазинов «Читай-город»</b>
							<p>ТЦ «Европа», ул. Крылова, 66Б</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>
				</div>
				<div class="shop-accordion__col">
					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Абакан</div>
						<div class="shop-accordion__body">
							<b>Сеть книжных магазинов «Читай-город»</b>
							<p>ТЦ «Европа», ул. Крылова, 66Б</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>

					<div class="shop-accordion__item">
						<div class="shop-accordion__head">Азнакаево</div>
						<div class="shop-accordion__body">
							<b>Дом Книги</b>
							<p>ул. Нефтяников, 33</p>
							<a href="#!">bookskazan.ru</a>
							<p>тел. 8 (8559) 29-80-41</p>
							<p>ежедневно 9.00 - 20.00</p>
						</div>
					</div>
				</div>
			</div>

			<button class="btn btn--more">Загрузить еще</button>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('_include/footer.html')
//@@include('_include/js/scripts.html')
//@@include('_include/_html-end.html')

