.bloggers-collection {
  * {
    box-sizing: border-box;
  }

  .general-links {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(35, 35, 35, .08);

    ul a {
      padding-left: 40px;
      padding-right: 40px;
    }

  }

  .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 1px solid #00ADE2;
    color: #969696;

    &:hover {
      background-color: #00ADE2;
      color: #FFFFFF;
    }

    @media(max-width: 767px) {
      width: 28px;
      height: 28px;
    }
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 0;
    margin: 0 -20px;

    @media(max-width: 767px) {
      justify-content: center;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &-card {
    width: calc(33.33333% - 40px);
    margin: 20px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 3px 5px 21px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    transition: .3s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    }

    @media(max-width: 991px) {
      width: calc(50% - 40px);
    }

    @media(max-width: 767px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 20px;
    }

    &__img {
      margin-bottom: 30px;

      @media(max-width: 767px) {
        margin-bottom: 15px;
      }

      img {
        max-width: 100%;
      }
    }

    &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 20px;
      margin-bottom: 14px;

      @media(max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    &__name {
      font-size: 20px;
      line-height: 120%;
    }

    &__social {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    &__desc {
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
    }

    &__bot {
      margin-top: auto;
      width: 100%;
    }
  }


  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 32px;
    width: 100%;
    max-width: 98px;
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: $color-primary;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color .3s;

    &:hover {

      color: $color-primary;
      border-color: $color-primary;
      background-color: #fff;
    }
  }

  &-head {
    display: flex;
    column-gap: 40px;
    padding: 60px 0;

    @media(max-width: 767px) {
      padding: 30px 0;
      column-gap: 15px;
    }

    &__img {
      flex: 0 0 auto;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 50%;

        @media(max-width: 767px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__info {
      max-width: 360px;
      display: flex;
      flex-direction: column;

      @media(max-width: 767px) {
        max-width: 300px;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 40px;
      margin-bottom: 14px;

      @media(max-width: 767px) {
        column-gap: 20px;
        margin-bottom: 15px;
      }
    }

    &__name {
      font-size: 44px;

      @media(max-width: 767px) {
        font-size: 20px;
      }
    }

    &__social {
      display: flex;
      align-items: center;
      column-gap: 10px;

      a {
        font-size: 16px;
        color: $color-primary;
      }

      @media(max-width: 767px) {
        a {
          font-size: 12px;
        }
      }
    }

    &__desc {
      font-size: 20px;
      line-height: 120%;
      color: rgba(0, 0, 0, 0.5);

      @media(max-width: 767px) {
        font-size: 14px;
      }
    }
  }

  &-books-wrapper {
    padding: 40px 0;
    background: linear-gradient(239.52deg, #CAB1EB 0.01%, rgba(202, 177, 235, 0.15) 100%);
  }

  &-books {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    @media(max-width: 767px) {
      margin: 0 -10px;
    }
  }

  &-book {
    display: flex;
    flex-direction: column;
    width: calc(33.333333% - 40px);
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 3px 5px 21px rgba(0, 0, 0, 0.15);
    padding: 30px;

    @media(max-width: 991px) {
      width: calc(50% - 40px);
    }

    @media(max-width: 767px) {
      width: 100%;
      margin: 10px;
      padding: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 15px;
    }

    @media(min-width: 767px) {
      &.--large {
        width: calc(66.66666% - 40px);
        display: flex;
        flex-direction: row;
        column-gap: 30px;

        @media(max-width: 991px) {
          width: 100%;
        }

        .bloggers-collection-book {
          &__img {
            height: auto;
            margin-bottom: 0;
            width: 270px;
            flex: 0 0 auto;
          }

          &__info {
            display: flex;
            flex-direction: column;
          }

          &__bot {
            width: 100%;
            margin-top: auto;
          }
        }
      }
    }

    &__info {
      flex: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }

    &__img {
      height: 200px;
      text-align: center;
      margin-bottom: 30px;

      img {
        max-width: 100%;
        max-height: 100%;
      }

      @media(max-width: 767px) {
        height: auto;
        margin-bottom: 0;
        width: 100px;
        flex: 0 0 auto;
      }
    }

    &__name {
      font-size: 28px;
      line-height: 130%;
      color: #000000;
      margin-bottom: 3px;

      @media(max-width: 767px) {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }

    &__author {
      display: inline-block;
      font-size: 18px;
      line-height: 27px;
      color: $color-primary;
      margin-bottom: 8px;

      @media(max-width: 767px) {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &__desc {
      font-size: 14px;
      line-height: 21px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 30px;

      @media(max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 30px;
      }

      & + .more {
        position: relative;
        top: -20px;
      }
    }

    .more {
      width: auto;
      display: inline-block;
      font-size: 14px;
      line-height: 1;
      color: $color-primary;
      border-bottom: 1px dashed;

      @media(min-width: 768px) {
        display: none;
      }

      @media(max-width: 767px) {
        font-size: 12px;
      }
    }
  }

  // slider

  &-slider {
    padding: 60px 0 0;

    @media(max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .title {
      margin-bottom: 40px;
    }

    .section.items-carousel-wrapper .slick-slide {
      margin: 20px;

      @media(max-width: 767px) {
        margin: 20px 10px;
      }
    }

    .bloggers-collection-card {
      box-shadow: 0 5px 15px 0 rgba(#000, .15);
    }
  }
}

.bloggers-collection.--bloggers-collection-page {
  .general-links {
    .container {
      @media(max-width: 767px) {
        padding: 0;
      }
    }

    ul a {
      padding-left: 17px;
      padding-right: 17px;
    }

  }
}