.index-subscriptions {

  &-map {
    margin-top: 60px;
    margin-bottom: 60px;

    img {
      max-width: 100%;
    }
  }

  .subscribe-block-section {
    height: auto;
    margin: 0 0 60px;

    .subscribe-block {
      max-width: none;

      &:before {
        background: $color-primary;
      }
    }
  }

  .subscribe-block.--subscribe-block-simple {
    max-width: none;
    padding: 0;

    &:before {
      display: none;
    }

    .subscribe-block {
      &__content {
        padding: 0;
      }

      &__title {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 10px;

        @media (max-width: 767px) {
          margin-left: 0;
          margin-bottom: 10px;
          min-height: 0;
        }
      }

      &__text {
        font-size: 18px;
        line-height: 100%;
        margin-bottom: 20px;
      }

      &__form .form-field {
        padding-left: 0;
      }
    }
  }

  .general-slider {

    &-description {
      padding: 60px 0;
      font-size: 18px;
      line-height: 27px;

      p {
        margin: 0;
      }

      @media(max-width: 767px) {
        padding: 40px 0;
      }
    }

    .general-slider-slick-arrows {
      @media(min-width: 1200px) {
        top: 225px;
      }

      @media(max-width: 1199px) and (min-width: 991px) {
        top: 170px;
      }

      @media(max-width: 990px) and (min-width: 768px) {
        top: 140px;
      }
    }
  }
}

.general-links-wrapper {
  position: relative;
  z-index: 2;

  .general-links {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        z-index: #{10 - $i};
      }
    }
  }
}


.subscription-gift-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  overflow: auto;
  background-color: rgba(#000, .7);
}

.subscription-gift-modal-area {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}

.subscription-gift-modal {
  position: relative;
  width: 100%;
  max-width: 1114px;
  background-color: #FFFFFF;
  padding: 30px;

  @media(max-width: 520px) {
    padding: 30px 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 34px;
    line-height: 30px;
    padding-right: 90px;
    margin-bottom: 30px;

    @media(max-width: 520px) {
      font-size: 22px;
      margin-bottom: 20px;
    }
  }

  &-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: .3s;

    svg {
      max-width: 100%;
      transition: .3s;

      path {
        stroke: #000;
        transition: .3s;
      }
    }

    &:hover {
      svg path {
        stroke: $color-primary;
      }
    }
  }
}

.subscription-gift-modal-books {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 30px;
  justify-content: center;

  @media(max-width: 520px) {
    column-gap: 15px;
    row-gap: 20px;
  }
}

.subscription-gift-modal-book {
  width: 190px;

  @media(max-width: 520px) {
    width: 120px;
  }
}