.technical-page {
    &__logo {
        margin-top: 67px;
        margin-bottom: 55px;
        
        @media(max-width: 560px) {
            margin-top: 27px;
            margin-bottom: 47px;
        }
    }

    &__content {
        text-align: center;

        img {
            display: inline-block;
            margin-bottom: 32px;
            
            @media(max-width: 560px) {
                width: 174px;
                height: 162px;
                margin-bottom: 16px;
            }
        }

        p {
            font-size: 20px;
            line-height: 29px;
        }

        .title {
            font-size: 28px;
            line-height: 34px;
            width: 100%;
            max-width: 562px;
            margin: 0 auto 73px;
            
            @media(max-width: 560px) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 2px 15px 0;
            height: 48px;
            width: 100%;
            max-width: 176px;
            border-radius: 100px;
            border: 1px solid transparent;
            outline: none;
            cursor: pointer;
            transition: all .3s;
            background-color: transparent;
            border-color: $color-primary;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            margin-top: 16px;
            font-weight: bold;
            color: $color-primary;
            margin-bottom: 40px;
            
            @media(max-width: 560px) {
                margin-top: 5px;
                margin-bottom: 20px;
            }

            &:hover {
                background-color: $color-primary;
                border-color: $color-primary;
                color: #fff;
            }
        }

    }
}