.birthday-cap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	z-index: 101;
	background-color: #fff;
	overflow: hidden;

	* {
		box-sizing: border-box;
	}

	img {
		max-width: 100%;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 63px;
		left: 0;
		width: 100%;
		height: 10px;
		z-index: 9;
		background-image: linear-gradient(to top, #fff 0%, rgba(#fff, 0) 100%);
	}

	&__area {
		box-sizing: content-box;
		padding-right: 20px;
		width: 100%;
		height: calc(100% - 63px);
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	&__head {
		position: relative;
		z-index: 1;
		max-width: 1208px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 40px;

		& > img {
			position: relative;
			z-index: 3;
		}
	}

	&__layers {
		position: absolute;
		width: 100%;
		height: 100%;

		.layer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			img {
				position: absolute;
			}

			&--1 {
				img {
					top: calc(90px - 200px);
					left: -125px;
					max-width: 539px;
					animation: moving 5s ease-in-out infinite;
				}
			}

			&--2 {
				img {
					top: calc(75px - 200px);
					left: 146px;
					max-width: 628px;
					animation: fly 8s ease-in-out 0s infinite;
				}
			}

			&--3 {
				img {
					top: calc(105px - 200px);
					right: -22px;
					max-width: 756px;
					animation: fly2 7s ease-in-out 0s infinite;
				}
			}

		}
	}

	&__back {
		opacity: .5;
		position: absolute;
		padding: 20px;
		width: 320px;
		bottom: 0;
		border: none;
		background-color: #fff;
		outline: none;
		cursor: pointer;
		left: 50%;
		margin-left: -160px;
		font-size: 16px;
		line-height: 23px;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		transition: color .3s;

		&:hover {
			color: $color-primary;
		}
	}

	&__fields {
		display: flex;
		margin-bottom: 10px;

		.name {
			flex: 0 0 auto;
			max-width: 250px;
			margin-right: 20px;
		}

		.email {
			width: 100%;
		}

		@media(max-width: 600px) {
			display: block;

			.name {
				width: 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	&__container {
		position: relative;
		z-index: 2;
		max-width: 800px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
		color: #272727;
		padding-bottom: 23px;


		p {
			font-size: 20px;
			line-height: 29px;
			margin-bottom: 15px;

			@media(max-width: 767px) {
				font-size: 16px;
				line-height: 24px;
			}
		}

		h3 {
			margin-top: 30px;
			font-size: 32px;
			line-height: 48px;
			font-weight: 900;
			margin-bottom: 20px;

			@media(max-width: 767px) {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 10px;
				margin-top: 20px;
			}
		}

		input,
		textarea {
			width: 100%;
			max-width: 100%;
			background-color: #fff;
			border: 2px solid rgba(#707070, .2);
			border-radius: 8px;
			font-family: inherit;
			font-size: 20px;
			line-height: 29px;

			@media(max-width: 767px) {
				border-width: 1px;
				font-size: 16px;
				line-height: 28px;
			}
		}
		
		input {
			padding: 0 30px;
			min-height: 54px;

			&::placeholder { color: #bbb; }

			@media(max-width: 767px) {
				padding: 0 20px;
			}
		}

		textarea {
			padding: 18px 30px;
			vertical-align: top;
			min-height: 94px;
			max-height: 220px;
			margin-bottom: 20px;

			@media(max-width: 767px) {
				padding: 20px;
			}
		}

		.note {
			padding: 0 32px;
			display: block;
			font-size: 12px;
			line-height: normal;
			margin-bottom: 22px;

			@media(max-width: 767px) {
				padding: 0 20px;
			}
		}

		button {
			margin-left: auto;
			cursor: pointer;
			min-width: 200px;
			min-height: 50px;
			border-radius: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			padding: 10px 20px;
			outline: none;

			background-color: #6CACFE;
			background-image: linear-gradient(to left, #6CACFE 0%, #6AE5F6 100%);

			p {
				position: relative;
				z-index: 2;
				color: #fff;
				font-size: 16px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				line-height: 23px;
				font-weight: bold;
				margin: 0;
			}

			&.success {
				background-image: none;
				background-color: #6AE9A5;
			}
		}
	}
}

@keyframes fly {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(15px, -20px)
    }
    100% {
        transform: translate(0, 0)
    }
}

@keyframes fly2 {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(-20px, -8px)
    }
    100% {
        transform: translate(0, 0)
    }
}

@keyframes moving {
	0% {
		transform: translate(0px, 0px)
	}

	50% {
		transform: translate(-10px, 20px)
	}

	100% {
		transform: translate(0px, 0px)
	}
}