.events {
	background-color: #F5F5F5;
	padding: 80px 0 60px;

	box-sizing: border-box;

	@media(max-width: 767px) {
		padding: 40px 0;
	}

	&-filter {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -15px 8px;

		a {
			font-size: 18px;
			line-height: 28px;
			color: rgba(#626D7B, .66);
			margin: 5px 15px;
			transition: color .2s;

			&:hover {
				color: #626D7B
			}

			&.active { color: #000; }
		}

		@media(max-width: 575px) {
			max-width: 375px;
			margin: 0 auto;

			a {
				font-size: 16px;
				line-height: normal;
			}
		}

		@media(max-width: 400px) {
			max-width: none;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}



.events-list {
	position: relative;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 -15px;

	.slick-dots {
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		list-style: none;
		li {
			cursor: pointer;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 0 5px;
			background-color: #C4C4C4;
			border: 2px solid #C4C4C4;
			transition: background-color .2s;

			&.slick-active {
				background-color: #fff;
			}
		}

		button {
			display: block;
			background: none;
			border: none;
			outline: none;
			font-size: 0;
			width: 100%;
			height: 100%;
		}
	}

	@media(max-width: 991px) {
		&--with-calendar {
			padding-top: 396px;
		}


		&--slider {
			max-width: 375px;
			margin-left: auto;
			margin-right: auto;

			.events-card {
				width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

    @media(max-width: 767px) {
		&--with-calendar {
	    	padding-top: 325px;
	    }
    }

	@media(max-width: 575px) {
		justify-content: center;

		&--with-calendar {
			max-width: 345px;
			margin: 0 auto;
		}
	}

	@media(max-width: 420px) {
		&--slider {
			width: auto;
			max-width: none;
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

.events-card {
	width: 33.3333%;
	min-width: 260px;
	padding: 15px;

	@media(max-width: 991px) {
		width: 50%;
	}

	@media(max-width: 575px) {
		width: 100%;
		padding: 15px 0;
	}

	&--calendar {
		@media(max-width: 991px) {
			padding-top: 0;
			padding-bottom: 0;
			position: absolute;
			top: 20px;
			left: 0;
			width: 360px;
			box-shadow: none;
			.events-card__container {
				min-height: 361px;
				box-shadow: 0 0 7px 0 rgba(#000, .12);
				&:hover {box-shadow: 0 0 7px 0 rgba(#000, .12);}
			}
		}

		@media(max-width: 767px) {
			left: 50%;
			margin-left: -270px;
			width: 270px;
			
			.events-card__container {
				min-height: 291px;
			}
		}

		@media(max-width: 575px) {
			left: 0;
			margin-left: 0;
			width: 100%;
		}

		@media(max-width: 380px) {
			margin-left: 0;
			left: 0;
		}
	}

	&__container {
		text-decoration: none;
		color: inherit;
		display: block;
		height: 100%;
		background-color: #fff;

		box-shadow: 0 0 33px rgba(#000, .12);
		transition: box-shadow .2s;

		&:hover {
			box-shadow: 0 10px 40px rgba(#000, .3);

			.events-card__title { color: $color-primary }
		}
	}

	&__img {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		height: 182px;

		img {
			max-width: 200%;
			max-height: 200%;
		}

		&.decor {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 102%;
				height: 102%;
				background-position: bottom left;
				background-repeat: no-repeat;
				background-size: cover;
				z-index: 2;
			}

			&--1:after {background-image: url(../img/events/event_cover_decor-min_1.png);}
			&--2:after {
				background-image: url(../img/events/event_cover_decor-min_2.png);
				background-size: auto 100%;
			}
			&--3:after {background-image: url(../img/events/event_cover_decor-min_3.png);}
			&--4:after {background-image: url(../img/events/event_cover_decor-min_4.png);}
			&--5:after {background-image: url(../img/events/event_cover_decor-min_5.png);}
			&--6:after {background-image: url(../img/events/event_cover_decor-min_6.png);}
			&--7:after {background-image: url(../img/events/event_cover_decor-min_7.png);}
			&--8:after {background-image: url(../img/events/event_cover_decor-min_8.png);}
			&--9:after {background-image: url(../img/events/event_cover_decor-min_9.png);}
			&--10:after {background-image: url(../img/events/event_cover_decor-min_10.png);}
		}
	}

	&__content {
		padding: 30px 25px 25px;

		@media(max-width: 767px) {
			padding: 25px 20px;
		}
	}

	&__title {
		font-size: 22px;
		line-height: 24px;
		margin-bottom: 18px;
		transition: color .2s;
	}

	&__date {
		color: $color-primary;
		font-size: 13px;
		line-height: 1;
		margin: 0 0 7px;
	}

	&__address {
		color: #8B8B8B;
		font-size: 13px;
		line-height: 1;
		margin: 0;
	}
}


/* 
* Event Page
*/
.event {
	padding-bottom: 60px;

	.title {
		font-size: 28px;
		line-height: 28px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 24px;

		@media(max-width: 767px) {
			font-size: 22px;
			line-height: 1.5;
		}
	}

	&__cover {
		max-width: 800px;
		margin-bottom: 40px;

		img { max-width: 100%; }

		&.decor {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: bottom left;
				background-repeat: no-repeat;
				background-size: 100% auto;
				z-index: 2;
			}

			&--1:after {background-image: url(../img/events/event_cover_decor_1.png);}
			&--2:after {background-image: url(../img/events/event_cover_decor_2.png);}
			&--3:after {background-image: url(../img/events/event_cover_decor_3.png);}
			&--4:after {background-image: url(../img/events/event_cover_decor_4.png);}
			&--5:after {background-image: url(../img/events/event_cover_decor_5.png);}
			&--6:after {background-image: url(../img/events/event_cover_decor_6.png);}
			&--7:after {background-image: url(../img/events/event_cover_decor_7.png);}
			&--8:after {background-image: url(../img/events/event_cover_decor_8.png);}
			&--9:after {
				background-image: url(../img/events/event_cover_decor_9.png);
				background-position: top center;
			}
			&--10:after {background-image: url(../img/events/event_cover_decor_10.png);}

			&--5,
			&--6,
			&--8,
			&--10 {
				&:after {
					background-size: cover;
					background-position: center;
				}
			}
		}
	}

	.info {
		display: flex;

		@media(max-width: 550px) {
			display: block;
		}
	}

	.book {
		width: 190px;
		text-align: center;
		margin-right: 30px;

		&__cover {
			margin-bottom: 20px;

			img { max-width: 100%; }
		}

		.button {
			margin-bottom: 40px;
		}

		@media(max-width: 550px) {
			text-align: left;
			margin-bottom: 40px;

			&__cover {
				max-width: 160px;
			}

			.button {
				margin-bottom: 20px;
			}
		}
	}

	.share {
		text-align: left;

		.title {
			text-transform: none;
			font-weight: normal;
			color: #8D8D8D;
			font-size: 14px;
			line-height: normal;
			margin-bottom: 10px;
		}

		.socials {
			display: flex;
			align-items: center;
			margin: 0 -4px;

			a {
				color: #fff;
				margin: 4px;
				width: 32px;
				height: 32px;
				background-color: $color-primary;
				font-size: 14px;
				border: 1px solid transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;

				&:hover {
					color: $color-primary;
					border-color: $color-primary;
					background-color: #fff;
				}
			}
		}
	}

	.content {
		max-width: 460px;
	}

	.meta {
		max-width: 350px;
		font-size: 14px;
		line-height: 22px;
		color: #4D4D4D;
		margin-bottom: 18px;
	}

	.date {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.text {
		font-size: 17px;
		line-height: 25px;

		p {
			margin-bottom: 30px;

			&:last-child { margin-bottom: 0; }
		}
	}

	.add-event {
		display: inline-flex;
		align-items: center;
		color: #8D8D8D;
		margin-bottom: 20px;

		i {
			position: relative;
			top: -2px;
			flex: 0 0 auto;
			margin-right: 8px;
			color: $color-primary;
		}

		p {
			margin: 0;
		}

		&:hover {
			color: $color-primary;
		}
	}
}


.events-another {
	padding-bottom: 60px;

	.section-head {
		margin-bottom: 0;
	}

	.container {
	}

	/* Events list */
	.events-list {}
	.events-card {

		&__container {
			box-shadow: none;
		}
	}
}