.fan-edition {
	padding-bottom: 50px;

	.first {
		.content {
			max-width: 650px;
			padding-bottom: 17px;

			&__title {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 25px;
				font-weight: bold;

				@media(max-width: 767px) {
					font-size: 24px;
				}
			}

			&__desc {
				font-size: 16px;
				line-height: 24px;
				padding-bottom: 17px;

				@media(max-width: 767px) {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
	}

	.second {
		min-height: 310px;
	    background-image: linear-gradient(25deg, #fec32b 0%, #ff64fb 100%);
	    background-position: 0 0, -200px;

		@media(max-width: 1200px) {
			min-height: 0;
		}

		@media(max-width: 767px) {
			.container {
				max-width: 100%;
			}
		}

		.content {
			display: flex;
			justify-content: center;

			@media(max-width: 650px) {
				padding-top: 20px;
				padding-bottom: 20px;
				flex-wrap: wrap;
			}

			.theme {
				display: block;
				text-decoration: none;
				padding: 65px 30px 30px;

				&:hover {
					.theme__icon {
						transform: translateY(-10px);	
					}
				}

				@media(max-width: 991px) {
					padding: 30px 20px;
					max-width: 130px;
				}

				@media(max-width: 650px) {
					max-width: 140px;
					padding-top: 20px;
					padding-bottom: 0px;
				}

				&__icon {
					text-align: center;
					box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.4);  
					transition: all 0.5s;

					img {
						max-width: 100%;
					}
				}

				&__title {
					color: #000;
					text-transform: uppercase;
					text-align: center;
					font-size: 22px;
					padding-top: 30px;
					margin: 0;

					@media(max-width: 1200px) {
						padding-top: 20px;
						font-size: 18px;
						line-height: 24px;
					}

					@media(max-width: 991px) {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
	}

	.three {
		padding-left: 20px;
		padding-right: 20px;

		.container {
			position: relative;
			max-width: 1160px;
			border: 1px solid #cbcbcb;
			border-radius: 10px;
			margin-top: 75px;
			padding-top: 70px;
			padding-left: 20px;
			padding-right: 20px;

			@media(max-width: 767px) {
				border: none;
				margin-top: 20px;
				padding-left: 0;
				padding-right: 0;
			    max-width: 540px;
			}
			
			.text-carrot {
				position: absolute;
				top: 20px;
				right: 14px;
				color: #ff7e00;

				font-size: 24px;
				text-align: right;

				@media(max-width: 767px) {
					font-size: 18px;
					left: 0px;
					right: auto;
				}
			}
		}	

		.content {
			display: flex;

			@media(max-width: 767px) {
				display: block;
			}

			.book {
				max-width: 300px;

				&__cover {
					margin-bottom: 40px;

					img {
						max-width: 100%;
						box-shadow: 0 20px 20px -10px rgba(#000, .4);
					}
				}

				.text-blue {
					color: #00ade2;
					font-size: 26px;	
				}

				@media(max-width: 991px) {
					max-width: 200px;

					.text-blue {
						display: block;
						font-size: 18px;
						text-align: center;
					}
				}

				@media(max-width: 767px) {
					max-width: 180px;
					margin-bottom: 20px;

					&__cover {
						margin-bottom: 20px;

						img {
							box-shadow: 0 20px 10px -10px rgba(#000, .3);
						}
					}

					.text-blue {
						font-size: 16px;
						text-align: left;
					}
				}
			}
			.item {
				max-width: 720px;
				padding-left: 42px;
				padding-bottom: 80px;

				@media(max-width: 767px) {
					max-width: 100%;
					padding-left: 0;
				}

				p {
					margin: 0;
				}

				.title {
					font-size: 48px;
					margin: 0;
				}

				&__subtitle {
					font-size: 28px;
					line-height: 1;
					font-weight: bold;
					margin-bottom: 30px;
				}

				.text {
					font-size: 24px;
					line-height: 31px;
					margin-bottom: 30px;
				}

				.text-bold {
					font-weight: bold;
					font-size: 23px;
					max-width: 680px;
					margin-bottom: 50px;
				}

				.text-s {
					font-size: 21px;
					max-width: 680px;
					margin-bottom: 20px;
				}

				.quote {
					margin-top: 60px;
					position: relative;
					border: 2px solid $color-primary;
					border-radius: 8px;
					width: 100%;
					max-width: 560px;
					padding-left: 8px;
					padding-right: 50px;
					padding-bottom: 30px;
					margin-bottom: 40px;

					&__title {
						position: relative;
						top: -3px;
						display: inline-flex;
						align-items: center;
						background-color: #fff;
						font-size: 28px;
						font-weight: bold;
						line-height: 1;
						padding-left: 12px;
						padding-right: 12px;
						margin: -20px 0 20px;

						&:before {
							content: '';
							display: block;
							flex: 0 0 auto;
							width: 16px;
							height: 25px;
							margin-right: 15px;
							background-image: url(../img/fan-edition/icon-arrows.png);
							background-repeat: no-repeat;
						}
					}

					&__text {
						padding-left: 42px;
						font-size: 26px;
						line-height: 1.3;
					}

					@media(max-width: 767px) {
						&__title {
							font-size: 20px;
							line-height: 1.3;
						}

						&__text {
							font-size: 20px;
							line-height: 1.3;
						}
					}

					@media(max-width: 400px) {
						padding-right: 20px;

						&__text {
							padding-left: 22px;
						}
					}
				}

				.list {
					padding-left: 25px;
					margin-bottom: 40px;

					li {
						font-weight: normal;
						font-size: 24px;
						margin-bottom: 20px;

						&:last-child {margin-bottom: 0;}
					}

					@media(max-width: 767px) {
						li {
							font-size: 18px;
							line-height: 1.3;
							margin-bottom: 10px;
						}
					}
				}

				@media(max-width: 1100px) {

					.title {
						font-size: 34px;
						line-height: 40px;
						margin-bottom: 15px;
					}

					.text,
					.text-bold {
						font-size: 20px;
						line-height: 24px;
						margin-bottom: 20px;
					}
					.text-s {
						font-size: 18px;
						line-height: 22px;
					}
				}
			}	
		}
	}


	.btn {
		width: 100%;
		max-width: 260px;
		min-height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-radius: 27px;
		border: 1px solid $color-primary;
		background-color: $color-primary;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		transition: all .3s;

		&:hover {
			background-color: #fff;
			color: $color-primary;
		}
	}


	.fe-popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -480px;
		margin-top: -403px;

		width: 100%;
		max-width: 960px;
		height: 100%;
		max-height: 775px;
		z-index: 101;
		background-color: #fff;
		background-image: url(../img/fan-edition/fan-edition-popup_bg@2x.png);
		box-shadow: 0 0 20px 0 rgba(#000, .16);
		border-radius: 4px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		overflow: hidden;
		-webkit-overflow-scrolling: touch;


		@media(max-height: 805px) {
			top: 0;
			margin-top: 0;
		}

		@media(max-width: 976px) {
			left: 0;
			margin-left: 0;
			max-width: 100%;
		}

		@media(max-width: 767px) {
			max-height: none;
			margin-top: 0;
			top: 0;
			border-radius: 0;
			background-size: cover;
			background-position: 5% center;
		}

		* { box-sizing: border-box; }

		&__scrollarea {
			overflow-y: scroll;
			padding-right: 20px;
			box-sizing: content-box;
			width: 100%;
			height: 100%;

			@media(max-width: 720px) {
				background-color: rgba(#000, .6);
			}
		}

		&__close {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 40px;
			height: 40px;
			z-index: 2;
			background-color: rgba(#00ade2, .5);
			background-image: url(../img/fan-edition/icon-close.svg);
			background-size: 50% 50%;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 0 4px 0 0;
			cursor: pointer;
			transition: background-color .2s;

			&:hover {
				background-color: $color-primary;
			}

			@media(max-width: 600px) {
				top: 0;
				right: 0;
				border-radius: 0;
				width: 40px;
				height: 40px;
			}
		}

		&__container {
			position: relative;
			padding-left: 100px;
			padding-right: 30px;

			@media(max-width: 976px) {
				padding-left: 30px;
			}

			@media(max-width: 767px) {
			}
		}

		&__form {
			padding-top: 60px;
			padding-bottom: 40px;
			width: 100%;
			max-width: 540px;
			margin-left: auto;

			@media(max-height: 805px) {
				padding-top: 40px;
			}

			@media(max-width: 900px) {

				margin-left: auto;
				margin-right: auto;
			}

		}

		&__title {
			font-size: 32px;
			line-height: 48px;
			font-weight: bold;
			margin: 0 0 30px;

			@media(max-width: 500px) {
				font-size: 24px;
				line-height: 30px;
			}

			@media(max-height: 805px) {
				margin-bottom: 20px;
			}
		}

		&__field {
			margin-bottom: 20px;

			&:last-child {margin-bottom: 0;}

			@media(max-height: 805px) {
				margin-bottom: 15px;
			}

		}

		&__input,
		&__textarea {
			width: 100%;
			min-height: 46px;
			border: 1px solid #B8B8B8;
			border-radius: 4px;
			background-color: #fff;
			padding: 10px 20px;
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			transition: border-color .3s;

			&::placeholder {color: #9E9E9E;}

			&.error {
				box-shadow: 0 0 10px 2px tomato;
				border-color: tomato;
			}
		}

		&__textarea {
			padding-top: 10px;
			padding-bottom: 10px;
			height: 84px;
			max-width: 100%;
			resize: none;
		}


		&__group {
			background-color: rgba(#fff, .97);
			border: 1px solid #B8B8B8;
			padding: 10px;
			border-radius: 4px;
			padding: 24px 20px 10px;
			margin-bottom: 20px;

			p {
				font-size: 22px;
				line-height: 32px;
				font-weight: bold;
				margin: 0 0 20px;
			}
		}

		&__checkboxes-list {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-left: -10px;
			margin-right: -10px;
		}

		&__checkbox {
			cursor: pointer;
			display: flex;
			width: 100%;
			max-width: 235px;
			font-size: 20px;
			line-height: 24px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 15px;

			input {
				position: relative;
				background-color: #fff;
				margin: 5px 10px 0 0;
				padding: 0;

			}


			@media(max-width: 767px) {
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.btn {
			font-weight: 400;
			box-shadow: 3px 3px 0 0 rgba(#fff, .78);
			transition: all .2s;

			&:hover {
				box-shadow: none;
			}
		}
	}
}