.landing-translate {
	background-image: url(../img/landing-translate/landing-translate_bg.jpg);
	background-size: cover;
	background-position: center center;

	.container {
		max-width: 1028px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;

		padding-top: 76px;
		padding-bottom: 170px;
	}

	.title {
		text-align: center;
		font-size: 64px;
		line-height: auto;
		letter-spacing: 0.04em;
		margin-bottom: 68px;

		@media(max-width: 800px) {
			font-size: 40px;
			line-height: 46px;
		}
	}

	.text {
		max-width: 770px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;

		font-size: 24px;
		line-height: 30px;
		font-weight: 300;
		color: #5e5e5e;

		@media(max-width: 800px) {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 40px;
		}

		p {
			margin-bottom: 30px;
		}

		&__color {
			background-color: #76d2fa;
			color: #605a5a;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			font-weight: 400;
			letter-spacing: -0.02em;
			font-style: italic;
		}

		&__letter-spacing {
			letter-spacing: -0.04em;
		}

		.line {
			max-width: 214px;
			margin-left: auto;
			margin-right: auto;
			background-color: #36acdf;
			height: 1px;
			margin-top: 51px;
			margin-bottom: 68px;
		}
	}

	.form {
		position: relative;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 17px;
			left: 17px;
			right: 17px;
			height: 100%;
			background-color: rgba(#fbfbfb, .5);
			border-radius: 5px;
			box-shadow: 0 0 15px 0 rgba(#000, .1);
		}

		&:after {
			top: 34px;
			left: 34px;
			right: 34px;
		}

		.form__content {
			position: relative;
			z-index: 3;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 15px 0 rgba(#000, .1);
		}

		.form__row {
			margin-bottom: 18px;

			.field {
				width: 100%;

				&--warn {
					position: relative;
				}

				.field-hint {
					top: 7px;
					right: 7px;
					width: 16px;
					height: 16px;
					position: absolute;

					i {
						cursor: pointer;
						display: block;
						width: 16px;
						height: 16px;
						background-image: url(../img/landing-translate/icon-q.svg);
						background-size: 100% auto;

						&:hover {
							& + .field-hint__tooltip {
								opacity: 1;
								visibility: visible;
								transition: visibility 0s 0s, opacity .2s 0s;
							}
						}
					}

					&__tooltip {
						min-width: 216px;
						padding: 10px 20px;
						position: absolute;
						background: #fff;
						left: -50px;
						bottom: 25px;
						border: 1px solid #7d7d7d;
						border-radius: 5px;
						opacity: 0;
						font-size: 14px;
						color: #888787;
						line-height: normal;
						visibility: hidden;
						transition: visibility 0s .2s, opacity .2s 0s;
					}

					@media(max-width: 1200px) {

						&__tooltip {
							left: auto;
							right: 0;
						}
					}

					@media(max-width: 800px) {

						&__tooltip {
							right: -28px;
							width: 280px;
							line-height: 18px;
						}
					}
				}
			}

			.textarea {
				background-color: rgba(#e3e3e3, .5);
				padding-top: 13px;
				padding-left: 11px;
				border: none;
				width: 100%;
				border-radius: 5px;
				max-width: 100%;
				font-size: 15px;
				min-height: 142px;
				max-height: 200px;
				vertical-align: top;

				&::placeholder {
					text-transform: uppercase;
					color: #8f8f8f;
				}
			}

			.input-file-wrapper {
				margin-top: 24px;
				padding-top: 0;
				padding-right: 0;
				height: 44px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				cursor: pointer;
				margin-bottom: 10px;

				input {
					display: none;
				}

				.input-file {
					&__text {
						margin-right: 10px;
						font-size: 18px;
						color: #000;
					}

					&__icon {
						flex: 0 0 auto;
						width: 55px;
						height: 100%;
						background-image: url(../img/icons/icon-camera.png);
						background-size: cover;
						background-position: center center;
					}
				}
			}

			.note {
				color: #a3a3a3;
				font-size: 13px;
			}

			&--flex {
				display: flex;

				.field:first-child {
					flex: 0 0 auto;
					width: 280px;
					margin-right: 10px;
				}

				@media(max-width: 960px) {
					display: block;

					.field:first-child {
						margin-right: 0;
						margin-bottom: 10px;
						width: auto;
					}
				}
			}

			&--last {
				margin-bottom: 0;
			}

			&--files {
				margin: 0;
				text-align: right;
			}
		}

		.input {
			width: 100%;
			border: 1px solid #7d7d7d;
			border-radius: 5px;
			height: 44px;
			padding-left: 12px;
			padding-right: 22px;
			font-size: 15px;

			&::placeholder {
				text-transform: uppercase;
				color: #8f8f8f;
			}
		}

		.email-form {
			margin-top: 67px;
			p {
				color: #8f8f8f;
				font-size: 18px;
				margin-bottom: 10px;
			}
			&__bot {
				display: flex;
				align-items: center;
				justify-content: space-between;

				@media(max-width: 870px) {
					display: block;
				}
			}
		}

		&__flex {
			display: flex;
			flex-direction: row-reverse;
			padding: 55px;

			@media(max-width: 960px) {
				padding: 30px;
			}

			@media(max-width: 800px) {
				display: block;
			}

			@media(max-width: 500px) {
				padding: 30px 20px;
			}
		}

		form {

			.catalog {
				flex: 0 0 auto;

				position: relative;
				width: 290px;
				height: 695px;
				background-image: url(../img/landing-translate/books-catalog.jpg);
				background-size: cover;
				background-position: center center;
				display: block;
				border-radius: 5px;
				overflow: hidden;
				text-decoration: none;

				&__label {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: rgba(#000, .25);

					font-size: 13px;
					letter-spacing: 0.2em;
					text-transform: uppercase;
					color: #fff;
					text-shadow: 1px 1px 3px rgba(#000, .15);
				}

				@media(max-width: 800px) {
					display: block;
					height: auto;
					width: 100%;
					margin-top: 60px;
					border-radius: 24px;

					&__label {
						position: static;
						background-color: #5050ad;
						// background-image: linear-gradient(to right, #36abde 0%, #5050ad 100%);
					}
				}
			}

			.info {
				position: relative;
				padding-left: 55px;
				padding-top: 20px;

				@media(max-width: 960px) {
					padding-left: 30px;
				}

				@media(max-width: 800px) {
					padding-top: 0;
					padding-left: 0;
				}

				.form__title {
					font-size: 47px;
					letter-spacing: 0.04em;

					@media(max-width: 960px) {
						font-size: 32px;
					}
				}

				.line {
					max-width: 106px;
					width: 100%;
					background-color: #36acdf;
					height: 2px;
					margin-top: 17px;
					margin-bottom: 53px;
				}

				.button-submit {
					flex: 0 0 auto;
					cursor: pointer;
					border-radius: 27px;
					border: none;
					padding-top: 4px;
					background-color: #36abde;
					background-image: linear-gradient(to right, #36abde 0%, #5050ad 100%);
					min-width: 180px;
					height: 44px;
					margin-left: 45px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					text-shadow: 1px 1px 3px rgba(#000, .15);
					font-size: 16px;
					text-transform: uppercase;		

					@media(max-width: 870px) {
						margin-top: 20px;
						margin-left: auto;
					}
				}

				.photos {
					margin-top: 16px;
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					min-height: 41px;
					// justify-content: space-between;
					margin-left: -5px;

					span {
						background-size: cover;
						background-position: center center;
						margin-left: 5px;
						margin-bottom: 5px;
						width: 48px;
						height: 36px;
						background-color: #666;
						opacity: .5;
					}
				}
			}
		}
	}
}