/*
*
* Landings
*
* Landing #1
*/

.b2b--landing-1 {
	.first {
		background-image: url(../img/landings/l1_top_bg.png),  linear-gradient(45deg, #064C7C 12%, #97183E 88%);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%, auto auto;

		.container {
			display: flex;
			color: #fff;
			align-items: center;
			padding-bottom: 40px;
			padding-top: 40px;
			min-height: 700px;
		}

		.title {
			width: 100%;
			max-width: 384px;
			margin-bottom: 60px;
		}

		p {
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
			max-width: 500px;
			color: #fff;
			margin-bottom: 40px;
		}

		@media(max-width: 1100px) {
			background-position: left center;

			.container {
				min-height: 500px;
			}
		}

		@media(max-width: 870px) {
			background-position: calc(0% - 90px) center;

			.container {
				min-height: 0;
			}
		}

		@media(max-width: 600px) {
			background-position: calc(0% - 93px) center;


			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.content {
				width: 100%;
				max-width: 340px;
			}

			.title {
				max-width: 280px;
				margin-bottom: 10px;
			}

			p {
				max-width: 280px;
				font-size: 13px;
				line-height: 17px;
				margin-bottom: 24px;
			}
		}
	}

	.second {
		background-image: url(../img/landings/l1_book_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
			min-height: 685px;
		}

		.content {
			
			ul {
				max-width: 340px;
				padding: 30px;
				background-color: rgba(#fff, .75);
				border-radius: 8px;
				margin: 0 0 40px;

				list-style-type: none;

				li {
					margin: 0 0 14px;
					position: relative;
					font-size: 17px;
					line-height: 24px;
					padding-left: 36px;
					counter-increment: content;

					&:last-child { margin-bottom: 0; }

					&:before {
						content: counter(content);
						position: absolute;
						top: 0;
						left: 0;
						width: 24px;
						height: 24px;
						background-color: $color-primary;
						border-radius: 50%;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 17px;
					}
				}
			}
		}

		.button {
			max-width: 340px;
		}

		@media(max-width: 900px) {
			.container {
				min-height: 0;
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.content {
				max-width: 340px;
				width: 100%;

				ul {
					margin-bottom: 20px;
				}
			}
		}
	}

	.vip {
		background-image: url(../img/landings/l1_vip_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 612px;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.content {
			max-width: 542px;

			.decor-wave { margin-bottom: 30px; }

			p {
				color: #fff;
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
			}
		}

		@media(max-width: 1100px) {
			background-position: right center;

			.container {
				min-height: 400px;
			}
		}

		@media(max-width: 600px) {
			background-size: auto 320px;

			.container {
				justify-content: flex-start;
				text-align: center;
				min-height: 0;
			}

			.content {
				// max-width: 340px;
				width: 100%;

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0;
				}
			}
		}

		@media(max-width: 450px) {
			background-size: auto 100%;
		}
	}

	.how {
		background-color: #fff;

		.container {
			padding-top: 100px;
			padding-bottom: 135px;
			text-align: center;

			.title {
				color: #000;
			}

			.decor-wave {margin-bottom: 80px;}
		}

		.steps {
			margin-left: -20px;
			margin-right: -20px;
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			&:before {
				content: '';
				position: absolute;
				top: 60px;
				left: 50px;
				right: 50px;
				border-top: 2px dashed rgba(#000, .16);
			}
			
			&__item {
				position: relative;
				z-index: 1;
				max-width: 202px;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}

			&__icon {
				width: 120px;
				height: 120px;
				background-color: $color-primary;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 50%;
				margin: 0 auto 44px;

				&.icon_1 {background-image: url(../img/landings/icon-doc.svg);}
				&.icon_2 {background-image: url(../img/landings/icon-phone.svg);}
				&.icon_3 {background-image: url(../img/landings/icon-cloud.svg);}
				&.icon_4 {background-image: url(../img/landings/icon-doc-2.svg);}
				&.icon_5 {background-image: url(../img/landings/icon-text.svg);}
				&.icon_6 {background-image: url(../img/landings/icon-book.svg);}
			}

			&__text {
				font-size: 24px;
				line-height: 28px;
			}
		}

		@media(max-width: 1150px) {
			.steps {
				max-width: 606px;
				margin-left: auto;
				margin-right: auto;
				flex-wrap: wrap;
				margin-bottom: -40px;

				&:before {
					border: none;
				}

				&__item {
					margin-bottom: 40px;
				}
			}
		}

		@media(max-width: 670px) {

			.container {
				padding-top: 60px;
				padding-bottom: 60px;

				.decor-wave {
					margin-bottom: 40px;
				}
			}

			.steps {
				display: block;
				max-width: 315px;
				width: 100%;
				margin-bottom: 0;

				&:before {
					left: 80.5px;
					right: auto;
					top: 5px;
					bottom: 5px;
					border-left: 2px dashed rgba(#000, .16);
				}

				&__item {
					max-width: 100%;
					display: flex;
					align-items: center;
					margin-left: auto;
					margin-right: auto;
					text-align: left;

					&:last-child { margin-bottom: 0; }
				}

				&__icon {
					flex: 0 0 auto;
					margin: 0 30px 0 0;
				}
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.steps {

				&__text {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
}


/*
* Landing #2
*/

.b2b--landing-2 {

	.why {
		padding-top: 40px;
		text-align: center;
		padding-bottom: 100px;

		.decor-wave {margin-bottom: 75px;}

		.features {
			margin-left: -20px;
			margin-right: -20px;
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			
			&__item {
				position: relative;
				z-index: 1;
				max-width: 244px;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}

			&__icon {
				width: 100px;
				height: 100px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
				margin: 0 auto 38px;

				&.icon_1 {background-image: url(../img/landings/l2_icon_1.svg);}
				&.icon_2 {background-image: url(../img/landings/l2_icon_2.svg);}
				&.icon_3 {background-image: url(../img/landings/l2_icon_3.svg);}
				&.icon_4 {background-image: url(../img/landings/l2_icon_4.svg);}
				&.icon_5 {background-image: url(../img/landings/l2_icon_5.svg);}
			}


			&__title {
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 10px;
			}

			&__text {
				font-size: 16px;
				line-height: 23px;
				font-weight: 300;
			}
		}

		@media(max-width: 1150px) {
			.features {
				max-width: 606px;
				margin-left: auto;
				margin-right: auto;
				flex-wrap: wrap;
				justify-content: center;
				margin-bottom: -40px;

				&:before {
					border: none;
				}

				&__item {
					margin-bottom: 40px;
				}
			}
		}

		@media(max-width: 670px) {
			.decor-wave {
				margin-bottom: 40px;
			}

			.features {
				display: block;
				max-width: 315px;
				width: 100%;
				margin-bottom: 0;

				&:before {
					left: 80.5px;
					right: auto;
					top: 5px;
					bottom: 5px;
					border-left: 2px dashed rgba(#000, .16);
				}

				&__item {
					max-width: 100%;
					display: flex;
					align-items: flex-start;
					margin-left: auto;
					margin-right: auto;
					padding-left: 0;
					text-align: left;

					&:last-child { margin-bottom: 0; }
				}

				&__icon {
					width: 80px;
					height: 80px;
					flex: 0 0 auto;
					margin: -15px 20px 0 0;
				}
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.features {

				&__title {
					font-size: 20px;
					line-height: 24px;
				}

				&__text {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}

	.b2b-slider {
		.button {
			margin-bottom: 20px;

			&--black-line {
				.download {
					position: relative;
					top: -1px;
					margin-left: 10px;
					display: block;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: auto 100%;
					background-image: url(../img/landings/icon-download.svg);
				}
			}
		}
	}

	.book {
		background-image: linear-gradient(45deg, #064C7C 0%, #97183E 100%);
		color: #fff;

		.container {
			max-width: 1330px;
			padding-top: 100px;
			padding-bottom: 100px;
			min-height: 698px;
			text-align: center;

			@media(max-width: 700px) {
				padding-top: 40px;
				padding-bottom: 35px;
			}
		}

		.decor-wave {
			margin-bottom: 65px;

			@media(max-width: 600px) {
				margin-bottom: 25px;
			}
		}

		.cards {
			display: flex;
			justify-content: space-between;
			color: #000;
			margin-left: -15px;
			margin-right: -15px;
			text-align: left;

			&__item {
				background-color: #fff;
				border-radius: 8px;
				padding: 30px;
				max-width: 300px;
				min-height: 290px;
				width: 100%;
				margin: 15px;
			}

			&__title {
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 15px;
			}

			&__text {
				font-size: 16px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 10px;
			}

			@media(max-width: 1200px) {
				flex-wrap: wrap;
				justify-content: center;
				max-width: 660px;
				margin-left: auto;
				margin-right: auto;
			}

			@media(max-width: 600px) {
				margin-left: -15px;
				margin-right: -15px;
			}
		}
	}

	.faq {
		text-align: center;

		.container {
			padding-top: 100px;
			padding-bottom: 100px;

			@media(max-width: 700px) {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}

		.decor-wave {
			margin-bottom: 40px;
		}

		&__q {
			position: relative;
			text-align: left;
			border-bottom: 1px solid #DCDCDC;
		}

		&__head {
			position: relative;
			padding: 30px 0;
		}

		&__trigger {
			border: none;
			outline: none;
			background: transparent;
			cursor: pointer;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -20px;
			transform-origin: center center;
			transition: transform .2s;

			&.active {
				transform: rotate(45deg);

				svg {
					g {
						stroke: #543B6A;
					}
				}

			}
		}

		&__title {
			font-size: 24px;
			line-height: 31px;
			max-width: 700px;
			padding-right: 60px;

			@media(max-width: 700px) {
				font-size: 20px;
				line-height: 24px;
			}
		}

		&__body {
			display: none;
			padding-bottom: 30px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 300;

			p {
				margin: 0;
			}
		}
	}
}


/*
* Landing #3
*/

.b2b--landing-3 {
	.first {
		background-color: #EFEFEF;
		background-image: url(../img/landings/l3_top_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.container {
			display: flex;
			align-items: center;
			padding-bottom: 40px;
			padding-top: 40px;
			min-height: 600px;
		}

		.title {
			width: 100%;
			margin-bottom: 20px;
		}

		p {
			font-size: 20px;
			font-weight: 300;
			line-height: 30px;
			max-width: 500px;
			margin-bottom: 40px;
		}

		@media(max-width: 1100px) {
			background-position: calc(0% - 300px) center;

			.container {
				min-height: 500px;
			}
		}

		@media(max-width: 870px) {
			background-color: #EFECE4;
		}

		@media(max-width: 700px) {
			background-position: left top;
			background-size: 700px auto;


			.container {
				padding-top: 10px;
				padding-bottom: 40px;
				min-height: 0;
			}

			.content {
				width: 100%;
				max-width: 340px;
			}

			.title {
				max-width: 280px;
				margin-bottom: 10px;
				font-size: 32px;
				line-height: 32px;
			}

			p {
				max-width: 280px;
				font-size: 13px;
				line-height: 17px;
				margin-bottom: 24px;
			}
		}

		@media(max-width: 500px) {
			background-size: auto 187px;
			background-position: 50% top;

			.title {
				margin-bottom: 115px;
				max-width: 150px;
			}
		}
	}

	.book {
		background-color: #f2fcfe;
		background-image: url(../img/landings/l3_book_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 612px;
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.content {
			max-width: 542px;

			.decor-wave { margin-bottom: 30px; }

			p {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 80px;
			}
		}

		.button {
			display: inline-flex;
			max-width: 100%;
			width: auto;
			padding-left: 30px;
			padding-right: 30px;
		}

		@media(max-width: 1100px) {
			background-position: calc(50% + 10px) center;

			.container {
				min-height: 400px;
			}
		}

		@media(max-width: 900px) {

			.title {
				font-size: 32px;
				line-height: 32px;
			}
		}

		@media(max-width: 600px) {
			background-size: auto 187px;
			background-position: calc(100% + 160px) top;

			.container {
				justify-content: flex-start;
				min-height: 0;
			}

			.title {
				max-width: 350px;
				padding-right: 60px;
			}

			.content {
				width: 100%;

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 20px;
				}
			}

			.button {text-align: center;}
		}
	}

	.branding {
		background-image: url(../img/landings/l3_branding_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 745px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.content {
			max-width: 542px;

			.decor-wave { margin-bottom: 30px; }

			p {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 80px;
			}
		}

		.button {
			box-shadow: none;
			margin-bottom: 20px;

			&:last-child { margin-bottom: 0; }
		}

		@media(max-width: 1100px) {
			background-position: calc(50% + 500px) center;
			background-size: auto 431px;

			.container {
				justify-content: flex-start;
				min-height: 400px;
			}
		}

		@media(max-width: 900px) {
			.title {
				font-size: 32px;
				line-height: 32px;
			}

			.content {
				p {
					max-width: 400px;
				}
			}
		}

		@media(max-width: 600px) {
			background-position: calc(50% + 200px) 120px;

			.container {
				justify-content: flex-start;
				min-height: 0;
			}

			.content {
				width: 100%;

				.decor-wave {
					margin-bottom: 340px;
				}

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 20px;
				}
			}
		}
	}

	.personal {
		background-color: #FAF8FF;
		background-image: url(../img/landings/l3_personal_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 718px;
			display: flex;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.content {
			max-width: 542px;

			.decor-wave { margin-bottom: 30px; }

			p {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 80px;
			}
		}

		@media(max-width: 1100px) {
			background-position: calc(50% + 100px) center;

			.container {
				min-height: 400px;
			}
		}

		@media(max-width: 900px) {
			// background-position: calc(50% + 100px) center;

			.title {
				font-size: 32px;
				line-height: 32px;
			}

			.content {
				p {
					max-width: 400px;
				}
			}
		}

		@media(max-width: 600px) {
			background-position: calc(50% - 140px) 100px;
			background-size: auto 298px;

			.container {
				min-height: 0;
			}

			.content {
				width: 100%;

				.decor-wave {
					margin-bottom: 270px;
				}

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 20px;
				}
			}
		}
	}

	.calendar {
		background-image: url(../img/landings/l3_calendar_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 745px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.content {
			max-width: 542px;

			.decor-wave { margin-bottom: 30px; }

			p {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;
				margin-bottom: 80px;
			}
		}

		.button {
			box-shadow: none;
			margin-bottom: 20px;

			&:last-child { margin-bottom: 0; }
		}

		@media(max-width: 1100px) {
			background-position: calc(50% + 500px) center;
			background-size: auto 431px;

			.container {
				justify-content: flex-start;
				min-height: 400px;
			}

			.content {
				p {
					max-width: 480px;
				}
			}
		}

		@media(max-width: 900px) {
			.title {
				font-size: 32px;
				line-height: 32px;
			}

			.content {
				p {
					max-width: 400px;
				}
			}
		}

		@media(max-width: 750px) {
			background-position: calc(50% + 600px) center;
		}

		@media(max-width: 600px) {
			background-size: auto 284px;
			background-position: calc(50% + 170px) 130px;

			.container {
				justify-content: flex-start;
				min-height: 0;
			}

			.content {
				width: 100%;

				.decor-wave {
					margin-bottom: 290px;
				}

				p {
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 20px;
				}
			}
		}

		@media(max-width: 330px) {
			background-position: calc(50% + 170px) 160px;
		}
	}

	.gift {
		background-image: url(../img/landings/l3_gift_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			min-height: 642px;
			display: flex;
			align-items: center;
			padding-top: 80px;
			padding-bottom: 140px;
		}

		.content {

			.decor-wave { margin-bottom: 30px; }

			p {
				max-width: 488px;
				font-weight: 300;
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 80px;
			}
		}

		.button {
			position: relative;
			box-shadow: none;
			margin-bottom: 20px;

			&:last-child { margin-bottom: 0; }
		}

		@media(max-width: 1100px) {
			background-position: calc(50% + 100px) center;

			.container {
				padding-top: 40px;
				padding-bottom: 40px;
				min-height: 400px;
			}
		}

		@media(max-width: 900px) {
			background-position: calc(50% + 150px) center;

			.title {
				font-size: 32px;
				line-height: 32px;
			}

			.content {
				p {
					max-width: 400px;
				}
			}
		}

		@media(max-width: 600px) {
			background-color: #695B4E;
			background-position: calc(50% - 40px) 0;
			background-size: auto 277px;

			.container {
				min-height: 0;
			}

			.title {
				max-width: 280px;
			}

			.content {
				width: 100%;

				.decor-wave {
					margin-bottom: 140px;
				}

				p {
					color: #fff;
					font-size: 14px;
					line-height: 22px;
					margin: 0 0 20px;
				}
			}
		}

		@media(max-width: 480px) {
			background-position: calc(50% + 40px) 0;
		}
	}

	.why {
		background-color: #fff;

		.container {
			padding-top: 100px;
			padding-bottom: 135px;
			text-align: center;

			.title {
				color: #000;
			}

			.decor-wave {margin-bottom: 75px;}
		}

		.features {
			margin-left: -20px;
			margin-right: -20px;
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			
			&__item {
				position: relative;
				z-index: 1;
				max-width: 244px;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
			}

			&__icon {
				width: 100px;
				height: 100px;
				background-repeat: no-repeat;
				background-position: center center;
				margin: 0 auto 10px;

				&.icon_1 {background-image: url(../img/landings/icon-people.svg);}
				&.icon_2 {background-image: url(../img/landings/icon-books.svg);}
				&.icon_3 {background-image: url(../img/landings/icon-gift.svg);}
				&.icon_4 {background-image: url(../img/landings/icon-book-mid.svg);}
			}

			&__text {
				font-size: 16px;
				line-height: 23px;
				font-weight: 300;
			}
		}

		@media(max-width: 1150px) {
			.features {
				max-width: 606px;
				margin-left: auto;
				margin-right: auto;
				flex-wrap: wrap;
				margin-bottom: -40px;

				&:before {
					border: none;
				}

				&__item {
					margin-bottom: 40px;
				}
			}
		}

		@media(max-width: 670px) {

			.container {
				padding-top: 60px;
				padding-bottom: 60px;

				.decor-wave {
					margin-bottom: 40px;
				}
			}

			.features {
				display: block;
				max-width: 315px;
				width: 100%;
				margin-bottom: 0;

				&:before {
					left: 80.5px;
					right: auto;
					top: 5px;
					bottom: 5px;
					border-left: 2px dashed rgba(#000, .16);
				}

				&__item {
					max-width: 100%;
					display: flex;
					align-items: center;
					margin-left: auto;
					margin-right: auto;
					text-align: left;

					&:last-child { margin-bottom: 0; }
				}

				&__icon {
					flex: 0 0 auto;
					margin: 0 30px 0 0;
				}
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.features {

				&__text {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
	}
}


/*
* Landing #4
*/

.b2b--landing-4 {
	.first {
		background-color: #EFEFEF;
		background-image: url(../img/landings/l4_top_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.container {
			display: flex;
			align-items: flex-start;
			padding-bottom: 40px;
			padding-top: 120px;
			min-height: 680px;
		}

		.title {
			max-width: 365px;
			width: 100%;
			margin-bottom: 40px;
		}

		@media(max-width: 1100px) {
			background-position: left center;

			.container {
				min-height: 500px;
			}
		}

		@media(max-width: 870px) {
			background-position: 0 center;

			.container {
				padding-top: 60px;
				min-height: 0;
			}


			.title {
				font-size: 40px;
				line-height: 40px;
			}
		}

		@media(max-width: 600px) {
			background-position: calc(100%) center;
			background-size: auto 231px;


			.container {
				padding-top: 0;
				padding-bottom: 40px;
			}

			.content {
				width: 100%;
				text-align: center;
			}

			.button {
				margin-left: auto;
				margin-right: auto;
			}

			.title {
				padding-top: 20px;
				max-width: 100%;
				margin-bottom: 10px;
				margin-bottom: 240px;
				font-size: 32px;
				line-height: 32px;
			}
		}

		@media(max-width: 500px) {
			background-position: calc(50% - 70px) center;
		}
	}

	.variants {
		background-color: #F1ECFD;
		background-image: linear-gradient(to bottom, #F1ECFD 0%, #fff 100%);

		.container {
			padding-top: 100px;
			padding-bottom: 100px;
			text-align: center;

			@media(max-width: 1100px) {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		}

		&__row {
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:nth-child(2n+1) {
				flex-direction: row-reverse;
			}

			&:nth-child(1) {
				margin-bottom: 40px;

				.text { max-width: 319px; }
			}

			&:nth-child(2) {
				margin-bottom: 94px;

				.text { max-width: 275px; }
			}

			&:nth-child(3) {
				margin-bottom: 64px;

				.text { max-width: 455px; }
			}

			&:nth-child(4) {
				.text {}
			}

			@media(max-width: 1100px) {
				display: block;
				text-align: center;
				margin-bottom: 100px !important;

				img {
					width: 100%;
					max-width: 400px;
					margin-bottom: 20px;
				}

				.text {max-width: 100% !important;}
			}
		}


		.text {
			font-size: 40px;
			line-height: 40px;
			font-weight: bold;
			margin: 0 0 20px;

			&:last-child { margin-bottom: 0; }

			@media(max-width:700px) {
				font-size: 32px;
				line-height: 32px;
			}
		}

		.desc {
			font-weight: 300;
			max-width: 319px;
			font-size: 18px;
			line-height: 24px;

			@media(max-width: 1100px) {
				max-width: 100%;
			}
		}

		.decor-wave {
			margin-bottom: 80px;
		}
	}

	.koolinar {

		background-color: #5881B4;
		background-image: linear-gradient(to top, #608DC4 0%, #537BAB 100%);

		.container {
			color: #fff;
			padding-top: 100px;
			padding-bottom: 80px;

			@media(max-width: 900px) {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}

		.content {
			position: relative;
			max-width: 576px;

			@media(max-width: 1100px) {
				max-width: 470px;
				margin-left: auto;
				margin-right: auto;

				.button {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.title {
			font-size: 40px;
			line-height: 52px;
			margin: 0 0 40px;
		}

		.desc {
			max-width: 470px;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 45px;
		}

		.screen {
			position: absolute;
			top: 190px;
			left: 515px;
			z-index: 0;

			@media(max-width: 1100px) {
				position: static;
				text-align: center;

				img {
					width: 100%;
					max-width: 350px;
					margin-bottom: 30px;
				}
			}

		}

		ul {
			max-width: 420px;
			list-style-type: none;
			padding: 0;
			margin: 0 0 40px;

			li {
				padding-left: 50px;
				min-height: 32px;
				display: flex;
				align-items: center;
				margin-bottom: 18px;

				background-image: url(../img/landings/icon-check-yellow.svg);
				background-repeat: no-repeat;
				background-position: left center;

				&:last-child {margin-bottom: 0;}
			}
		}
	}

	.breadsalt {

		background-color: #5881B4;
		background-image: linear-gradient(to top, #608DC4 0%, #537BAB 100%);

		.container {
			display: flex;
			justify-content: flex-end;
			color: #fff;
			padding-top: 110px;
			padding-bottom: 80px;

			@media(max-width: 900px) {
				padding-top: 40px;
				padding-bottom: 40px;
				display: block;
			}
		}

		.content {
			position: relative;
			max-width: 568px;
			width: 100%;

			@media(max-width: 1100px) {
				max-width: 470px;
				margin-left: auto;
				margin-right: auto;

				.button {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.title {
			font-size: 40px;
			line-height: 52px;
			margin: 0 0 40px;
		}

		.desc {
			max-width: 470px;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 45px;
		}

		.screen {
			position: absolute;
			top: 0;
			right: 615px;
			z-index: 0;

			@media(max-width: 1100px) {
				position: static;
				text-align: center;

				img {
					width: 100%;
					max-width: 350px;
					margin-bottom: 30px;
				}
			}

		}

		ul {
			max-width: 420px;
			list-style-type: none;
			padding: 0;
			margin: 0 0 40px;

			li {
				padding-left: 50px;
				min-height: 32px;
				display: flex;
				align-items: center;
				margin-bottom: 18px;

				background-image: url(../img/landings/icon-check-yellow.svg);
				background-repeat: no-repeat;
				background-position: left center;

				&:last-child {margin-bottom: 0;}
			}
		}
	}
}


/*
* Landing #5
*/

.b2b--landing-5 {

	.title {
		@media(max-width: 800px) {
			font-size: 40px !important;
			line-height: 40px !important;
		}
	}

	.first {
		color: #fff;
		background-color: #32241E;
		background-image: url(../img/landings/l5_top_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;

		.container {
			position: relative;
			padding-bottom: 40px;
			padding-top: 100px;
			min-height: 1653px;
			text-align: center;
		}

		.title {
			width: 100%;
			margin-bottom: 20px;
		}

		p {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 40px;
		}

		.buttons {
			margin-top: -10px;
			margin-left: -10px;
			margin-right: -10px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;

			.button { margin: 10px; }
		}

		.subtitle {
			font-size: 40px;
			font-weight: bold;
			line-height: 40px;
		}

		.block {
			position: absolute;
			text-align: left;

			&--first {
				top: 604px;
				left: 20px;
			}

			&--second {
				bottom: 225px;
				right: 20px;
			}

			.decor-wave { margin-bottom: 40px; }

			.text {
				margin: 0;
				font-size: 20px;
				font-weight: 300;
				line-height: 28px;
			}

			.text-l {
				font-size: 26px;
				line-height: 40px;
				margin-bottom: 20px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li.text {
					margin: 0 0 5px;
					position: relative;
					padding-left: 26px;

					&:before {
						content: '';
						position: absolute;
						top: 9px;
						left: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: $color-primary;

						@media(max-width: 800px) {
							top: 6px;
						}
					}
				}
			}

			.button {
				margin-top: 80px;
			}
		}

		@media(max-width: 800px) {
			.container {
				min-height: 1300px;
				padding-top: 40px;
			}

			.title {
				font-size: 40px;
				line-height: 40px;
			}

			.subtitle {
				font-size: 32px;
				line-height: 32px;
			}

			.block {
				&--first {
					top: 420px;
					max-width: 400px;
				}

				&--second {
					bottom: 200px;
					max-width: 280px;
				}

				.text {
					font-size: 18px;
					line-height: 22px;
				}

				.text-l {
					font-size: 22px;
					line-height: 24px;
				}
			}
		}

		@media(max-width: 600px) {
			background-size: 600px auto;
			background-position: center 327px;

			.container {
				padding-top: 13px;
				min-height: 0;
			}

			.title {
				max-width: 230px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 10px;
			}

			.desc {
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 20px;
			}

			.block {
				position: static;

				&--first {
					margin-top: 50px;
					max-width: 230px;
					margin-bottom: 65px;
				}

				&--second {
					display: flex;
					flex-direction: column;
					align-items: flex-end;

					max-width: none;

					.text-l,
					.text { 
						max-width: 165px; 
					}
				}

				.text {
					font-size: 15px;
					line-height: 22px;
				}
				.text-l {
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 5px;
				}

				.button {
					margin-top: 75px;
					align-self: center;
				}
			}
		}

		@media(max-width: 400px) {
			background-size: 538px auto;
			background-position: calc(50% + 38px) 347px;

			.block {

				&--first {
					margin-top: 35px;
					margin-left: -5px;
					margin-bottom: 50px;
				}

				&--second {
					margin-right: -10px;
					text-align: right;

					.text-l,
					.text {
						max-width: 135px;
					}

				}

				.decor-wave { margin-bottom: 17px; }

				.button {}
			}
		}
	}

	.bonus {
		overflow: hidden;
		background-color: #9e1941;
		background-image: url(../img/landings/l5_bonus_bg.png), linear-gradient(117deg,#9e1941,#064d7d);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: contain;
		color: #fff;

		.container {
			position: relative;
			min-height: 809px;
			padding-top: 100px;
			padding-bottom: 100px;
			text-align: center;
		}

		.decor-wave { margin-bottom: 128px; }

		.content {
			display: flex;
			justify-content: flex-end;

			ul {
				max-width: 532px;
				text-align: left;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0 0 5px;
					position: relative;
					padding-left: 26px;
					font-size: 20px;
					line-height: 28px;
					font-weight: 300;

					span {
						font-weight: bold;
						color: #FCE37E;
					}

					&:before {
						content: '';
						position: absolute;
						top: 9px;
						left: 0;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background-color: $color-primary;

						@media(max-width: 800px) {
							// top: 6px;
						}
					}
				}
			}
		}

		.book {
			position: absolute;
			right: 610px;
			top: 191px;
		}

		.button {
			box-shadow: none;
			margin-bottom: 20px;

			&:last-child { margin-bottom: 0; }
		}

		@media(max-width: 1100px) {

			.container {
				justify-content: flex-start;
				min-height: 400px;
			}

			.book {
				width: 400px;

				img {
					max-width: 100%;
				}
			}
		}

		@media(max-width: 800px) {

			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}

			.decor-wave {
				margin-bottom: 40px;
			}

			.content {
				display: block;

				ul {
					max-width: 400px;
					margin-left: auto;
					margin-right: auto;
				}
			}

			.book {
				position: static;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				width: 100%;
				max-width: 350px;
			}
		}

		@media(max-width: 600px) {
			.content {
				ul {
					li {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
		}

	}

	.help {
		background-color: #fff;

		.container {
			padding-top: 100px;
			padding-bottom: 80px;
			text-align: center;

			.title {
				color: #000;
			}

			.decor-wave {margin-bottom: 40px;}
		}

		.features {
			margin-top: -20px;
			margin-bottom: -20px;
			margin-left: -20px;
			margin-right: -20px;
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			
			&__item {
				position: relative;
				z-index: 1;
				max-width: 303px;
				text-align: center;
				width: 100%;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 20px;
				margin-top: 20px;
			}

			&__icon {
				width: 130px;
				height: 130px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
				margin: 0 auto 20px;

				&.icon_1 {background-image: url(../img/landings/l5_icon_1.svg);}
				&.icon_2 {background-image: url(../img/landings/l5_icon_2.svg);}
				&.icon_3 {background-image: url(../img/landings/l5_icon_3.svg);}
			}

			&__text {
				font-size: 20px;
				line-height: 28px;
				font-weight: 300;
			}
		}

		@media(max-width: 800px) {
			.features {
				margin-bottom: -40px;

				&:before {
					border: none;
				}

				&__icon {
					width: 90px;
					height: 90px;
				}

				&__text {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}

		@media(max-width: 620px) {

			.container {
				padding-top: 60px;
				padding-bottom: 60px;

				.decor-wave {
					margin-bottom: 40px;
				}
			}

			.features {
				display: block;
				max-width: 315px;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				margin-bottom: 0;

				&:before {
					left: 80.5px;
					right: auto;
					top: 5px;
					bottom: 5px;
					border-left: 2px dashed rgba(#000, .16);
				}

				&__item {
					max-width: 100%;
					display: flex;
					align-items: center;
					margin-left: auto;
					margin-right: auto;
					text-align: left;
					padding-left: 0;

					&:last-child { margin-bottom: 0; }
				}

				&__icon {
					flex: 0 0 auto;
					margin: 0 30px 0 0;
				}
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}

	.tasks {
		background-color: #F6F3FE;

		.container {
			max-width: 1470px;
			padding-top: 80px;
			padding-bottom: 80px;
			text-align: center;

			.title {
				color: #000;
			}

			.decor-wave {margin-bottom: 60px;}
		}

		.features {
			margin-top: -20px;
			margin-bottom: -20px;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			
			&__item {
				display: flex;
				align-items: flex-start;
				position: relative;
				z-index: 1;
				width: 100%;
				text-align: left;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 20px;
				margin-top: 20px;
			}

			&__icon {
				flex: 0 0 auto;
				margin-right: 18px;
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
				background-image: url(../img/landings/icon-checkmark.svg);
			}

			&__text {
				font-size: 20px;
				line-height: 28px;
				font-weight: 300;
			}
		}

		@media(max-width: 900px) {
			.features {
				margin-bottom: -40px;

				&__text {
					font-size: 18px;
					line-height: 24px;
				}
			}
		}

		@media(max-width: 850px) {

			.container {
				padding-top: 60px;
				padding-bottom: 60px;

				.decor-wave {
					margin-bottom: 40px;
				}
			}

			.features {
				display: block;
				max-width: 315px;
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				margin-bottom: 0;

				&:before {
					left: 80.5px;
					right: auto;
					top: 5px;
					bottom: 5px;
					border-left: 2px dashed rgba(#000, .16);
				}

				&__item {
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					text-align: left;
					padding-left: 0;

					&:last-child { margin-bottom: 0; }
				}

				&__icon {
					flex: 0 0 auto;
					margin: 0 30px 0 0;
				}
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}

	.book-slider {

		.container {
			padding-top: 100px;
			padding-bottom: 100px;
			text-align: center;

			@media(max-width: 800px) {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}

		.decor-wave {
			margin-bottom: 80px;

			@media(max-width: 800px) {
				margin-bottom: 40px;
			}
		}
		
		.items-carousel-wrapper {
			text-align: left;
			margin: 0;

			.book-cover {
				margin-bottom: 40px;
				text-align: center;

				img {
					max-width: 100%;
					height: auto;
					margin-left: auto;
					margin-right: auto;
				}
			}

			.title {
				h3 {
					font-size: 18px;
					line-height: 24px;
					font-weight: bold;
					margin-bottom: 10px;
				}
			}

			.author {
				font-size: 16px;
				line-height: 23px;
				color: #000;
				margin-bottom: 10px;

				a {
					opacity: .5;
				}
			}

			.desc {
				font-size: 16px;
				line-height: 23px;
				margin-bottom: 40px;
			}
		}

		.button {
			min-height: 50px;
		}
	}
}


/*
* Landing #6
*/

.b2b--landing-6 {
	.first {
		background-color: #EFEFEF;
		background-image: url(../img/landings/l6_top_bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.container {
			text-align: center;
			color: #fff;
			padding-bottom: 110px;
			padding-top: 90px;
			min-height: 472px;
		}

		.title {
			width: 100%;
			margin-bottom: 15px;
		}

		p {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 40px;
		}

		.button {
			margin-left: auto;
			margin-right: auto;
		}

		@media(max-width: 1100px) {
			background-position: left center;

			.container {
				min-height: 500px;
			}
		}

		@media(max-width: 870px) {
			background-position: calc(0% - 90px) center;

			.container {
				min-height: 0;
			}
		}

		@media(max-width: 600px) {
			background-position: calc(0% - 93px) center;


			.container {
				padding-top: 40px;
			}

			.content {
				width: 100%;
			}

			.title {
				margin-bottom: 10px;
				font-size: 32px;
				line-height: 40px;
			}
		}
	}

	.second {
		position: relative;
		background-color: #fff;
		background-image: url(../img/landings/l6_second_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;

		.container {
			position: relative;
			border-top: 1px solid transparent;
			min-height: 900px;
			text-align: center;
		}

		.features {
			margin-top: -60px;
			margin-left: -100px;
			margin-right: -100px;
			margin-bottom: 60px;
			padding-top: 60px;
			padding-bottom: 44px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			background: #fff;
			border-radius: 16px;
			box-shadow: 0 20px 40px 0 rgba(#000, .16);

			@media(max-width: 1360px) {
				margin-left: 0;
				margin-right: 0;
			}

			&__item {
				text-align: center;
				width: 100%;
				max-width: 284px;
				padding-left: 25px;
				padding-right: 25px;
			}

			&__icon {
				text-align: center;
				margin-bottom: 30px;
			}

			&__text {
				font-size: 18px;
				line-height: 28px;
				font-weight: 300;
			}

			@media(max-width: 1120px) {

				&__item {
					max-width: 240px;
				}

				&__icon {
					img {
						width: 80px;
					}
				}

			}

			@media(max-width: 700px) {
				display: block;
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				padding-top: 40px;
				padding-bottom: 40px;
				text-align: center;

				&__item {
					margin-left: auto;
					margin-right: auto;
					padding-left: 10px;
					padding-right: 10px;
				}

				&__icon {
					img {width: 60px;}
				}

				&__text {
					font-size: 12px;
					line-height: 20px;
				}
			}
		}

		.title {
			font-size: 50px;
			line-height: 50px;
		}

		.text-block {
			position: absolute;
			left: 20px;
			bottom: 246px;

			text-align: left;

			h3 {
				font-size: 40px;
				line-height: 40px;
			}
		}

		@media(max-width: 1000px) {
			background-size: 1200px auto;

			.text-block {
				max-width: 200px;
				bottom: 120px;
			}
		}

		@media(max-width: 700px) {
			background-size: 850px auto;
			padding-bottom: 218px;
			background-position: calc(50% - 87px) bottom;
			
			.title {
				font-size: 40px;
				line-height: 40px;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
			}

			.text-block {
				margin-top: 40px;
				position: static;
				max-width: 100%;

				h3 {
					font-size: 32px;
					line-height: 40px;
				}
			}
		}
	}

	.books {
		.container {
			min-height: 530px;
			display: flex;
			align-items: center;

			@media(max-width: 1000px) {
				display: block;
				min-height: 500px;
				padding-top: 30px;
			}

			@media(max-width: 600px) {
				min-height: 300px;
				background-color: rgba(#000, .6);
			}
		}

		.title {
			font-size: 40px;
			line-height: 40px;
			max-width: 306px;

			@media(max-width: 1000px) {
				max-width: 100%;
				font-size: 32px;
				line-height: 32px;
			}
		}

		&__row {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&--reverse {
				.container {
					justify-content: flex-end;
				}
			}

			&--non-fiction {

				color: #fff;
				background-image: url(../img/landings/l6_books_1.png);

				@media(max-width: 1000px) {
					background-position: calc(50% + 210px) bottom;
				}
			}

			&--business {
				background-image: url(../img/landings/l6_books_2.png);

				.title {
					max-width: 400px;
				}

				@media(max-width: 1000px) {
					background-position: calc(50% - 185px) bottom;
				}

				@media(max-width: 600px) {
					.container {
						background-color: rgba(#fff, .45);
					}
				}
			}

			&--games {
				color: #fff;
				background-image: url(../img/landings/l6_books_3.png);

				.content {
					margin-top: -80px;
				}

				@media(max-width: 1000px) {
					background-position: calc(50% + 210px) bottom;

					.content {
						margin-top: 0;
					}
				}
			}

			&--notes {
				background-image: url(../img/landings/l6_books_4.png);

				@media(max-width: 1000px) {
					background-position: calc(50% + 210px) bottom;
				}

				@media(max-width: 600px) {
					.container {
						background-color: rgba(#fff, .45);
					}
				}
			}

			&--progressive {
				background-image: url(../img/landings/l6_books_6.png);

				@media(max-width: 1000px) {
					background-position: calc(50% + 210px) bottom;
				}

				@media(max-width: 600px) {
					.container {
						background-color: rgba(#fff, .45);
					}
				}
			}

			&--skin {
				color: #fff;
				background-image: url(../img/landings/l6_books_5.png);

				@media(max-width: 1000px) {
					background-position: calc(50% - 190px) bottom;
				}
			}

			&--artist {
				color: #fff;
				background-image: url(../img/landings/l6_books_7.png);

				@media(max-width: 1000px) {
					background-position: calc(50% - 190px) bottom;
				}
			}

			&--calendar {
				background-image: url(../img/landings/l6_books_8.png);

				@media(max-width: 1000px) {
					background-position: calc(50% + 270px) bottom;
				}

				@media(max-width: 600px) {
					.container {
						background-color: rgba(#fff, .45);
					}
				}
			}
		}
	}
}


/*
* Landing #6
*/

.b2b--landing-7 {
	img {
		max-width: 100%;
	}


	.first {
		padding: 32px 20px;
		min-height: 625px;
		background-image: url(../img/landings/l7_top_bg.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media(max-width: 480px) {
			padding-left: 0;
			padding-right: 0;
			min-height: 0;
		}

		.content {
			width: 100%;
			max-width: 712px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 16px;
			padding: 40px;
			background-color: rgba(#fff, .9);
			text-align: center;

			@media(max-width: 480px) {
				padding: 30px 20px;
			}
		}

		.title {
			margin-bottom: 15px;
		}

		p {
			max-width: 472px;
			margin: 0 auto 37px;
		}

		.button {
			margin-left: auto;
			margin-right: auto;
		}

		@media(max-width: 440px) {
			.title {
				font-size: 30px;
				line-height: 36px;
			}

			.text-s {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}

	.second {
		background-image: url(../img/landings/l7_second_bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 80px 20px;

		.container {
			display: flex;
			justify-content: space-between;
		}

		.content {
			margin-top: 50px;
			width: 100%;
			max-width: 430px;
			flex: 0 0 auto;
			margin-right: 50px;
		}

		.title {
			margin-bottom: 10px;
		}

		.decor-wave {
			margin-bottom: 30px;
		}

		.text-s {
			margin-bottom: 60px;
		}

		@media(max-width: 900px) {
			padding: 30px 0;

			.container {
				display: block;
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
			}

			.content {
				margin: 0 0 40px;
			}
		}

		@media(max-width: 440px) {
			.title {
				font-size: 30px;
				line-height: 36px;
			}

			.text-s {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 40px;
			}
		}
	}

	.company {
		background-color: #F9F7FF;
		padding: 55px 20px;

		.container {}

		&__row {
			display: flex;
			margin-bottom: 120px;

			&-2 {
				margin-bottom: 0;
			}
		}

		.content {
			width: 100%;
			max-width: 425px;
			flex: 0 0 auto;
			margin-right: 20px;
		}

		.decor-wave {
			margin-bottom: 30px;
		}

		.item {
			width: 50%;
			text-align: center;

			img {
				margin-bottom: 30px;
			}

			&--2 {
				.subtitle {
					position: relative;
					right: -15px;
					max-width: 304px;
				}
			}
		}

		.subtitle {
			font-size: 40px;
			line-height: 50px;
			text-align: left;
			font-weight: bold;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		@media(max-width: 900px) {
			padding: 30px 0;

			&__row {
				display: block;
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 60px;
			}

			.content {
				margin: 0 0 40px;
			}

			.item {
				width: 100%;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 40px;
			}
		}

		@media(max-width: 650px) {
			.subtitle {
				text-align: center;
				font-size: 26px;
				line-height: 34px;
			}
		}

		@media(max-width: 440px) {
			.title {
				font-size: 30px;
				line-height: 36px;
			}

			.text-s {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 40px;
			}
		}
	}

	.personal {
		background-image: url(../img/landings/l7_personal_bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 50px 20px 70px;

		.content {
			max-width: 650px;
		}

		.decor-wave {
			margin-bottom: 30px;
		}

		.text-s {
			margin-bottom: 30px;
		}

		.text-xs {
			margin: 0;
			font-size: 16px;
			line-height: 30px;
			font-weight: 300;
		}

		@media(max-width: 440px) {
			padding: 30px 0;

			.title {
				font-size: 30px;
				line-height: 36px;
			}

			.text-s {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 40px;
			}
		}
	}

	.online {
		padding: 65px 20px 60px;

		.container {
			text-align: center;
		}

		.decor-wave {
			margin-bottom: 20px;
		}

		.text-s {
			max-width: 554px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 60px;
		}

		.items {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;

			.item {
				text-align: left;
				width: 100%;
				max-width: 390px;
				padding: 0 40px;
			}

			.subtitle {
				margin-top: 20px;
				font-size: 40px;
				line-height: 40px;
				font-weight: bold;
				margin-bottom: 10px;
				min-height: 85px;
			}

			.text-s {
				margin: 0;
			}
		}

		.button {
			margin-left: auto;
			margin-right: auto;
		}

		@media(max-width: 1200px) {
			.items {
				.item {
					max-width: 240px;
					padding: 0 20px;
				}

				.subtitle {
					font-size: 24px;
					line-height: 30px;
					min-height: 60px;
				}

				.text-s {
					font-size: 16px;
					line-height: 21px;
					margin-bottom: 40px;
				}
			}
		}

		@media(max-width: 800px) {
			.items {
				display: block;

				.item {
					padding: 0;
					max-width: 280px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		@media(max-width: 440px) {
			padding: 30px 0;

			.title {
				font-size: 30px;
				line-height: 36px;
			}

			.text-s {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 40px;
			}
		}
	}
}

/*
*
* Common elements
*
*/

.b2b {
	font-family: $value-font-family;

	.title {
		font-size: 62px;
		font-weight: bold;
		line-height: 62px;
		margin: 0 0 10px;

		@media(max-width: 600px) {
			font-size: 40px;
			line-height: 40px;
		}
	}

	.container {
		max-width: 1200px;
		padding: 0 20px;
		margin: 0 auto;
		width: 100%;
	}

	.button {
		border: none;
		cursor: pointer;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 380px;
		width: 100%;
		min-height: 60px;
		background-color: $color-primary;
		background-image: linear-gradient(40deg, #00ADE2 20%, #00D9FB 80%);
		border-radius: 32px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 23px;
		text-transform: uppercase;
		letter-spacing: 0.075em;
		box-shadow: inset 0 0 1000px transparent, 0 40px 60px rgba(#000000, .32);
		transition: all .3s;

		&--line {
			border: 1px solid #fff;
			background: transparent;
			box-shadow: none;
		}

		&--black-line {
			border: 1px solid #000;
			background-color: #fff;
			color: #000;
			background: transparent;
			box-shadow: none;
		}

		&:hover {
			color: #fff;
			transform: translateY(-5px);
			box-shadow: inset 0 0 1000px #00ADE2, 0 50px 90px rgba(#000000, .42);
			border-color: #00ADE2;
		}

		&--not-shadow {
			box-shadow: none;

			&:hover {
				box-shadow: inset 0 0 1000px #00ADE2;
			}
		}

		&--white {
			background: #fff;
			color: #000;

			&:hover {
				background-color: #00ADE2;
				color: #fff;
			}
		}
	}

	.text-s {
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
	}
}


/*
*
* Common sections
*
*/

.b2b {
	
	section.send-bid {
		background-color: #064C7C;
		background-image: linear-gradient(45deg, #064C7C 0%, #97183E 100%);
		text-align: center;

		.container {
			padding-top: 100px;
			padding-bottom: 100px;
			max-width: 1100px;
			color: #fff;

			.decor-wave { margin-bottom: 40px; }
		}

		.content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.manager {
			color: #fff;
			max-width: 300px;

			.icon {
				width: 165px;
				height: 165px;
				border-radius: 50%;
				overflow: hidden;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
			}

			.name {
				font-size: 26px;
				line-height: 36px;
				font-weight: bold;
				margin-bottom: 20px;
			}

			.desc {
				font-size: 18px;
				line-height: 22px;
				font-weight: 300;
				max-width: 224px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
				opacity: .5;
			}

			.contacts {
				margin-bottom: 52px;

				p {
					margin: 0;
					font-size: 18px;
					line-height: 22px;
				}

				a {
					color: #fff;
				}
			}

			.button {
				width: 300px;

				@media(max-width: 350px) {
					width: 100%;
					max-width: 300px;
				}
			}
		}

		.form {
			color: #fff;
			width: 100%;
			max-width: 580px;

			.desc {
				font-size: 26px;
				line-height: 30px;
				font-weight: 300;
				max-width: 310px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
			}

			&__input,
			&__area {
				display: block;
				font-size: 16px;
				color: #fff;
				height: 46px;
				border-radius: 4px;
				border: 1px solid rgba(#fff, .5);
				padding: 12px 17px;
				margin-bottom: 20px;
				background-color: transparent;
				outline: none;
				width: 100%;

				&::placeholder { color: #fff; font-size: 16px; }
			}

			&__area {
				min-height: 104px;
				max-width: 100%;
				max-height: 300px;
				resize: none;
				margin-bottom: 5px;
			}

			.error-messages {
				min-height: 30px;
				font-size: 16px;
				line-height: 30px;
				font-weight: 300;
				margin-bottom: 15px;
				text-align: left;

				> div {display: none}

				.success { color: $color-primary; }
				.error { color: #FF4444; }
			}

			.button {
				width: 100%;
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
			}

			@media(max-width: 1150px) {
				max-width: 460px;
			}
		}

		@media(max-width: 900px) {
			background-image: linear-gradient(to top, #064C7C 0%, #97183E 100%);
			.content {
				display: block;
			}

			.manager {
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 60px;
			}

			.form {
				margin-left: auto;
				margin-right: auto;
			}
		}

		@media(max-width: 600px) {
			.container {
				padding-top: 40px;
				padding-bottom: 40px;
			}
			.manager {
				.contacts {
					margin-bottom: 30px;
				}
			}
		}
	}

	section.subscribe {
		background-repeat: no-repeat;
		background-position: calc(50% + 405px - 41px) 244px;
		background-image: url(../img/landings/subscribe_form_bg.png);
		background-size: 810px auto;

		.container {
			padding-top: 100px;
			padding-bottom: 100px;
			text-align: center;
			max-width: 1100px;
		}

		.title { color: #000; }

		.decor-wave { margin-bottom: 40px; }

		.desc {
			font-size: 26px;
			line-height: 30px;
			font-weight: 300;
			margin-bottom: 40px;
		}

		.form {
			max-width: 400px;

			&__input {
				display: block;
				font-size: 16px;
				color: #000;
				height: 46px;
				border-radius: 4px;
				border: 1px solid #000;
				padding: 13px 17px 12px;
				padding-left: 58px;
				margin-bottom: 20px;
				background-color: transparent;
				outline: none;
				font-weight: 300;
				width: 100%;
				background-repeat: no-repeat;

				&.name {
					background-image: url(../img/landings/icon-user.svg);
					background-position: 22px 14px;
				}

				&.email {
					background-image: url(../img/landings/icon-email.svg);
					background-position: 21px 13px;
				}

				&.company {
					background-image: url(../img/landings/icon-bag.svg);
					background-position: 20px 14px;
				}

				&::placeholder { color: #000; font-size: 16px; }
			}

			.error-messages {
				margin-top: -15px;
				min-height: 30px;
				font-size: 16px;
				line-height: 30px;
				font-weight: 300;
				margin-bottom: 15px;
				text-align: left;

				> div {display: none}

				.success { color: $color-primary; }
				.error { color: #FF4444; }
			}

			.button {
				max-width: 400px;
				margin-bottom: 40px;
			}

		}

		.agreement {
			text-align: left;
			font-size: 14px;
			font-style: italic;
			line-height: 30px;
			opacity: .5;
			margin: 0;
			font-family: Arial, sans-serif;
		}

		@media(max-width: 1000px) {
			background-position: center calc(100% - 20px);
			background-size: auto 250px;

			.container {
				padding-top: 40px;
				padding-bottom: 170px;
			}

			.form {
				margin-left: auto;
				margin-right: auto;
			}

			.agreement {
				text-align: center;
			}
		}

		@media(max-width: 600px) {
			background-position: center calc(100% - 30px);
			background-size: auto 122px;

			.desc {
				font-size: 24px;
				line-height: 28px;
			}

			.agreement {
				font-size: 12px;
				line-height: 17px;
			}
		}
	}
}

.decor-wave {
	display: inline-block;
	width: 57px;
	height: 12px;
	background-image: url(../img/landings/decor-wave.svg);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}


/*
*
* Landings menu
*
*/

.landings-nav {
	.container {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 10px;
		padding-bottom: 10px;

		.button {
			min-height: 28px;
			width: 164px;
			font-size: 12px;
			line-height: 16px;
		}
	}

	a {
		display: inline-block;
		margin: 5px 10px;
		font-size: 15px;
		line-height: 18px;

		&.active { color: $color-primary; }
	}

	&-trigger {
		display: none;
	}

	@media(min-width: 992px) {
		.container {
			display: flex !important;
		}
	}

	@media(max-width: 992px) {
		.container {
			padding: 0;
			display: none;
			border-top: 1px solid #D6D6D6;
		}

		&-trigger {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			line-height: 24px;
			min-height: 45px;
			color: $color-primary;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				flex: 0 0 auto;
				width: 8px;
				height: 15px;
				margin-left: 12px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 100% auto;
				background-image: url(../img/landings/icon-arrow-min.svg);

				transform-origin: center center;
				transition: transform .2s;
			}

			&.active {
				&:after {
					transform: rotate(180deg)
				}
			}
		}

		a:not(.button) {
			margin: 0;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			min-height: 45px;
			border-bottom: 1px solid #D6D6D6;

			&.active {
				display: none;
				color: inherit;
			}

			&:hover {
				color: $color-primary;
			}
		}

		.button {
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

@import 'b2b-slider';