.special-projects {
	padding-bottom: 10px;

	@media(max-width: 767px) {
		&.default-padding {
			margin-top: 20px;
		}
	}


	.title {
		font-size: 97px;
		font-weight: 800;
		text-transform: uppercase;
		// margin: 0 0 30px;
		text-align: center;

		@media(max-width: 1220px) {
			font-size: 6.9vw;
			line-height: 1.15;
		}

		@media(max-width: 500px) {
			font-size: 30px;
		}
	}

	.desc {
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02px;
		padding-right: 23px;
		color: #000;
		// max-width: 750px;
		margin-left: auto;
		text-align: right;
		margin-bottom: 100px;

		@media(max-width: 1220px) {
			font-size: 22px;
			line-height: 30px;
		}

		@media(max-width: 991px) {
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			padding: 0;
		}
		
	}


	&__items {
		background-image: url(../img/special-projects/lines-bg@2x.png);
		background-repeat: repeat-y;
		background-position: center top;
		// background-size: 853px auto;

		@media(max-width: 991px) {
			background-size: 600px 91%;
			background-position: center 115px;
		}

		@media(max-width: 767px) {
		    background-size: 300px 94%;
		    background-position: center 60px;
		}

		@media(max-width: 550px) {
			background: none;
		}
	}

	&__row {
		text-decoration: none;
		color: inherit;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 40px;

		&:last-child {
			background-color: #fff;
			margin-bottom: 0;
		}

		&--reverse {
			flex-direction: row-reverse;

			.special-projects__img {
				margin-right: 0;
				margin-left: 40px;

				@media(max-width: 550px) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		&:hover {
			color: inherit;
			text-decoration: none;
			transition: none !important;

			.special-projects__img {
				-o-transform: translateY(-10px);
				-ms-transform: translateY(-10px);
				-moz-transform: translateY(-10px);
				-webkit-transform: translateY(-10px);  
				transform: translateY(-10px);
			}

			
		}

		@media(max-width: 550px) {
			display: block;
			text-align: center;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 60px;
		}
	}

	&__img {
		flex: 0 0 auto;
		width: 100%;
		max-width: 360px;
		margin-right: 40px;
		height: 300px;
		transition: transform 0.5s;

		img {
			max-width: 100%;
			height: auto;
		}

		@media(max-width: 991px) {
			max-width: 250px;
			height: auto;
		}

		@media(max-width: 767px) {
			max-width: 200px;
		}

		@media(max-width: 550px) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}
		
	}

	&__content {
		max-width: 660px;
	}

	&__title {
		font-size: 44px;
		line-height: 65px;
		text-transform: uppercase;
		font-weight: 800;
		margin: 0 0 5px;
		color: #000;

		@media(max-width: 991px) {
			font-size: 30px;
			line-height: 40px;
		}

		@media(max-width: 767px) {
			font-size: 22px;
			line-height: 28px;
		}
	}

	&__desc {
		font-size: 20px;
		line-height: 29px;
		color: #777;

		@media(max-width: 991px) {
			font-size: 18px;
			line-height: 24px;
		}

		@media(max-width: 767px) {
			font-size: 16px;
			line-height: 21px;
		}
	}

	.rights {
		margin-top: 40px;
		a {
			color: #ccc;
			font-size: 10px;
			margin: 0;
		}
	}
}