section.special-projects {
	background-color: #000;
	margin-bottom: -200px;

	& + .footer {
		z-index: 2;
	}

	&:after {
		position: sticky;
		bottom: 0;
		content: '';
		height: 200px;
		display: block;
		background-image: linear-gradient(to top, #000 20%, rgba(#000, 0) 95%);
	}

	@media(max-width: 500px) {
		margin-bottom: -80px;

		&:after {
			height: 80px;
		}
	}

	@media(max-height: 450px) {
		margin-bottom: -50px;

		&:after {
			height: 50px;
		}
	}

	.blog-tabs {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.item {
		text-decoration: none;
		display: block;
		text-align: center;
		margin-bottom: 30px;

		img {
			max-width: 100%;
			vertical-align: top;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.nav {
		position: fixed;
		top: 50%;
		right: 50px;
		transform: translateY(-50%);
		z-index: 9;

		a {
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 5px solid #fff;
			margin-bottom: 40px;
			transition: background-color .5s;

			&:last-child {margin-bottom: 0;}

			&.active {
				background-color: $color-primary;
			}
		}

		&--small {
			a {
				width: 16px;
				height: 16px;
				margin-bottom: 20px;
				border-width: 3px;
			}
		}

		@media(max-width: 1000px) {
			right: 30px;

			a {
				width: 20px;
				height: 20px;
				margin-bottom: 30px;
				border-width: 4px;
			}
		}

		@media(max-width: 700px) {
			right: 20px;
		}

		@media(max-width: 500px) {
			display: none;
		}
	}
}


.main--special-projects {
	position: relative;
}

.page-special-projects {
	overflow: visible;
}