section.subscribe-settings {
	font-family: $value-font-family;
	padding-top: 60px;
	padding-bottom: 60px;

	@media(max-width: 768px) {
		padding: 0;
	}

	.container {
		border-radius: 2px;
		overflow: hidden;
		position: relative;
		max-width: 1048px;
		width: 100%;
		margin: 0 auto;
		min-height: 1276px;
		background-color: #45ace1;
		padding: 103px 60px;
		font-variant: small-caps;

		@media(max-width: 700px) {
			padding: 40px 20px;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../img/settings_bg.jpg);
			background-size: cover;
			background-position: top left;

			@media(max-width: 680px) {
				opacity: .5;
			}
		}
	}

	.content {
		position: relative;
		z-index: 2;
	}

	.title {
		font-size: 27px;
		line-height: 1;
		font-weight: bold;
		margin: 0 0 15px;
	}

	.desc {
		font-size: 20px;
		margin: 0 0 40px;
	}

	.form {
		.input-label {
			display: block;
			margin-bottom: 17px;

			p {
				font-size: 20px;
				line-height: 1;
				margin: 0 0 6px;
			}

			input {
				max-width: 370px;
				width: 100%;
				height: 35px;
				font-size: 18px;
				border: none;
				outline: none;
				background-color: #fff;
				padding: 0 15px;
			}
		}

		.title {
			margin-top: 57px;
			margin-bottom: 39px;
		}

		.checkbox-label {
			cursor: pointer;
			display: flex;
			align-items: flex-start;
			margin-bottom: 41px;

			input {
				margin-top: 2px;
				width: 18px;
				height: 18px;
				flex: 0 0 auto;
				margin-right: 20px;
			}

			p {
				margin: 0;
				font-size: 20px;
				line-height: 22px;
				letter-spacing: -0.5px;
				max-width: 653px;
			}
		}
	}
}