.subscribe-bombora {
  padding-top: 50px;
  padding-bottom: 10px;

  @media(max-width: 767px) {
    &.default-padding {
      margin-top: 20px;
    }
  }


  .title {
    font-weight: 800;
    font-size: 91px;
    text-transform: uppercase;
    text-align: center;

    @media(max-width: 1220px) {
      font-size: 6vw;
      line-height: 1.15;
    }

    @media(max-width: 767px) {
      font-size: 30px;
      line-height: 44px;
    }
  }

  .desc-wrapper {
    max-width: 958px;
  }

  .desc {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.02px;
    color: #000;
    max-width: 450px;
    margin-left: auto;
    margin-bottom: 100px;

    @media(max-width: 1220px) {
      font-size: 22px;
      line-height: 30px;
    }

    @media(max-width: 767px) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

  }


  // Content
  .subscribe-bombora-content {
    display: flex;
    max-width: 958px;

    @media(max-width: 767px) {
      justify-content: center;
    }
  }

  .img {
    position: relative;
    top: -85px;
    margin-right: 70px;

    img {
      max-width: 100%;
    }

    @media(max-width: 991px) {
      top: -40px;
      left: 50px;
      margin-left: -150px;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  .info {
    margin-left: auto;
    width: 100%;
    max-width: 450px;
    flex: 0 0 auto;

    @media(max-width: 767px) {
      margin-left: 0;
    }

    &__label {
      position: relative;
      margin-bottom: 65px;

      &:hover {
        .info__img-large {
          transform: translateY(-15px);
        }
      }

      @media(max-width: 767px) {
        padding-left: 40px;
      }

      &.games {
        .info__text {
          max-width: 344px;
        }
      }
    }

    &__checkbox {
      cursor: pointer;
      position: absolute;
      top: 5px;
      left: -40px;

      @media(max-width: 767px) {
        top: -2px;
        left: 0;
      }

      input {
        display: none;

        &:checked + span {
          background-color: $color-primary;
          border-color: $color-primary;

          &:after {
            opacity: 1;
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #BFBFBF;
        background-color: transparent;
        transition: .2s;

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.67124 3.76844C1.26187 3.39772 0.629481 3.42906 0.258763 3.83843C-0.111954 4.24781 -0.0806173 4.8802 0.328757 5.25091L1.67124 3.76844ZM3.75 7L3.07876 7.74124C3.27754 7.92125 3.54029 8.01387 3.80801 7.99832C4.07573 7.98276 4.32598 7.86033 4.50258 7.6585L3.75 7ZM9.75258 1.6585C10.1163 1.24287 10.0741 0.611105 9.6585 0.247423C9.24287 -0.116259 8.61111 -0.0741413 8.24742 0.341495L9.75258 1.6585ZM0.328757 5.25091L3.07876 7.74124L4.42124 6.25876L1.67124 3.76844L0.328757 5.25091ZM4.50258 7.6585L9.75258 1.6585L8.24742 0.341495L2.99742 6.3415L4.50258 7.6585Z' fill='white'/%3E%3C/svg%3E%0A");
          opacity: 0;
          transition: .2s;
        }
      }
    }

    &__img-large {
      position: absolute;
      left: -500px;
      transition: .5s;

      img {
        max-width: 100%;
      }

      @media(max-width: 991px) {
        left: -350px;
      }

      &.new {
        top: -70px;
        left: -540px;

        @media(max-width: 991px) {
          width: 200px;
          left: -300px;
        }
      }

      &.changes {
        top: 20px;

        @media(max-width: 991px) {
          width: 200px;
        }
      }

      &.games {
        top: 90px;

        @media(max-width: 991px) {
          top: 20px;
          width: 200px;
        }
      }

      @media(max-width: 767px) {
        display: none;
      }
    }

    &__img {
      display: none;

      @media(max-width: 767px) {
        position: absolute;
        top: -45px;
        right: 0;
        display: block;
      }

      @media(max-width: 415px) {
        top: -30px;
      }
    }

    &__title {
      cursor: pointer;
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      color: #272727;
      margin-bottom: 7px;

      @media(max-width: 767px) {
        position: relative;
        z-index: 1;
        font-size: 24px;
        line-height: 24px;
        margin-right: 105px;

        & + .info__text {
          margin-top: 20px;
        }
      }
    }

    &__note {
      display: block;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: $color-primary;
      margin-bottom: 14px;
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
      color: #777777;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    // Form

    &__form {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      &-field {
        margin-bottom: 16px;

        input {
          width: 100%;
          height: 48px;
          border-radius: 100px;
          padding: 0 30px;
          font-size: 16px;
          font-family: inherit;
          border: 1px solid #ccc;
          -webkit-appearance: none;
          transition: .2s;

          &:focus {
            border-color: $color-primary;
          }
        }
      }

      &-input {
        position: relative;
        padding: 1px;
        border-radius: 100px;
        background-color: #CCCCCC;
      }

      &-desc {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #272727;
      }
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $color-primary;
    padding: 7px 30px 5px;
    min-height: 48px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $color-primary;
    transition: .2s;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }

    &-block {
      display: flex;
      width: 100%;
    }

    &-primary,
    &-fill {
      background-color: $color-primary;
      color: #fff;

      &:hover {
        background-color: #0093e2;
        border-color: #0093e2;
      }
    }

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      min-width: 232px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .mail-examples {
    margin-top: 120px;
    margin-bottom: 120px;

    @media(max-width: 767px) {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    &__title {
      font-weight: bold;
      font-size: 36px;
      line-height: 53px;
      color: #272727;
      margin-bottom: 65px;

      @media(max-width: 767px) {
        text-align: center;
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 24px;
      }
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -35px;

      @media(max-width: 767px) {
        margin: 0 -8px;
      }
    }

    &__item {
      padding: 20px 35px;
      width: 33.3333%;
      max-width: 350px;

      &:hover {
        .mail-examples__img {
          transform: translateY(-10px);
        }
      }

      @media(max-width: 767px) {
        padding: 16px 8px;
      }
    }

    &__img {
      display: inline-block;
      border-radius: 8px;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
      margin-bottom: 30px;
      transition: .5s;

      img {
        max-width: 100%;
      }
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
      color: #777777;

      @media(max-width: 767px) {
        font-size: 13px;
        line-height: 14px;
      }
    }
  }

  .soon-content {
    padding-top: 93px;
    background: linear-gradient(86.66deg, #7844E8 -16.51%, #00ADE2 62.18%);
    color: #fff;

    @media(max-width: 767px) {
      padding-top: 40px;
    }

    &__top {
      max-width: 450px;
      margin-bottom: 115px;

      @media(max-width: 767px) {
        text-align: center;
        margin: 0 auto 75px;
      }
    }

    &__title {
      font-weight: 800;
      font-size: 91px;
      line-height: 134px;
      text-transform: uppercase;
      color: #fff;
      -webkit-text-stroke: 2px #fff;
      -webkit-text-fill-color: transparent;

      @media(max-width: 767px) {
        -webkit-text-stroke: 1px #fff;
        font-size: 30px;
        line-height: 44px;
      }
    }

    &__desc {
      font-size: 26px;
      line-height: 32px;
      color: #FFFFFF;

      @media(max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 11px;
      }
    }

    .container {
      position: relative;
    }

    .line {
      position: absolute;
      top: 50px;
      left: 568px;

      @media(max-width: 767px) {
        top: 8px;
        left: calc(50% + 75px);
      }
    }

    .img {
      position: relative;
      top: 30px;
      left: 0;
      margin-left: 0;
    }

    .info {

      &__label {
        margin-bottom: 32px;
      }

      &__img-large {
        &.style {
          top: -10px;
        }

        &.gamers {
          top: 70px;
        }
      }

      &__checkbox {
        input:checked + span {
          background-color: #fff;
          border-color: #fff;
        }

        span {
          border-color: #fff;

          &:after {
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.67124 3.76844C1.26187 3.39772 0.629481 3.42906 0.258763 3.83843C-0.111954 4.24781 -0.0806173 4.8802 0.328757 5.25091L1.67124 3.76844ZM3.75 7L3.07876 7.74124C3.27754 7.92125 3.54029 8.01387 3.80801 7.99832C4.07573 7.98276 4.32598 7.86033 4.50258 7.6585L3.75 7ZM9.75258 1.6585C10.1163 1.24287 10.0741 0.611105 9.6585 0.247423C9.24287 -0.116259 8.61111 -0.0741413 8.24742 0.341495L9.75258 1.6585ZM0.328757 5.25091L3.07876 7.74124L4.42124 6.25876L1.67124 3.76844L0.328757 5.25091ZM4.50258 7.6585L9.75258 1.6585L8.24742 0.341495L2.99742 6.3415L4.50258 7.6585Z' fill='%2300ADE2'/%3E%3C/svg%3E%0A");
          }
        }
      }

      &__title {
        color: #fff;
      }

      &__text {
        color: #fff;
      }

      &__form {
        margin-bottom: 114px;

        @media(max-width: 767px) {
          margin-bottom: 100px;
        }

        &-field {
          input {
            background-color: transparent;
            border-color: #fff;
            color: #fff;

            &::placeholder {
              color: #fff;
            }
          }
        }

        &-desc {
          color: #fff;
        }
      }

    }

    .btn {
      background-color: #fff;
      border-color: #fff;
      color: $color-primary;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #ff9700;
        border-color: #ff9700;
        color: #fff;
      }
    }
  }
}

.subscribe-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: rgba(#000, .7);
}

.subscribe-modal-area {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px;
}

.subscribe-modal {
  width: 100%;
  max-width: 1056px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 58px;
  display: flex;

  @media(max-width: 900px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media(max-width: 500px) {
    display: block;
    padding: 40px 16px 32px;
  }

  &-image {
    flex: 0 0 auto;
    margin-right: 56px;

    img {
      max-width: 100%;
    }

    @media(max-width: 900px) {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @media(max-width: 500px) {
      float: left;
      margin: 0 16px 0 0;
      max-width: 104px;
    }

    @media(max-width: 370px) {
      max-width: 90px;
    }

  }

  &-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #272727;
    margin-bottom: 24px;

    @media(max-width: 500px) {
      font-size: 24px;
      line-height: 88px;
      margin-bottom: 16px;
    }

    @media(max-width: 370px) {
      font-size: 20px;
      line-height: 75px;
      margin-bottom: 16px;
    }
  }

  &-desc {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #272727;
    margin-bottom: 32px;

    @media(max-width: 500px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .btn {
    width: 256px;

    @media(max-width: 500px) {
      width: 100%;
    }
  }
}