.subscribe-confirm {
  .container {
    padding-top: 40px;
    padding-bottom: 108px;
  }

  .info {
    position: relative;
    padding-top: 45px;
    width: 100%;
    max-width: 740px;
  }

  .title {
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    margin-bottom: 50px;
  }

  .desc {
    position: relative;
    z-index: 2;
    font-size: 30px;
    line-height: 46px;
    color: #777;
    margin-bottom: 146px;
  }

  .bombora-fact-box {
    position: relative;
    z-index: 2;
    max-width: 700px;
    color: #fff;
    font-size: 20px;
    line-height: 31px;
    padding: 27px 30px;
    background-image: linear-gradient(92.61deg, #486EE5 -0.65%, #119FE3 49.67%, #00ADE2 100%);
    border-radius: 10px;
  }

  .img {
    position: absolute;
    top: 48px;
    left: 635px;
    z-index: 1;
  }

  .decor-line {
    position: absolute;
    top: 0;
    left: -73px;
    z-index: 1;
  }

  @media(max-width: 1199px) {

    .img {
      top: 0;
      left: 670px;

      img {
        max-width: 400px;
      }
    }
  }

  @media(max-width: 991px) {
    .title {
      font-size: 38px;
      line-height: 46px;
      margin-bottom: 45px;
    }

    .desc {
      font-size: 20px;
      line-height: 30px;
      color: #777777;
      margin-bottom: 10px;
    }

    .img {
      position: relative;
      left: 0;
      top: 0;
      z-index: 2;
      text-align: center;
      margin-bottom: 40px;

      img {
        width: 100%;
        max-width: 350px;
        height: auto;
      }
    }
  }

  @media(max-width: 767px) {
    .container {
      padding-top: 0;
      padding-bottom: 40px;
    }

    .info {
      padding-top: 0;
    }

    .title {
      font-size: 30px;
      line-height: 39px;
      margin-bottom: 36px;
    }

    .desc {
      font-size: 20px;
      line-height: 30px;
      color: #777777;
    }

    .bombora-fact-box {
      padding: 22px;
      font-size: 18px;
      line-height: 28px;
    }


    .decor-line {
      left: -215px;
      top: 50px;

      img {
        transform: scale3d(0.55, 1, 1);
        //width: 342px;
      }
    }
  }
}