.subscribe-block-section {
  display: flex;
  align-items: center;
  height: 1px;
  margin-top: 300px;

  & + section.after-subscribe {
    padding-top: 300px;
  }
}

.subscribe-block {
  position: relative;
  padding: 1px;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
  z-index: 2;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background-image: linear-gradient(to right, #7844E8 0%, #00ADE2 100%);
  }

  &__content {
    position: relative;
    z-index: 2;
    border-radius: 7px;
    background-color: #fff;
    display: flex;
    padding: 56px;

    @media(max-width: 991px) {
      padding: 40px 30px;
    }

    @media(max-width: 767px) {
      display: block;
      padding: 40px 20px;
    }
  }

  &__img {
    margin-right: 56px;

    img {
      max-width: 100%;
    }

    @media(max-width: 767px) {
      position: absolute;
      top: 35px;
      left: 20px;
    }
  }

  &__info {
    max-width: 608px;

    a {
      color: $color-primary;
      transition: .2s;

      &:hover {
        color: #ff9700;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #272727;
    margin-bottom: 25px;

    @media(max-width: 991px) {
      font-size: 28px;
      line-height: 34px;
    }

    @media(max-width: 767px) {
      font-size: 24px;
      line-height: 24px;
      display: flex;
      align-items: center;
      margin-left: 130px;
      min-height: 82px;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #272727;
    margin-bottom: 48px;

    &.bold {
      font-weight: bold;
      margin-bottom: 23px;
    }

    @media(max-width: 991px) {
      font-size: 20px;
      line-height: 26px;
    }

    @media(max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 16px;
    }
  }

  &__note {
    font-weight: 300;
    color: #272727;

    b {
      font-weight: bold;
    }
  }


  .btn {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid $color-primary;
    padding: 7px 30px 5px;
    min-height: 48px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $color-primary;
    transition: .2s;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }

    &-block {
      display: flex;
      width: 100%;
    }

    &-primary,
    &-fill {
      background-color: $color-primary;
      color: #fff;

      &:hover {
        background-color: #0093e2;
        border-color: #0093e2;
      }
    }

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 21px;
      min-width: 232px;
    }
  }

  &__form {
    margin-bottom: 43px;

    @media(max-width: 767px) {
      margin-bottom: 23px;
    }

    &-row {
      display: flex;

      @media(max-width: 991px) {
        display: block;
      }
    }

    input {
      height: 48px;
      width: 100%;
      padding: 0 24px;
      font-family: inherit;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      margin-right: -1px;
      border-radius: 100px;
      -webkit-appearance: none;
      transition: .2s;

      @media(min-width: 992px) {
        border-radius: 100px 0 0 100px;
      }

      @media(max-width: 991px) {
        margin-bottom: 8px;
      }

      &:focus {
        border-color: $color-primary;
      }
    }

    .btn {
      width: 100%;

      @media(min-width: 992px) {
        width: 185px;
        border-radius: 0 100px 100px 0;
      }
    }

    .form-field {
      color: #7E7E7E;

      @media(min-width: 992px) {
        padding-left: 25px;
      }

      input:checked + label:before {
        border-color: $color-primary !important;
      }

      label {
        &:before {
          margin-top: -2px;
          border-color: #CCCCCC !important;
        }

        &:after {
          margin-top: -1px;
        }

        &:hover {
          &:before {
            border-color: $color-primary !important;
          }
        }
      }
    }
  }
}