.vacancy {
	&-top {
		padding: 80px 0 0px;
		background-color: #e0e0e1;

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.content {
			max-width: 600px;
			margin-right: 40px;
			margin-bottom: 80px;

			.desc {
				font-size: 18px;
				line-height: 24px;
				color: #707070;
				margin-bottom: 25px;
			}

			.btn {
				margin-top: 70px;
				background-color: $color-primary;
				color: #fff;
				font-size: 22px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px 10px;
				min-height: 54px;
				border-radius: 27px;
				max-width: 260px;
			}
		}
	}

	.title {
		font-size: 35px;
		line-height: 52px;
		margin-bottom: 40px;
	}

	&-slider {
		position: relative;
		width: 280px;
		margin-bottom: 80px;

		.slick-arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			margin-top: -28px;
			width: 56px;
			height: 56px;
			background-color: #fff;
			border: none;
			outline: none;
			border-radius: 50%;
			box-shadow: 0 4px 10px 0 rgba(#000, .3);
			z-index: 2;
			cursor: pointer;

			&.prev {
				left: -30px;
			}

			&.next {
				right: -30px;
			}

			.ion:before {
				font-size: 30px;
			}
		}

		&__card {
			margin: 0 10px;
			display: block;
			width: 260px;
			background-color: #fff;
			border-radius: 10px;
			border: 1px solid #c4c4c4;
			min-height: 390px;
			padding: 45px 20px 30px 30px;
		}

		&__img {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			box-shadow: inset 0 0 0 2px $color-primary;
			margin-bottom: 47px;

			div {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				overflow: hidden;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -10px;
				width: 46px;
				height: 56px;
				z-index: 2;
				background-image: url(../img/icon-flame@2x.png);
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
		}

		&__label {
			font-size: 14px;
			line-height: 18px;
			color: #ff9800;
			margin-bottom: 12px;
		}

		&__name {
			color: #000;
			font-weight: bold;
			font-size: 22px;
			line-height: 28px;
		}
	}

	&-line {
		min-height: 85px;
		background-image: url(../img/vacancy/bg_line@2x.png);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&-departments {
		padding-top: 80px;
		padding-bottom: 45px;
		border-bottom: 1px solid #d3d3d3	;

		.title {
			margin-bottom: 25px;
		}

		&__nav {
			max-width: 600px;
			display: flex;
			flex-wrap: wrap;

			span {
				display: block;
				width: 100%;
				max-width: 260px;
				margin-right: 40px;
				margin-bottom: 15px;
			}

			a {
				font-size: 20px;
				line-height: 30px;

				&.active {
					color: $color-primary;
					pointer-events: none;
				}
			}
		}
	}

	&-list {
		padding-top: 40px;
		padding-bottom: 40px;

		.post-content + .post-content {
			margin-top: 60px;
		}
	}
}

.vacancy-details {
	padding-top: 20px;

	max-width: 640px;

	&__label {
		font-size: 12px;
		text-transform: uppercase;
		line-height: 14px;
		color: #7f7f7f;
		letter-spacing: 0.1px;
		font-weight: bold;
		margin-bottom: 15px;
	}

	&__title {
		font-size: 35px;
		line-height: 45px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__head {
		display: flex;
		margin-bottom: 40px;

		@media(max-width: 640px) {
			display: block;
		}
	}

		&__display {
			flex: 0 0 auto;
			width: 260px;
			margin-right: 40px;

			@media(max-width: 640px) {
				margin-bottom: 40px;
			}
		}

		&__img {
			border: 1px solid #c4c4c4;
			min-height: 160px;
			margin-bottom: 20px;

			img {
				vertical-align: top;
				max-width: 100%;
				margin: 0 !important;
			}
		}

		&__icons {
			display: flex;
			margin: 0 -10px;
			justify-content: space-between;
			font-size: 13px;
			line-height: 16px;

			&-item {
				text-align: center;
				margin: 0 10px;

				img {
					margin: 0 !important;
				}

				p {
					margin: 5px 0 0;
				}
			}
		}

	&__body {

		h3 {
			font-size: 24px;
			line-height: 31px;
			margin-bottom: 20px;
		}

		ul {
			padding-left: 16px;
			list-style: outside;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 40px;

			li {
				margin-bottom: 7px;
			}
		}
	}

			.btn {
				background-color: $color-primary;
				color: #fff;
				font-size: 22px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px 10px;
				min-height: 54px;
				border-radius: 27px;
				max-width: 260px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 40px;
			}
}


.vacancy-bonuses {
	margin-bottom: 30px;

	.title {
		font-weight: bold;
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 20px;
	}

	&__flex {
		max-width: 600px;
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
	}

	&__item {
		width: 50%;
		min-width: 260px;
		display: flex;
		align-items: center;
	}

	&__icon {
		flex: 0 0 auto;
		width: 140px;
		text-align: center;

		img {
			margin: 0 !important;
		}
	}
}

.vacancy-feedback {
	padding: 80px 0;
	background-color: #242424;
	color: #fff;

	.container {
		max-width: 590px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.form {

		&__field {
			margin-bottom: 20px;

			&.error {

				input,
				textarea {
					border-color: red;
				}
			}
		}

		input,
		textarea {
			background-color: transparent;
			border: 1px solid #fff;
			border-radius: 4px;
			color: #fff;
			min-height: 46px;
			font-size: 18px;
			line-height: 24px;
			width: 100%;
			padding: 5px 20px;

			&::placeholder {
				color: #bdbdbd;
			}
		}

		textarea {
			padding-top: 10px;
			padding-bottom: 10px;
			resize: none;
			min-height: 104px;
			vertical-align: top;	
		}

			.btn {
				margin-top: 40px;
				background-color: $color-primary;
				color: #fff;
				font-size: 22px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px 10px;
				min-height: 54px;
				border-radius: 27px;
				border: none;
				outline: none;
				cursor: pointer;
				width: 100%;
				display: block;
				max-width: 260px;
				margin-bottom: 40px;
			}
	}
}