section.where-buy {

	padding-top: 70px;

	.container {
		margin-bottom: 120px;
	}

	h2 {
		margin-bottom: 66px;
	}

	.i-shop {
		padding-top: 1px;
		display: flex;
		flex-wrap: wrap; 
		align-items: flex-start;

		&__item {
			margin-top: -1px;
			display: flex;
			align-items: center;
			width: 50%;

			&:hover {
				color: inherit;
			}

			@media(max-width: 800px) {
				width: 100%;
			}
		}

		&__img {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 165px;
			height: 100px;
			border: 1px solid #E4E4E4;

			img {
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}

		&__info {
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 20px;
			padding-left: 16px;
		}

		&__name {
			font-size: 18px;
			line-height: normal;
			font-weight: bold;
			margin-bottom: 10px;
		}

		&__url {
			color: $color-primary;
		}
	}

	.shop-accordion {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 0 -10px;

		&__col {
			width: 50%;
			padding: 0 10px;

			@media(max-width: 800px) {
				width: 100%;
			}

		}

		&__item {
			border: 1px solid #CFCFCF;
			border-radius: 8px;
			overflow: hidden;
			margin-bottom: 5px;
		}

		&__head {
			user-select: none;
			cursor: pointer;
			height: 50px;
			display: flex;
			align-items: center;
			padding: 10px 15px;
			font-weight: bold;
			font-size: 18px;
			background-color: #F7F7F7;
		}

		&__body {
			display: none;
			border-top: 1px solid #CFCFCF;
			font-size: 18px;
			padding: 10px 15px 15px;

			p {
				margin: 0;
			}

			a {
				color: $color-primary;
			}
		}
	}

	.btn--more {
		width: 190px;
		height: 40px;
		margin: 60px auto 0;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		border: 1px solid $color-primary;
		color: $color-primary;
		font-size: 16px;
		text-decoration: none;
		cursor: pointer;

		transition: color .3s, background-color .3s;

		&:hover {
			color: #fff;
			background-color: $color-primary;
		}
	}
}