.book-test {
	margin-bottom: 30px;

	&:last-child {margin-bottom: 0;}

	&-slide {
		// display: none;

		&:last-child {
			// display: block;
		}
	}

	&__head {
		max-width: 690px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 50px;
		img {
			max-width: 100%;
		}

		.book-test__action-btn {
			cursor: pointer;
			font-family: $value-font-family;
			position: absolute;
			left: 50%;
			margin-left: -97px;
			bottom: -20px;
			display: flex;
			height: 55px;
			background-color: #10ace0;
			border-radius: 27.5px;
			justify-content: center;
			align-items: center;
			color: #fff;
			padding-top: 5px;
			width: 194px;
			border: 1px solid transparent;
			font-weight: 600;
			font-size: 24px;
			outline: none;
			box-shadow: 5px 0 10px 0 rgba(#000, .16);
			transition: all .3s;

			&:hover {
				border-color: #10ace0;
				background-color: #fff;
				color: #10ace0;
			}
		}
	}

	&__content {}

		&__question {
			font-size: 30px;
			line-height: 36px;
			font-weight: bold;
			text-align: center;
			margin-bottom: 30px;
		}

		&__text {
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			margin-bottom: 30px;

			&:last-child {margin-bottom: 0;}

			a {
				color: #10ace0;
			}
		}

	&__form {
		padding-bottom: 30px;

		&-row {
			padding-top: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-btn {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 180px;
			height: 46px;
			border-radius: 23px;
			border: 1px solid #10ace0;
			color: #10ace0;
			padding-top: 2px;
			font-size: 18px;
			margin: 15px;

			&--fill {
				background-color: #10ace0;
				color: #fff;
			}
		}
	}

		&__field {
			max-width: 440px;
			margin: 0 auto;
			position: relative;

			&.error {
				.book-test__input {
					border-color: #ff0000;
					color: #ff0000;

					&::placeholder {color: #ff0000;}
				}

				.book-test__message {
					display: block;
					color: #ff0000;
				}
			}
		}

		&__input {
			width: 100%;
			border-radius: 23px;
			height: 46px;
			padding: 0 30px;
			border: 1px solid #dddddd;
			transition: all .3s;

			&:focus {
				border-color: #10ace0;
			}
		}

		&__message {
			display: none;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: -32px;
			font-size: 14px;
			padding: 0 30px;
		}
	

	&-answers {
		border-radius: 10px;
	}
		&-answer {
			user-select: none;
			cursor: pointer;
			border-top: 1px solid #dddddd;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			font-size: 16px;
			line-height: 18px;
			padding: 16px 20px 12px;
			transition: all .2s;

			&:first-child {border-radius: 10px 10px 0 0;}
			&:last-child {border-radius: 0 0 10px 10px; border-bottom: 1px solid #dddddd;}

			&:hover {
				background-color: #10ace0;
				border-color: #10ace0;
				color: #fff;

				& + .book-test-answer {border-top-color: #10ace0;}
			}

			&:active {
				background-color: #8dd4f1;
				border-color: #8dd4f1;
				color: #fff;

				& + .book-test-answer {border-top-color: #8dd4f1;}
			}
		}


	&-compilation {

		&__flex {
			max-width: 700px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 40px;

			@media(max-width: 760px) {
				justify-content: center;
			}
		}

		&__item {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			width: 25%;
			max-width: 178px;
			min-width: 100px;
			padding: 5px;

			img {
				max-width: 100%;
			}
		}

		&__container {
			overflow: hidden;
			transform-origin: top center;
			transform: scale(.92);
			transition: transform .3s;

			&:hover {
				transform: scale(1);

				.book-test-compilation__more {
					transform: translateY(0);
					visibility: visible;
					opacity: 1;
					transition: visibility 0s 0s, opacity .3s 0s, transform .3s 0s;
				}
			}
		}

		&__img {
			img {max-width: 100%; width: 100%;}
		}

		&__more {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: rgba(#000, .56);
			padding: 10px 20px 15px;
			z-index: 1;
			color: #fff;
			transform: translateY(25%);
			opacity: 0;
			text-align: center;
			visibility: hidden;
			transition: visibility 0s .3s, opacity .3s 0s, transform .3s 0s;

			.btn {
				margin-top: 5px;
				color: #fff;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				font-family: $value-font-family-2;
				font-weight: 100;
				font-size: 14px;
				width: 100%;
				max-width: 138px;
				height: 33px;
				background-color: $color-lightblue;
				border-radius: 16px;
				transition: background-color .3s;

				&:hover {
					background-color: #ff9800;
				}
			}
		}

		&__promo {
			background-color: #10ace0;
			padding: 30px;
		}

		&__text,
		&__discount {
			color: #fff;
			font-size: 25px;
			line-height: normal;
			font-weight: bold;
			margin: 0;
		}

		&__text {
			color: #000;
		}
	}
}