.post-rome-social {
	margin-bottom: 40px;

	&__flex {
		display: flex;
		flex-direction: row-reverse;
		max-width: 614px;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		align-items: center;
		padding-right: 30px;
		border-right: 2px solid #ededed;
	}

	&__item {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #464646;
		font-size: 12px;
		margin-right: 18px;
		border: 1px solid $orange;
		transition: background-color .3s;

		&:last-child {margin-right: 0;}

		.fab {
			position: relative;
			top: 1px;
		}

		&:hover {
			color: #464646;
			background-color: $orange;
		}
	}

	&__text {
		color: #7d7d7d;
		font-size: 26px;
		line-height: 32px;
		font-weight: bold;
		padding-left: 30px;
	}

	@media(max-width: 550px) {
		display: block;

		&__flex {
			display: block;
		}

		&__items {
			padding-right: 0;
			border-right: none;
		}

		&__text {
			font-size: 22px;
			line-height: normal;
			margin-bottom: 20px;
			padding-left: 0;
		}
	}
}