<div class="book-test">
	<!-- Book-test slide -->
	<div class="book-test-slide  book-test-welcome">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-img_1.jpg" alt="">
			<button class="book-test__action-btn">Начнём?</button>
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">При выборе книги на что <br> вы обращаете внимание?</h3>
			<p class="book-test__text">Сегодня вы <a href="#!">кандидат, завтра — ​наниматель</a>. Используйте эти рекомендации, чтобы в обоих случаях чувствовать себя уверенно. Вторая часть рассказывает о профессиях в сфере управления персоналом</p>
			<p class="book-test__text"> и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе. </p>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-img_1.jpg" alt="">
			<button class="book-test__action-btn">Начнём?</button>
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Оставь почту, чтобы получить скидку 30% <br> на все книги издательства «БОМБОРА»</h3>
			<div class="book-test__form">
				<div class="book-test__field  error">
					<input type="text" class="book-test__input" id="book-test-email" placeholder="E-mail">
					<div class="book-test__message">Чтобы продолжить, введи свою почту</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-img_2.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Сколько вам лет?</h3>
			<div class="book-test__form">
				<div class="book-test__field">
					<input type="text" class="book-test__input" id="book-test-age">
				</div>
				<div class="book-test__form-row">
					<button class="book-test__form-btn">Пропустить</button>
					<button class="book-test__form-btn  book-test__form-btn--fill">Продолжить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_1.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">При выборе книги на что <br> вы обращаете внимание?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">На стиль обложки</div>
				<div class="book-test-answer">Конечно, имя автора</div>
				<div class="book-test-answer">Покапаю книги в интернете, поэтому ориентируюсь только на описание</div>
				<div class="book-test-answer">Цена. Если дорого, не куплю даже хорошо оформленную и интересную книгу</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_2.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Какие черты характера вы цените в себе больше всего?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Доброту и искренность</div>
				<div class="book-test-answer">Внимательность и организованность</div>
				<div class="book-test-answer">Активность и целеустремленность</div>
				<div class="book-test-answer">Любознательность и любопытство</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_3.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Чем вы любите заниматься в свободное время?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Домашними делами</div>
				<div class="book-test-answer">Готовлю что-нибудь новенькое и вкусное для своих близких</div>
				<div class="book-test-answer">Хожу в кино, театры и на выставки</div>
				<div class="book-test-answer">Уходом за собой</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_4.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Что для вас книга?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Способ приятно провести время. Например, мне нравятся поэзия</div>
				<div class="book-test-answer">Люблю, когда книга захватывает. Всегда выбирают душещипательные истории</div>
				<div class="book-test-answer">Для меня книга – новые знания, возможности и мотивация. Зачастую, читаю то, что поможет мне развить те или иные качества</div>
				<div class="book-test-answer">Ничего из перечисленного. Книги для меня – нечто другое</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_5.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Какой жанр фильма для просмотра вы выберете?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Мелодраму</div>
				<div class="book-test-answer">Документальное кино о космосе или животном мире</div>
				<div class="book-test-answer">Фильм, основанный на реальных событиях</div>
				<div class="book-test-answer">Комедию</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_6.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Вы отправились в путешествие. Что выбрать почитать в дороге?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Почитаю и том месте, куда я еду. Нужно подобнее узнать, что посетить на отдыхе </div>
				<div class="book-test-answer">Лучше возьму с собой ноутбук и поработаю, чтобы не терять это время впустую </div>
				<div class="book-test-answer">Возьму почитать какой-нибудь роман</div>
				<div class="book-test-answer">Ничего из перечисленного. Лучше посплю или послушаю музыку</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_7.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Скажи, что ты ешь, а я скажу, что тебе почитать?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Люблю пробовать разные кухни мира. Всегда во время путешествия не упускаю возможность отведать местные блюда</div>
				<div class="book-test-answer">Люблю готовить сам(а). Когда я готовлю, чувствую себя художником</div>
				<div class="book-test-answer">Я за ПП. Нужно держать себя в форме</div>
				<div class="book-test-answer">Вегетарианское меню – мое все</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_8.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Как вы относитесь к прикладной литературе?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Зачастую, я читаю книги, которые мне помогут в бизнесе</div>
				<div class="book-test-answer">Полезно знать, как работает мой организм. Повезло, что есть много полезных и легко изложенных книг об этом </div>
				<div class="book-test-answer">Не отказался/ась бы от новой хорошей книги с рецептами</div>
				<div class="book-test-answer">Прикладная литература не для меня. Книги мне нужны для расслабления</div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Question template -->
	<!-- Book-test slide -->
	<div class="book-test-slide">
		<div class="book-test__head">
			<img src="/assets/img/book-test/book-test-question-img_9.jpg" alt="">
		</div>
		<div class="book-test__content">
			<h3 class="book-test__question">Как вы относитесь к ЗОЖ?</h3>
			<div class="book-test-answers">
				<div class="book-test-answer">Стараюсь правильно питаться и заниматься спортом</div>
				<div class="book-test-answer">Я вегетарианец! И этим все сказано</div>
				<div class="book-test-answer">Спортом не всегда получается заниматься, но ЗОЖ мне не безразличен. Недавно прочитал/(а) книгу «Очаровательный кишечник». Там много полезных советов</div>
				<div class="book-test-answer">«ЗОЖ – это вообще №#&@%» © Ленинград </div>
			</div>
		</div>
	</div>
	<!-- End of book-test slide -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>

	<!-- Book-test compilation -->
	<div class="book-test-compilation">
		<div class="book-test-compilation__flex">
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="https://placehold.it/168x208" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="https://placehold.it/168x308" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="https://placehold.it/208x208" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="https://placehold.it/208x208" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
			<div class="book-test-compilation__item">
				<div class="book-test-compilation__container">
					<div class="book-test-compilation__img"><img src="/assets/img/book.png" alt=""></div>
					<div class="book-test-compilation__more">
						<a href="#!" class="btn">Купить</a>
					</div>
				</div>
			</div>
		</div>
		<div class="book-test-compilation__promo">
			<div class="book-test-compilation__discount">Скидка 30%</div>
			<p class="book-test-compilation__text">по промокоду БОМБОРА на сайте book24.ru</p>
		</div>
	</div>
	<!-- End of book-test compilation -->
</div>
<script src="/assets/js/components/book-test.js"></script>