<!-- Section: Header -->
<header class="section header style-home">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="inner">

					<!-- Logo -->
					<div class="logo">
						<a href="#.">
							<img src="/assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- End of Logo -->

					<!-- Navigation -->
					<div class="navigation">
						<ul>
							<li><a href="#.">Об издательстве</a></li>
							<li><a href="#.">События</a></li>
							<li><a href="#.">Блог</a></li>
							<li><a href="#.">Книги</a></li>
						</ul>
					</div>
					<!-- End of Navigation -->

					<!-- Search Form -->
					<div class="search-form">
						<div class="ui form-field style-search">
							<button type="submit"><i class="ion-ios-search"></i></button>
							<input type="search" name="s" placeholder="Для поиска введите значение книги или автора">
						</div>
					</div>
					<!-- End of Search Form -->

				</div>
			</div>
		</div>
	</div>
</header>
<!-- End of Section: Header -->