<div class="post-media">


	<!-- Post-media Books List -->
	<h2>По материалам книг</h2>
	<div class="books-list">
		<div class="books-list__item">
			<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a href="#!">
			<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
			<div class="books-list__author">Джина Риппон</div>
			<a href="#!" class="books-list__btn">Купить</a>
		</div>
		<div class="books-list__item">
			<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a href="#!">
			<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
			<div class="books-list__author">Джина Риппон</div>
			<a href="#!" class="books-list__btn">Купить</a>
		</div>
		<div class="books-list__item">
			<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a href="#!">
			<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
			<div class="books-list__author">Джина Риппон</div>
			<a href="#!" class="books-list__btn">Купить</a>
		</div>
	</div>
	<!-- End of Post-media Books List -->

	<!-- Post-media Book -->
	<div class="book">
		<div class="info">
			<div class="series">Серия - Большая наука</div>
			<div class="name">ЭВОЛЮЦИЯ РАЗУМА</div>
			<div class="author">Рэй Курцвейл</div>
		</div>
		<div class="book-container">
			<div class="book-cover"><img src="/assets/img/book.png" alt=""></div>
			<div class="price">
				<span class="price__discount">Скидка 35%</span>
				<div class="price__row">
					<span class="price__old">575 p.</span>
					<span class="price__value">447 p.</span>
				</div>

				<a href="#!" class="btn">Купить</a>
			</div>
		</div>
		<div class="text">
			<p>Заставляет по другому смотреть на совершенно привычные вещи в жизни. Неужели действительно грядет время, когда искусственный интеллект будет властвовать во всех сферах жизни людей? И если это случится, должно ли это нас пугать? О бесконечных возможностях нашего разума эта книга.</p>
			<p>Заставляет по другому смотреть на совершенно привычные вещи в жизни. Неужели действительно грядет время, когда искусственный интеллект будет властвовать во всех сферах жизни людей? И если это случится, должно ли это нас пугать? О бесконечных возможностях нашего разума эта книга.</p>
		</div>
	</div>
	<!-- End of Post-media Book -->

	<!-- Post-media Slider -->
	<div class="post-slider">
		<!-- Section head -->
		<div class="section-head">
			<div class="container">
				<div class="inner">
					<div class="title">
						<h2>Похожие книги</h2>
					</div>
					<div class="actions">
						<div class="action">
							<a href="#.">Посмотреть все</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Section head -->
		<div class="section items-carousel-wrapper">
			<div class="slick-carousel items-carousel-slick">
				//@@for(var i = 0; i < 10; i++) {
					<div class="ui card style-product">
						<div class="item">
							<div class="book-cover"><img src="https://placehold.it/200x320" alt=""></div>
							<div class="price">
								<span class="price__discount">Скидка 35%</span>
								<div class="price__row">
									<span class="price__old">575 p.</span>
									<span class="price__value">447 p.</span>
								</div>

								<a href="#!" class="btn">Купить</a>
							</div>
						</div>
						<div class="title">
							<h3><a href="#.">Как говорить, чтобы дети слушали, как слушать, что...</a></h3>
						</div>
						<div class="author">
							<a href="#.">Фабер А.</a>,
							<a href="#.">Мазлиш Э.</a>
						</div>
					</div>
				}
			</div>
			<div class="items-carousel-slick-arrows"></div>
		</div>
	</div>
	<!-- End of Post-media Slider -->

	<!-- Post-media Book pages -->
	<div class="book-pages  js-book-pages-simplescroll">
		<div class="book-pages__heading">Развороты книги</div>
		<div class="book-pages__container">
			<div class="arrows">
				<div class="arrow left"><i class="ion ion-ios-arrow-left"></i></div>
				<div class="arrow right"><i class="ion ion-ios-arrow-right"></i></div>
			</div>
			<div class="area">
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
				<div class="item">
					<img src="/assets/img/book-pages.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- End of Post-media Book pages -->

	<!-- Post-media Audio -->
	<div class="block-audio">
		<div class="audio-container">
			<audio id="sound" preload="true">
				<source src="http://www.lukeduncan.me/oslo.mp3">
			</audio>
			<div class="icon"><i class="fas fa-volume-up"></i></div>
			<div id="audioplayer">
				<div class="player-container">
					<button id="pButton" class="play-button  play">
						<i class="fa fa-play" aria-hidden="true"></i>
						<i class="fa fa-pause" aria-hidden="true"></i>
					</button>
					<div id="timeline">  
						<div class="progress"></div>  
						<div id="playhead"></div>
					</div>
					<div class="time">
						<span class="current">0:00</span>
						/
						<span class="duration">0:00</span>
					</div>
				</div>
			</div>
		</div>
		<div class="audio-info">
			<div class="name">Отрывок из аудио-книги «Эволюция разума» </div>
			<div class="line">
				<div class="author">Рэй Курцвейл</div>
				<span class="separator">/</span>
				<p>Серия: <a href="#!">Большая наука.</a></p>
			</div>
		</div>
	</div>
	<!-- End of Post-media Audio -->

	<!-- Post-media Quote Author -->
	<div class="quote-author">
		<div class="widget-head">
			<div class="widget-title">Автор книги</div>
		</div>
		<div class="name">Инди Гогохия</div>
		<div class="quote">
			<div class="photo"><img src="/assets/img/photo.png" alt=""></div>
			<blockquote>Значение имеет скорость внедрения информации</blockquote>
		</div>
	</div>
	<!-- End of Post-media Quote Author -->

	<!-- Post-media Block Author -->
	<div class="block-author">
		<div class="photo"><img src="/assets/img/photo_girl.png" alt=""></div>
		<div class="info">
			<div class="name">Инди Гогохия</div>
			<div class="subtitle">Информация об авторе</div>
			<div class="text">
				<p>Принимая во внимание показатели успешности, постоянный количественный рост и сфера нашей активности требует от нас анализа поставленных обществом задач. Банальные, но неопровержимые выводы, а также диаграммы связей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть функционально разнесены на независимые элементы.</p>
				<p>Современные технологии достигли такого уровня, что семантический разбор внешних противодействий обеспечивает широкому кругу (специалистов) участие в формировании приоретизации разума над эмоциями. И нет сомнений, что акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут ассоциативно распределены по отраслям. Господа, социально-экономическое развитие требует определения и уточнения форм воздействия.</p>
			</div>
			<a href="#!" class="author-social"><i class="fab fa-instagram"></i> @gogosh_a</a>
		</div>
	</div>
	<!-- End of Post-media Block Author -->

	<!-- Post-media Block Video -->
	<div class="block-video">
		<div class="head">
			<div class="icon"><i class="fas fa-film"></i></div>
			<div class="heading">Видеоблогер Аня Иванова рассказывает ок новинках осени</div>
		</div>
		<div class="block-video-container">
			<iframe src="https://www.youtube.com/embed/qanIMG7xKfc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
	<!-- End of Post-media Block Video -->
</div>