<!-- Section: Section -->
<section class="section default-padding">

	<!-- Section head -->
	<div class="section-head">
		<div class="container">
			<div class="inner">
				<div class="title">
					<h2>Новинки</h2>
				</div>
				<div class="actions">
					<div class="action">
						<a href="#.">Посмотреть все</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Section head -->

	<!-- Section body -->
	<div class="container">
		<div class="section items-carousel-wrapper">
			<div class="slick-carousel items-carousel-slick">
				//@@for(var i = 0; i < 10; i++) {
					//@@include('ui-card-style-product.html')
				}
			</div>
			<div class="items-carousel-slick-arrows"></div>
		</div>
	</div>
	<!-- End of Section body -->

</section>
<!-- End of Section: Section -->