<!-- Section: Related Posts -->
<section class="section related-posts">

	<!-- Section head -->
	<div class="section-head">
		<div class="inner">
			<div class="title">
				<h2>Вам может понравиться</h2>
			</div>
		</div>
	</div>
	<!-- End of Section head -->

	<div class="row -mb-default">
		//@@for (var i = 0; i < 3; i++) {
		<div class="col-12 col-lg-4 mb-default">
			<div class="ui post style-post-card">
				<div class="image" style="background-image: url('//placehold.it/400x400')">
					<img src="//placehold.it/400x400" alt="">
				</div>
				<div class="meta">
					<div class="date">21 Июня 2017</div>
					<div class="category">
						<a href="#.">Интервью</a>
					</div>
				</div>

				<div class="title">
					<a href="#.">Игорь Кехтер: « Практически составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. </a>
				</div>
			</div>
		</div>
		}
	</div>
</section>
<!-- End of Section: Related Posts -->