<section class="section product">

	<!-- Widget -->
	<div class="ui widget style-product-images-carousel mb-default-2 d-md-none">

		<!-- General -->
		<div class="section items-carousel-wrapper">
			<div class="slick-carousel items-carousel-slick-4">
				//@@for(var i = 0; i
				< 2; i++) { <img src="//placehold.it/310x370" alt="">
					}
			</div>
		</div>
		<!-- End of General -->

		<!-- Small -->
		<div class="section items-carousel-wrapper style-image">
			<div class="slick-carousel items-carousel-slick-5">
				//@@for(var i = 0; i
				< 2; i++) { <div class="image" style="background-image: url('http://cdn.eksmo.ru/v2/ITD000000000848743/COVER/cover3d.jpg')">
					<img src="//placehold.it/370x140" alt="">
			</div>
			}
		</div>
		<div class="items-carousel-slick-arrows style-small"></div>
	</div>
	<!-- End of Small -->

	</div>
	<!-- End of Widget -->

	<!-- Info -->
	<div class="info">
		<div class="top">
			<div class="meta">
				<h1 class="title">Просто о лучших винах. Бдф лвцф вцф цфвфц вфц цвфв фцвцф вцф вцф вцф вфц цф
					<br>Новая энциклопедия
				</h1>
				<h2 class="author">
					<a href="#.">Татьяна Баскина</a>
				</h2>
				<div class="ui tags style-simple">
					<span>Серия:</span>
					<a href="#.">Бизнес.</a>
					<a href="#.">Книги про еду.</a>
					<a href="#.">Лучший мировой опыт.</a>
				</div>
			</div>
			<div class="publisher">
				<img src="https://i.imgur.com/72LwMg3.png" alt="">
			</div>
		</div>
		<div class="book-type">
			<a href="#!" class="book-type__btn  active">
				<span class="book-type__price">525 р.</span>
				<p>Твердый <br> переплет</p>
			</a>

			<span class="book-type__btn  book-type__btn--audio">
				<a href="#!" class="book-type__link">
					<span class="book-type__price">525 р.</span>
					<p>Цифровая <br> аудиокнига</p>
				</a>
				<span class="book-type__audio-btn">
					<span class="icon">
						<svg class="icon-play" width="14" height="16" viewBox="0 0 14 16"><path d="M186.714,153.135l-12.4,7.2a.8.8,0,0,1-.8,0,.805.805,0,0,1-.4-.7V145.243a.805.805,0,0,1,.4-.7.8.8,0,0,1,.8,0l12.4,7.2a.807.807,0,0,1,0,1.394Z" transform="translate(-173.115 -144.438)" fill="#a3a4a7"/></svg>
						<svg class="icon-pause" width="357px" height="357px" viewBox="0 0 357 357"><path d="M25.5 357h102V0h-102v357zm204-357v357h102V0h-102z" fill="#a3a4a7"/></svg>
					</span>
					<span class="circle">
						<svg>
							<path class="round-progress" d="M 26,26 m 0,-24 a 24,24 0 1 1 0,48 a 24,24 0 1 1 0,-48" fill-opacity="0"></path>
						</svg>
					</span>					
				</span>
			</span>

			<div class="book-type__audio-demo">
				<audio id="book-demo" preload="true" controls>
					<source src="http://www.lukeduncan.me/oslo.mp3">
				</audio>
			</div>
		</div>

<!-- 		<div class="price">
			<span class="price__discount">Скидка 35%</span>
			<span class="price__old">10 000 p.</span>
			<span class="price__value">6 500 p.</span>
		</div>
		<div class="buy">
			<a href="#!" class="ui button style-default  book-type-link">Купить</a>
			<button type="button" class="ui button style-default">Купить</button>
		</div> -->
		<div class="desc">
			<p class="description">
				Эта книга поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и
				провайдерах HR-услуг. Первая часть содержит всевозможные "полезности" для результативного поиска работы.
			</p>
			<p class="description-2">
				Сегодня вы кандидат, завтра — ​наниматель. Используйте эти рекомендации, чтобы в обоих случаях чувствовать себя уверенно.
				Вторая часть рассказывает о профессиях в сфере управления персоналом и кадровой индустрии. Если вы далеки от HR, расширьте
				кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей...
			</p>
			<a href="#." class="more">Подробнее</a>
		</div>
		<div class="bottom-tags">
			<div class="ui tags style-default">
				<a href="#.">Семья</a>
				<a href="#.">Экономика</a>
				<a href="#.">Психология</a>
				<a href="#.">Доча</a>
				<a href="#.">Кухня</a>
				<a href="#.">Красота</a>
			</div>
		</div>
	</div>
	<!-- End of Info -->

	<!-- Tabs -->
	<div class="tabs">
		<div class="ui tabs style-default">
			<div class="navigation-tabs" data-tabs-content="product-tabs">
				<div class="navigation-tab is-active">Отзывы читателей</div>
				<div class="navigation-tab">О книге</div>
				<div class="navigation-tab">Публикации о книге</div>
			</div>
			<div class="content-tabs" data-tabs-content="product-tabs">
				<div class="content-tab is-active -mb-default-2">
					//@@for(var i = 0; i
					< 3; i++) { <div class="ui comment style-product mb-default-2">
						<div class="comment">
							<div class="info">
								<div class="image" style="background-image: url('//placehold.it/150x150')">
									<img src="//placehold.it/150x150" alt="">
								</div>
								<div class="meta">
									<div class="name">Буксим Дмитрий</div>
									<div class="date">27 дек, 2018</div>
								</div>
								<div class="ui rating">
									<span>Рейтинг</span>
									<div class="stars">
										<a href="#." class="active">
											<i class="fa fa-star"></i>
										</a>
										<a href="#." class="active">
											<i class="fa fa-star"></i>
										</a>
										<a href="#." class="active">
											<i class="fa fa-star"></i>
										</a>
										<a href="#." class="active">
											<i class="fa fa-star"></i>
										</a>
										<a href="#.">
											<i class="fa fa-star"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, corporis cupiditate dolorum eaque enim error eveniet
									exercitationem illo incidunt ipsam itaque laboriosam possimus quaerat reiciendis rem repudiandae saepe sit voluptas!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda, dolores iste labore maiores
									nam nisi non quas quis? Aliquid cupiditate exercitationem ipsum minima necessitatibus quae quam unde voluptatibus!</p>
							</div>
							<div class="like">
								<a href="#.">Нравится</a>
							</div>
						</div>
				</div>
				}
			</div>
			<div class="content-tab">
				2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at consequatur delectus doloribus ducimus eius eos et facilis
				fugit laudantium, nesciunt nihil nisi quaerat quasi quis quos repellendus temporibus unde!
			</div>
			<div class="content-tab">
				<div class="ui widget style-product-widgets">
					<div class="widget">
						<a href="#." target="_blank">
							<img src="//placehold.it/300x300" alt="">
						</a>
					</div>
					<div class="widget">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/WkJg0mm_x-U" frameborder="0" allow="autoplay; encrypted-media"
						 allowfullscreen></iframe>
					</div>
					<div class="widget">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/WkJg0mm_x-U" frameborder="0" allow="autoplay; encrypted-media"
						 allowfullscreen></iframe>
					</div>
					<div class="widget">
						<img src="//placehold.it/300x400" alt="">
					</div>
					<div class="widget">
						<img src="//placehold.it/300x250" alt="">
					</div>
					<div class="widget">
						<img src="//placehold.it/300x150" alt="">
					</div>
					<div class="widget">
						<img src="//placehold.it/300x500" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End of Tabs -->

</section>