<!-- Section: Publisher Hero -->
<section class="section publisher-hero color-pink-2" style="background-image: url('https://i.imgur.com/Z1zIOjP.png')">
	<div class="container">
		<div class="image">
			<img src="https://i.imgur.com/Z1zIOjP.png" alt="">
		</div>
		<div class="info">
			<div class="logo d-none d-md-block">
				<img src="/assets/img/publishers/arte.png" style="width: 50px;" alt="">
			</div>
			<h1 class="title">Издательство<br>Арте</h1>
			<div class="subtitle">Чувство прекрасного</div>
			<p class="description">«АРТЕ» — это коллекции блокнотов, ежедневников, закладок и всего, что сделает ваше рабочее пространство уютным. Окружите себя вещами, которые радуют глаз, помогают сконцентрироваться на главном
				и организовать свои мысли.</p>
			<div class="links">
				<a href="#." target="_blank">my-arte.ru</a>
			</div>
		</div>
	</div>
</section>
<!-- End of Section: Publisher Hero -->