<!-- Section: Section -->
<section class="section style-center-title after-subscribe default-padding-inner style-bg-gray">

  <!-- Section head -->
  <div class="section-head">
    <div class="container">
      <div class="inner">
        <div class="title">
          <h2><a href="#.">Встречи и события</a></h2>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Section head -->

  <!-- Section body -->
  <div class="container">
    <div class="section items-carousel-wrapper">
      <div class="slick-carousel items-carousel-slick-2">
        //@@for(var i = 1; i <= 10; i++) {
        <div class="ui card style-post">
          <a href="#." class="image  decor  decor--`+i+`">
            <img src="//placehold.it/370x140" alt="">
          </a>
          <div class="inner">
            <div class="date">24 Декабря, 2016</div>
            <div class="title">
              <h3><a href="#.">Не только оливье. 15 сборников рецептов салатов и закусок</a></h3>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                <a href="#.">...</a></p>
            </div>
            <div class="more">
              <a href="#.">Читать далее</a>
            </div>
          </div>
        </div>
        }
      </div>
      <div class="items-carousel-slick-arrows"></div>
    </div>
  </div>
  <!-- End of Section body -->

</section>
<!-- End of Section: Section