<!-- Section: Subscribe -->
<section class="section subscribe-block-section">
  <div class="container">
    <div class="inner">
      <div class="subscribe-block">
        <div class="subscribe-block__content">
          <div class="subscribe-block__img">
            <img class="d-none d-md-block" src="/assets/img/subscribe/subscribe-img_1.png" srcset="/assets/img/subscribe/subscribe-img_1@2x.png 2x" alt="">
            <img class="d-block d-md-none" src="/assets/img/subscribe/subscribe-img-min_1.png" srcset="/assets/img/subscribe/subscribe-img-min_1@2x.png 2x" alt="">
          </div>
          <div class="subscribe-block__info">
            <div class="subscribe-block__title">Все книжные новинки в твоей почте!</div>
            <p class="subscribe-block__text">Для самых занятых — наши главные новые книги в одном письме. Ровно раз в месяц.</p>
            <form id="form-subscribe" class="subscribe-block__form">
              <div class="subscribe-block__form-row">
                <input type="text" placeholder="Введите адрес электронной почты">
                <button type="submit" class="btn btn-fill form-submit">Подписаться</button>
              </div>
              <div class="ui form-field style-default mt-3">
                <input type="checkbox" id="is-right-5">
                <label for="is-right-5"><span>Согласен с политикой <a href="#!">конфиденциальности</a></span></label>
              </div>
            </form>
            <p class="subscribe-block__note mb-0"><span>Пссс. Парень. У нас есть тематические книжные рассылки!</span> <a href="#!"><b>Настроить</b></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section: Subscribe -->
<!-- Section: Subscribe Second State -->
<!--<section class="section subscribe-block-section">-->
<!--  <div class="container">-->
<!--    <div class="inner">-->
<!--      <div class="subscribe-block">-->
<!--        <div class="subscribe-block__content">-->
<!--          <div class="subscribe-block__img">-->
<!--            <img class="d-none d-md-block" src="/assets/img/subscribe/subscribe-img_2.png" srcset="/assets/img/subscribe/subscribe-img_2@2x.png 2x" alt="">-->
<!--            <img class="d-block d-md-none" src="/assets/img/subscribe/subscribe-img-min_2.png" srcset="/assets/img/subscribe/subscribe-img-min_2@2x.png 2x" alt="">-->
<!--          </div>-->
<!--          <div class="subscribe-block__info">-->
<!--            <div class="subscribe-block__title">Вы подписаны!</div>-->
<!--            <p class="subscribe-block__text">Отправили самый последний список новых книг на почту …@... Дальше письма будут приходить в начале каждого месяца.</p>-->
<!--            <p class="subscribe-block__text bold">Посмотрите наши тематические книжные рассылки или настройте частоту писем.</p>-->
<!--            <a href="#!" class="btn">НАСТРОЙКИ РАССЫЛКИ</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- End of Section: Subscribe -->