//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- SVG sprite -->
<svg width="0" height="0" style="position:absolute">
    <symbol viewBox="0 0 18 24" id="b2b-menu-icon1">
        <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
                <path fill="#EA573F" d="M17.78 22.971c0 .568-.454 1.029-1.014 1.029H1.014C.454 24 0 23.54 0 22.971V3.314a1.02 1.02 0 0 1 1.014-1.028h15.752c.56 0 1.014.46 1.014 1.028v19.657z"></path>
                <path fill="#EB5F23" d="M1.69 21.08h16.013c.05-.122.077-.255.077-.394V1.029C17.78.46 17.326 0 16.766 0H1.014C.454 0 0 .46 0 1.029v19.657a1.02 1.02 0 0 0 1.014 1.028h.676v-.635z"></path>
                <path fill="#FFD021" d="M16.766 0H9.641v21.08h8.062c.05-.122.077-.255.077-.394V1.029C17.78.46 17.326 0 16.766 0z" opacity=".7"></path>
                <path fill="#5E3027" d="M1.878 0h-.864C.454 0 0 .46 0 1.029V22.97C0 23.54.454 24 1.014 24h.864V0z"></path>
                <path fill="#FFF" d="M17.092 21.08H1.69c-.587 0-1.064.483-1.064 1.079s.477 1.08 1.064 1.08h15.402v-2.16z"></path>
            </g>
            <path fill="#FFF" d="M6.485 4.605c.113.04.2.101.26.182.059.08.089.179.089.295a.509.509 0 0 1-.215.432c-.143.106-.345.159-.606.159H4.936V3.636h1.022c.25 0 .443.047.58.14a.448.448 0 0 1 .206.393.48.48 0 0 1-.259.436zm-.881-.186h.288c.111 0 .167-.05.167-.148 0-.103-.056-.155-.167-.155h-.288v.303zm.377.774c.111 0 .167-.055.167-.163 0-.105-.056-.157-.167-.157h-.377v.32h.377zm2.517.125h-.766l-.135.355h-.691l.88-2.037h.67l.88 2.037h-.702l-.136-.355zm-.187-.495l-.196-.512-.196.512h.392zm4.026-1.187v2.037H9.524V3.636h.668V5.14h.406V3.636h.668V5.14h.403V3.636h.668zm1.78 1.682h-.766l-.135.355h-.692l.882-2.037h.668l.881 2.037h-.703l-.135-.355zm-.187-.495l-.196-.512-.196.512h.392zM6.12 7.898l.597 1.047h-.766l-.386-.736h-.19v.736h-.68V6.91h.68v.76h.207l.43-.76h.708l-.6.99zm2.725-.989v2.036h-.68v-.75h-.627v.75h-.68V6.91h.68v.722h.628V6.91h.68zm.357 0h.669v1.059l.694-1.059h.639v2.036h-.668V7.89l-.691 1.056h-.643V6.91zm3.894.532h-.867v1.504h-.668V6.91h1.535v.532zm1.244 1.15h-.766l-.135.354h-.691l.881-2.036h.668l.881 2.036h-.702l-.136-.354zm-.187-.495l-.196-.512-.196.512h.392zM7.56 16.927v1.782h-.403v-1.446h-.605l-.012.372a3.835 3.835 0 0 1-.06.615.764.764 0 0 1-.16.361.398.398 0 0 1-.314.126.9.9 0 0 1-.202-.028l.025-.349c.022.007.046.01.073.01.098 0 .166-.058.204-.174.04-.116.063-.298.073-.546l.026-.723H7.56zm1.427 1.813c-.183 0-.348-.04-.495-.12a.883.883 0 0 1-.47-.802.883.883 0 0 1 .47-.802c.147-.08.312-.12.495-.12s.348.04.494.12a.894.894 0 0 1 .471.802.9.9 0 0 1-.47.802c-.147.08-.312.12-.495.12zm0-.352a.555.555 0 0 0 .282-.072.518.518 0 0 0 .198-.203.6.6 0 0 0 .072-.295.6.6 0 0 0-.072-.295.518.518 0 0 0-.198-.202.555.555 0 0 0-.282-.073.555.555 0 0 0-.282.073.518.518 0 0 0-.198.202.6.6 0 0 0-.072.295.6.6 0 0 0 .072.295.518.518 0 0 0 .198.203.555.555 0 0 0 .282.072zm2.667-1.125h-.84l.003 1.446h-.406v-1.782h1.245l-.002.336zm1.237 1.477c-.183 0-.348-.04-.495-.12a.883.883 0 0 1-.47-.802.883.883 0 0 1 .47-.802c.147-.08.312-.12.495-.12s.348.04.494.12a.894.894 0 0 1 .471.802.9.9 0 0 1-.47.802c-.147.08-.312.12-.495.12zm0-.352a.555.555 0 0 0 .283-.072.518.518 0 0 0 .197-.203.6.6 0 0 0 .072-.295.6.6 0 0 0-.072-.295.518.518 0 0 0-.197-.202.555.555 0 0 0-.283-.073.555.555 0 0 0-.282.073.518.518 0 0 0-.198.202.6.6 0 0 0-.072.295.6.6 0 0 0 .072.295.518.518 0 0 0 .198.203.555.555 0 0 0 .282.072z"></path>
        </g>
    </symbol>
    <symbol viewBox="0 0 35 24" id="b2b-menu-icon2">
        <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
                <path fill="#1CA5B0" d="M16.52 21.12c0 .52-.423.94-.943.94H.942A.941.941 0 0 1 0 21.12V3.122c0-.52.422-.94.942-.94h14.635c.52 0 .942.42.942.94V21.12z"></path>
                <path fill="#1CA5B0" d="M1.588 19.33h14.876a.934.934 0 0 0 .072-.36V1a.942.942 0 0 0-.942-.94H.96A.941.941 0 0 0 .018 1v17.97c0 .52.422.94.942.94h.628v-.58z"></path>
                <path fill="#FFD021" d="M15.594.06h-6.62v19.27h7.49a.934.934 0 0 0 .072-.36V1a.942.942 0 0 0-.942-.94z" opacity=".7"></path>
                <path fill="#357A91" d="M1.763.06H.96A.941.941 0 0 0 .018 1v20.06c0 .519.422.94.942.94h.803V.06z"></path>
                <path fill="#FFF" d="M15.896 19.33H1.588a.988.988 0 1 0 0 1.974h14.308V19.33z"></path>
            </g>
            <path fill="#FFF" fill-rule="nonzero" d="M3.644 2.909h10.689V4H3.644z"></path>
            <path fill="#EB5F23" fill-rule="nonzero" d="M2.447 20.424v3.515l.728-.606.608.606v-3.515z"></path>
            <g transform="translate(3.887 5.818)">
                <ellipse cx="5.102" cy="5.091" fill="#FFF" fill-rule="nonzero" rx="5.102" ry="5.091"></ellipse>
                <path fill="#FFF6DD" fill-rule="nonzero" d="M5.119.06c-.04 0-.081.003-.122.004v10.175c.04.001.081.003.122.003a5.096 5.096 0 0 0 5.101-5.09A5.096 5.096 0 0 0 5.12.06z"></path>
                <path fill="#357A91" d="M2.593 5.11l.492.853h-.633l-.318-.599h-.157v.599h-.562V4.306h.562v.618h.17l.355-.618h.585l-.494.805zM4.036 6c-.179 0-.34-.036-.482-.11a.835.835 0 0 1-.457-.755.835.835 0 0 1 .457-.755c.142-.074.303-.111.482-.111.18 0 .34.037.483.11a.835.835 0 0 1 .457.755.835.835 0 0 1-.457.755 1.032 1.032 0 0 1-.483.112zm0-.451a.36.36 0 0 0 .324-.196.458.458 0 0 0 .05-.218.458.458 0 0 0-.05-.22.36.36 0 0 0-.323-.195.36.36 0 0 0-.324.196.458.458 0 0 0-.05.219c0 .083.017.156.05.218a.36.36 0 0 0 .323.195zm3.274-.422a.65.65 0 0 1-.22.517c-.145.127-.358.2-.637.22v.184H5.94V5.86c-.28-.024-.493-.098-.638-.222a.638.638 0 0 1-.218-.512c0-.216.073-.386.218-.51.145-.123.358-.197.638-.22v-.173h.514v.172c.28.02.494.094.639.22a.642.642 0 0 1 .218.511zm-.857.301a.424.424 0 0 0 .24-.096c.05-.048.074-.117.074-.207 0-.088-.025-.156-.075-.203a.433.433 0 0 0-.239-.095v.601zm-.828-.3a.26.26 0 0 0 .078.2.45.45 0 0 0 .236.098v-.597c-.112.016-.193.047-.241.094-.048.046-.073.115-.073.204zm3.269.414v.42H7.509V4.307h1.354v.422H8.06v.194h.704v.402H8.06v.218h.833z"></path>
            </g>
            <g fill-rule="nonzero">
                <path fill="#936644" d="M21.81 8.148h10.625v1.629H21.81z"></path>
                <path fill="#C69C6C" d="M21.357 8.148h10.58v1.629h-10.58z"></path>
                <path d="M26.387 8.148h5.55v1.629h-5.55zm-2.65 14.065h10.58L32.435 9.777h-10.58z" fill="#AA805B"></path>
                <path fill="#DBB086" d="M30.055 22.213h-10.58l1.882-12.436h10.58z"></path>
                <path fill="#C69C6C" d="M31.937 9.777h-5.55v12.436h3.668z"></path>
                <path fill="#AB6A50" d="M26.866 17.235A3.239 3.239 0 0 1 23.624 14c0-.575.467-1.04 1.043-1.04a3.239 3.239 0 0 1 3.242 3.235c0 .574-.467 1.04-1.043 1.04z"></path>
                <path fill="#854830" d="M26.387 13.453V17.2c.157.023.316.035.479.035.576 0 1.043-.466 1.043-1.04a3.23 3.23 0 0 0-1.522-2.742z"></path>
                <path fill="#915A43" d="M26.936 16.697l-2.796-2.79.449-.448 2.796 2.79z"></path>
                <path fill="#5F3817" d="M27.385 16.25l-.998-.996v.896l.549.548z"></path>
            </g>
        </g>
    </symbol>
    <symbol viewBox="0 0 24 24" id="b2b-menu-icon3">
        <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
                <path fill="#1CA5B0" d="M20.468 20.87V1.055C20.468.472 20.003 0 19.43 0h-1.193C17.664 0 17.2.472 17.2 1.055V20.87h3.269z"></path>
                <path fill="#A7D3B2" d="M17.199 1.327h3.269v2.292h-3.27zm0 5.488h3.269v2.171h-3.27zm0 12.365h3.269v1.69h-3.27z"></path>
            </g>
            <g fill-rule="nonzero">
                <path fill="#1CA5B0" d="M17.377 20.779V2.465a.818.818 0 0 0-.811-.825h-1.583a.818.818 0 0 0-.812.825v18.314h3.206z"></path>
                <path fill="#A7D3B2" d="M14.171 4.897h3.206v1.425h-3.206zm0 9.061h3.206v1.324h-3.206zm0 3.665h3.206v3.156h-3.206z"></path>
            </g>
            <g fill-rule="nonzero" transform="translate(2.667 1.548)">
                <path fill="#1CA5B0" d="M4.202 19.45L6.74 1.316a.823.823 0 0 0-.69-.932L3.49.015a.814.814 0 0 0-.917.7L.036 18.847l4.166.602z"></path>
                <path fill="#A7D3B2" d="M5.571 9.672l-.69 4.938-4.166-.601.69-4.939zm.407-2.922l-.127.908-4.166-.602.127-.907zm-1.365 9.776l-.127.907-4.166-.601.127-.908z"></path>
                <ellipse cx="4.29" cy="3.598" fill="#A7D3B2" rx="1" ry="1"></ellipse>
            </g>
            <g fill-rule="nonzero">
                <path fill="#1CA5B0" d="M14.092 20.903V.991c0-.495-.388-.896-.867-.896h-2.76c-.478 0-.866.401-.866.896v19.912h4.493z"></path>
                <path fill="#A7D3B2" d="M9.6 3.888h4.492V5.22H9.599zm0 11.685h4.492v1.333H9.599zm0 2.767h4.492v1.333H9.599zm3.007-4.91c0 .482-.377.872-.842.872h-.017c-.465 0-.842-.39-.842-.871V8.242c0-.48.377-.87.842-.87h.017c.465 0 .842.39.842.87v5.189z"></path>
            </g>
            <path fill="#D99666" d="M0 20.903h24V24H0z"></path>
        </g>
    </symbol>
    <symbol viewBox="0 0 30 24" id="b2b-menu-icon4">
        <g fill="none" fill-rule="evenodd">
            <g fill="#FBBC37" fill-rule="nonzero">
                <path d="M16.26 21.275c0 .556-.446 1.008-.996 1.008H.997c-.55 0-.997-.452-.997-1.008V1.952C0 1.396.446.944.997.944h14.267c.55 0 .997.452.997 1.008v19.323z"></path>
                <path d="M29.968 21.275c0 .556-.446 1.008-.997 1.008H14.704c-.55 0-.997-.452-.997-1.008V1.952c0-.556.447-1.008.997-1.008h14.267c.55 0 .997.452.997 1.008v19.323z"></path>
            </g>
            <path fill="#FBBC37" fill-rule="nonzero" d="M16.932 21.671a1.96 1.96 0 0 1-1.948 1.97 1.96 1.96 0 0 1-1.949-1.97v-1.903a1.96 1.96 0 0 1 1.949-1.97 1.96 1.96 0 0 1 1.948 1.97v1.903z"></path>
            <path fill="#FFECB7" fill-rule="nonzero" d="M.94 2.032h27.818v19.3H.941z" opacity=".5"></path>
            <path fill="#FFF" fill-rule="nonzero" d="M14.974 20.135c-4.859-1.405-8.268-1.404-13.128 0v-18.5c4.863-2.183 8.256-2.124 13.128 0v18.5z"></path>
            <path fill="#FBBC37" fill-rule="nonzero" d="M14.917 20.108h13.371l-.104-18.484-13.267.068z"></path>
            <path fill="#FFF" fill-rule="nonzero" d="M14.904 20.135c4.859-1.405 8.269-1.404 13.128 0v-18.5c-4.862-2.183-8.256-2.124-13.128 0v18.5z"></path>
            <g fill-rule="nonzero" transform="translate(17.167 4.063)">
                <path fill="#CFD8DC" d="M6.073 6.742l-.237-.24.593-.6.237.24a.342.342 0 0 1 0 .48l-.118.12a.333.333 0 0 1-.475 0z"></path>
                <path fill="#263238" d="M8.89 9.586c-.15 0-.3-.058-.414-.174L6.18 6.972c-.229-.233.484-.953.713-.722l2.412 2.322c.23.232.23.608 0 .84a.583.583 0 0 1-.415.174z"></path>
                <ellipse cx="3.691" cy="3.733" fill="#BDBDBD" rx="3.691" ry="3.733"></ellipse>
                <ellipse cx="3.691" cy="3.733" fill="#212121" rx="3.523" ry="3.563"></ellipse>
                <ellipse cx="3.691" cy="3.733" fill="#424242" rx="2.852" ry="2.884"></ellipse>
                <ellipse cx="4.194" cy="4.242" fill="#FFF" rx="2.181" ry="2.206"></ellipse>
                <ellipse cx="5.033" cy="5.09" fill="#FFC107" rx="1" ry="1"></ellipse>
            </g>
            <path fill="#D93133" d="M19.59 15.579v1.755h-.4V15.91h-.6l-.012.366c-.008.249-.028.45-.06.605a.75.75 0 0 1-.159.356.396.396 0 0 1-.31.125.899.899 0 0 1-.2-.028l.024-.344c.022.007.046.01.073.01.096 0 .164-.057.202-.171.038-.115.063-.294.073-.538l.025-.712h1.345zm1.416 1.785c-.182 0-.345-.04-.491-.118a.873.873 0 0 1-.467-.79.873.873 0 0 1 .466-.79c.147-.078.31-.117.492-.117s.345.039.49.117a.884.884 0 0 1 .467.79.882.882 0 0 1-.467.79 1.012 1.012 0 0 1-.49.118zm0-.346a.554.554 0 0 0 .28-.071.512.512 0 0 0 .196-.2.587.587 0 0 0 .071-.29.587.587 0 0 0-.07-.292.512.512 0 0 0-.197-.199.554.554 0 0 0-.28-.071.554.554 0 0 0-.28.071.512.512 0 0 0-.196.2.587.587 0 0 0-.072.29c0 .109.024.206.072.291a.512.512 0 0 0 .196.2.554.554 0 0 0 .28.071zm2.645-1.108h-.832l.002 1.424h-.402v-1.755h1.235l-.003.33zm1.228 1.454c-.181 0-.345-.04-.491-.118a.873.873 0 0 1-.466-.79.873.873 0 0 1 .466-.79c.146-.078.31-.117.491-.117.182 0 .345.039.49.117a.884.884 0 0 1 .468.79.882.882 0 0 1-.468.79 1.012 1.012 0 0 1-.49.118zm0-.346a.554.554 0 0 0 .28-.071.512.512 0 0 0 .196-.2.587.587 0 0 0 .072-.29.587.587 0 0 0-.072-.292.512.512 0 0 0-.196-.199.554.554 0 0 0-.28-.071.554.554 0 0 0-.28.071.512.512 0 0 0-.196.2.587.587 0 0 0-.071.29.58.58 0 0 0 .071.291.512.512 0 0 0 .196.2.554.554 0 0 0 .28.071z"></path>
            <path fill="#FFF6DD" fill-rule="nonzero" d="M14.917 20.108V1.76S13.035.605 10.75.333c0 0 2.687.408 4.166 19.775z"></path>
            <path fill="#8C8677" d="M3.816 4.387v.647h-.374V3.196h.709c.136 0 .257.025.36.076.104.05.183.122.24.215a.605.605 0 0 1 .083.318.53.53 0 0 1-.183.426c-.122.104-.29.156-.506.156h-.329zm0-.307h.335a.333.333 0 0 0 .227-.07.262.262 0 0 0 .078-.203.305.305 0 0 0-.08-.218.292.292 0 0 0-.216-.086h-.344v.577zm2.442.158h-.72v.492h.845v.304H5.164V3.196H6.38v.307h-.841v.438h.719v.297zm.401-1.042h.375V4.73h.727V3.196h.376V4.73h.249l-.025.748h-.35v-.444H6.66V3.196zm3.123 1.042h-.72v.492h.845v.304H8.688V3.196h1.216v.307h-.841v.438h.719v.297zm1.898.796h-.376V3.503h-.727v1.531h-.375V3.196h1.478v1.838zm1.77-1.531h-.557v1.531h-.374V3.503h-.55v-.307h1.48v.307z"></path>
            <path fill="#D9CFB8" fill-rule="nonzero" d="M4.884 6.765h8.14v.412h-8.14zM3.256 8h9.768v1H3.256zm0 1.235h9.768v.412H3.256zm0 1.235h9.768v.412H3.256zm0 1.235h9.768v.411H3.256zm0 1.235h9.768v.411H3.256zm0 1.235h9.768v.411H3.256zm0 1.235h9.768v.411H3.256zm0 1.234h8.14v.412h-8.14z"></path>
        </g>
    </symbol>
    <symbol viewBox="0 0 31 24" id="b2b-menu-icon5">
        <g fill="none">
            <g fill="#1CA5B0">
                <path d="M16.552 21.598c0 .565-.454 1.023-1.015 1.023H1.015A1.02 1.02 0 0 1 0 21.598V1.988C0 1.425.454.967 1.015.967h14.522c.56 0 1.015.458 1.015 1.023v19.609z"></path>
                <path d="M30.504 21.598c0 .565-.454 1.023-1.014 1.023H14.967c-.56 0-1.014-.458-1.014-1.023V1.988c0-.564.454-1.022 1.014-1.022H29.49c.56 0 1.014.458 1.014 1.023v19.609z"></path>
            </g>
            <path fill="#1CA5B0" d="M17.236 22c0 1.105-.888 2-1.984 2a1.992 1.992 0 0 1-1.983-2v-1.931c0-1.105.888-2 1.983-2 1.096 0 1.984.895 1.984 2V22z"></path>
            <path fill="#C5E1D9" d="M.958 2.069h28.315v19.586H.958z"></path>
            <path fill="#FFF" d="M15.243 20.44c-4.947-1.424-8.417-1.424-13.364 0V1.667c4.95-2.215 8.404-2.155 13.364 0v18.775z"></path>
            <path d="M10.053 12.556H4.46a.33.33 0 0 0-.329.332.33.33 0 0 0 .33.332h5.592a.33.33 0 0 0 .329-.332.33.33 0 0 0-.33-.332zm3.618-1.326a.33.33 0 0 0-.329-.332H11.04a.33.33 0 0 0-.33.331.33.33 0 0 0 .33.332h2.302a.33.33 0 0 0 .33-.332zm-7.566.331h3.29a.33.33 0 0 0 .329-.332.33.33 0 0 0-.33-.331H6.106a.33.33 0 0 0-.329.331.33.33 0 0 0 .33.332zm-1.645 0a.338.338 0 0 0 .234-.096.35.35 0 0 0 .095-.236.35.35 0 0 0-.095-.235.346.346 0 0 0-.467 0 .336.336 0 0 0 0 .468.325.325 0 0 0 .233.099zm7.004 1.091a.343.343 0 0 0-.095.236c0 .09.033.172.095.235.063.06.148.097.234.097a.344.344 0 0 0 .233-.097.33.33 0 0 0 .096-.235.35.35 0 0 0-.096-.236.342.342 0 0 0-.467 0zm1.645 0a.343.343 0 0 0-.095.236.325.325 0 0 0 .328.332.333.333 0 0 0 .234-.568.342.342 0 0 0-.467 0z" fill="#CEC9AE"></path>
            <path d="M6.278 14.27c-.72.378-.963 1.101-1.051 1.851l-.409-.345c-.322-.272-.79.194-.465.47l.923.78c.218.184.552.07.562-.235.024-.719.058-1.573.772-1.948.377-.198.044-.77-.332-.573zm5.046 1.686c-.14-.192-.283-.353-.537-.372-.48-.036-1.302.655-1.642.044a.33.33 0 0 0-.45-.119c-.466.288-1.075.703-1.565.166-.288-.316-.752.155-.465.469.615.675 1.41.468 2.107.086.148.16.324.268.559.354.299.108 1.344-.405 1.425-.293.247.341.819.011.568-.335z" fill="#7383BF"></path>
            <path fill="#CEC9AE" d="M7.616 8.274L6.79 7.85a.17.17 0 0 1-.092-.152v-.255c.424-.184.668-.542.787-.99a.442.442 0 0 0 .31-.42v-.221a.442.442 0 0 0-.236-.39c-.097-.832-.642-1.168-1.519-1.168-.041 0-.082.002-.122.005a1.31 1.31 0 0 1-.846-.2 1.106 1.106 0 0 1-.251-.223.044.044 0 0 0-.078.032c.009.077.021.168.04.266.073.368.03.314-.11.66a2.302 2.302 0 0 0-.152.63.442.442 0 0 0-.235.388v.221c0 .198.132.365.31.421.119.447.362.805.786.99v.253a.17.17 0 0 1-.094.153l-.846.42a.716.716 0 0 0-.31.351 3.253 3.253 0 0 0 3.81.005.718.718 0 0 0-.326-.35z"></path>
            <path fill="#FFF" d="M22.297.09a5.532 5.532 0 0 0-.615.36c-.815.568-2.06 1.733-3.178 3.839-.88 1.66-1.513 3.56-1.975 5.46-.852 4.593-1.228 9.99-1.271 10.71 4.89-1.382 8.133-1.368 13.195.042V1.726C25.853.601 24.75.064 22.297.09z"></path>
            <path fill="#FFDB56" d="M20.231 15.6c-.769 0-1.586.21-1.586.6s.817.6 1.586.6c.77 0 1.587-.21 1.587-.6s-.817-.6-1.587-.6z"></path>
            <path fill="#FF4A4A" d="M20.033 10.8a2.18 2.18 0 0 0-2.182 2.172c0 .744.356 1.543 1.056 2.377a7.508 7.508 0 0 0 1.046 1.024.13.13 0 0 0 .16 0c.021-.017.53-.41 1.046-1.024.7-.834 1.056-1.633 1.056-2.377a2.18 2.18 0 0 0-2.182-2.172zm.818 2.172c0 .45-.366.815-.818.815a.816.816 0 0 1-.818-.815c0-.45.366-.814.818-.814.452 0 .818.364.818.814z"></path>
            <path fill="#FFDB56" d="M25.394 11.746a2.058 2.058 0 0 0-.799-.146c-.3 0-.584.052-.8.146-.251.11-.39.271-.39.454s.139.344.39.454c.216.094.5.146.8.146.3 0 .584-.052.8-.146.251-.11.39-.271.39-.454s-.139-.344-.39-.454z"></path>
            <path d="M20.22 16.474c-.634 0-1.303-.19-1.461-.543a.396.396 0 0 0-.035.163c0 .458.77.706 1.496.706s1.497-.248 1.497-.706a.396.396 0 0 0-.035-.163c-.159.354-.828.543-1.462.543zm5.17-4.197c-.214.09-.496.14-.793.14-.297 0-.578-.05-.792-.14-.168-.07-.286-.164-.344-.27a.336.336 0 0 0-.043.163c0 .174.137.328.387.433.214.09.495.14.792.14a2.1 2.1 0 0 0 .792-.14c.25-.105.387-.259.387-.433a.336.336 0 0 0-.043-.164c-.058.107-.175.2-.344.271z" fill="#FFBB24"></path>
            <path fill="#FF4A4A" d="M24.992 8c-.875 0-1.587.769-1.587 1.713 0 .584.256 1.21.761 1.861.37.478.736.786.752.799a.115.115 0 0 0 .148 0c.015-.013.381-.32.751-.799.505-.65.762-1.277.762-1.86 0-.945-.712-1.714-1.587-1.714zm.584 1.713c0 .35-.261.632-.584.632-.323 0-.585-.283-.585-.632 0-.348.262-.63.585-.63.323 0 .584.282.584.63z"></path>
            <path d="M20.083 10.976c-.08 0-.16.004-.238.013a2.108 2.108 0 0 1 1.874 2.088c0 .72-.344 1.492-1.022 2.298a7.59 7.59 0 0 1-.852.859c.095.08.154.127.16.132a.126.126 0 0 0 .155 0 7.232 7.232 0 0 0 1.012-.99c.678-.807 1.022-1.58 1.022-2.3a2.108 2.108 0 0 0-2.11-2.1zM24.923 8c-.081 0-.16.006-.238.017.798.115 1.414.8 1.414 1.627 0 .56-.267 1.16-.792 1.785a5.874 5.874 0 0 1-.622.632c.094.082.154.13.16.134a.126.126 0 0 0 .155 0c.016-.012.397-.307.782-.766.526-.625.793-1.225.793-1.785A1.65 1.65 0 0 0 24.923 8z" fill="#E7343F"></path>
            <path fill="#1EA4E9" d="M21.947 16a.127.127 0 0 1-.129-.124c0-.07.057-.125.129-.126h.17c.072 0 .13.055.13.124a.127.127 0 0 1-.129.125l-.17.001zm.682-.003a.127.127 0 0 1-.13-.124c0-.07.058-.125.13-.126h.17c.071 0 .129.055.13.124a.127.127 0 0 1-.13.125l-.17.001zm.681-.003a.127.127 0 0 1-.129-.124c0-.07.058-.125.129-.126h.17c.072 0 .13.055.13.124a.127.127 0 0 1-.129.125l-.17.001zm.682-.003a.127.127 0 0 1-.129-.124c0-.07.057-.125.128-.126h.171c.071 0 .13.055.13.124a.127.127 0 0 1-.129.125l-.17.001h-.001zm.682-.003a.127.127 0 0 1-.13-.124c0-.07.058-.125.129-.126h.171c.071 0 .129.055.129.124a.127.127 0 0 1-.128.125l-.17.001h-.001zm.681-.003a.127.127 0 0 1-.129-.124c0-.07.057-.125.129-.126h.024a.907.907 0 0 0 .128-.009.13.13 0 0 1 .146.107.126.126 0 0 1-.11.14 1.118 1.118 0 0 1-.163.012h-.024zm.642-.188a.13.13 0 0 1-.106-.054.122.122 0 0 1 .032-.174.966.966 0 0 0 .117-.091.132.132 0 0 1 .182.004.12.12 0 0 1-.004.176 1.224 1.224 0 0 1-.148.117.131.131 0 0 1-.073.022zm.408-.515a.133.133 0 0 1-.043-.007.124.124 0 0 1-.078-.16.907.907 0 0 0 .039-.14.129.129 0 0 1 .15-.1c.07.013.116.078.103.146-.011.06-.028.12-.05.178a.129.129 0 0 1-.12.083zm.021-.649a.129.129 0 0 1-.124-.09.91.91 0 0 0-.053-.136.123.123 0 0 1 .063-.166.13.13 0 0 1 .171.06c.027.056.05.114.067.173a.124.124 0 0 1-.088.154.133.133 0 0 1-.036.005zm-.374-.538a.131.131 0 0 1-.08-.027.973.973 0 0 0-.125-.081.123.123 0 0 1-.049-.17.131.131 0 0 1 .176-.048c.055.03.108.065.158.103a.122.122 0 0 1 .021.175.13.13 0 0 1-.101.048zm-.628-.227h-.17a.127.127 0 0 1-.13-.126c0-.069.058-.125.13-.125h.12c.019 0 .037 0 .055.002a.127.127 0 0 1 .123.13.127.127 0 0 1-.128.12zm-.682 0h-.17a.127.127 0 0 1-.13-.126c0-.069.058-.125.13-.125h.17c.071 0 .13.056.13.125a.127.127 0 0 1-.13.125zm-.682 0h-.17a.127.127 0 0 1-.129-.126c0-.069.058-.125.129-.125h.17c.072 0 .13.056.13.125a.127.127 0 0 1-.13.125zm-.681 0h-.17a.127.127 0 0 1-.13-.126c0-.069.058-.125.13-.125h.17c.071 0 .129.056.129.125a.127.127 0 0 1-.13.125zm-.657-.125a.132.132 0 0 1-.07-.02.967.967 0 0 1-.154-.116.122.122 0 0 1-.003-.177.132.132 0 0 1 .182-.003.707.707 0 0 0 .113.086c.06.036.079.113.04.172a.13.13 0 0 1-.108.058zm-.375-.529a.128.128 0 0 1-.127-.101.911.911 0 0 1-.018-.18v-.01a.127.127 0 0 1 .13-.123c.072.001.13.058.128.127v.007c0 .044.005.088.013.131a.125.125 0 0 1-.126.149zm.14-.627a.131.131 0 0 1-.075-.023.122.122 0 0 1-.03-.174.95.95 0 0 1 .13-.143.132.132 0 0 1 .183.007.122.122 0 0 1-.007.177.697.697 0 0 0-.096.104.13.13 0 0 1-.104.052zm.569-.33a.128.128 0 0 1-.128-.109.126.126 0 0 1 .11-.14c.043-.005.086-.008.129-.008h.059c.071 0 .129.056.129.125a.127.127 0 0 1-.13.125h-.058a.74.74 0 0 0-.111.007z"></path>
            <path fill="#FFF" d="M15.294 1.633c-.074.031-.129.061-.203.093 0 6.259-.028 12.517-.027 18.775.05-.014.12-.027.12-.041V1.72c0-.03.084-.058.11-.087z"></path>
            <path fill="#DDEDE8" d="M21.703.45c.247-.171.454-.29.604-.36-2.305.023-4.65.544-7.013 1.543-.026.029-.11.058-.11.088V20.54s.038-.029.042-.082c.048-.802.087-5.762 1.29-10.708.462-1.902 1.108-3.801 1.99-5.461 1.117-2.106 2.381-3.271 3.197-3.839z"></path>
        </g>
    </symbol>
    <symbol viewBox="0 0 29 24" id="b2b-menu-icon6">
        <g fill="none" fill-rule="nonzero">
            <path fill="#EB5F23" d="M27.399 14.065l-14.302-2.628-11.96 3.6a.293.293 0 0 0-.07.58l.036.007 15.183 2.595c1.51 2.099.404 3.935.044 4.431L1.21 19.948c-.013-.002-.026-.002-.038-.002a.294.294 0 0 0-.304.24.293.293 0 0 0 .238.34l15.451 2.814 10.575-4.323c2.353-2.705.266-4.952.266-4.952z"></path>
            <path fill="#5E3027" d="M27.399 14.065L16.286 18.22c1.225 1.704.713 3.524.114 4.452.044.35.224.68.224.68l10.649-4.355c2.353-2.705.126-4.93.126-4.93z"></path>
            <path fill="#FFD021" d="M8.385.718s2.464 3.05.378 5.989l-4.44 1.591s1.865-3.536-.62-5.923L8.384.718z" mask="url(#b)" transform="translate(16.171 13.964)"></path>
            <path fill="#FFF" d="M16.366 22.704c.36-.496 1.43-2.386-.08-4.485L1.103 15.623l.07 4.323c.012 0 .025 0 .038.002l15.155 2.756z"></path>
            <path fill="#1CA5B0" d="M26.6 8.496L12.298 5.868l-11.96 3.6a.293.293 0 0 0-.071.58l.037.007 15.183 2.595c1.51 2.099.404 3.934.044 4.431L.412 14.38c-.013-.002-.026-.002-.038-.002a.294.294 0 0 0-.304.24.294.294 0 0 0 .238.34L15.76 17.77l10.574-4.323c2.353-2.706.266-4.952.266-4.952z"></path>
            <path fill="#344C5E" d="M26.6 8.496L15.487 12.65c1.225 1.705.713 3.525.114 4.453.044.35.224.68.224.68l10.649-4.355c2.353-2.705.126-4.93.126-4.93z"></path>
            <path fill="#FFF" d="M8.302.706s2.463 3.05.377 5.99L4.24 8.285s1.864-3.535-.62-5.922L8.302.706z" mask="url(#d)" transform="translate(15.455 8.407)"></path>
            <path fill="#FFF" d="M15.567 17.135c.36-.497 1.43-2.386-.08-4.485L.304 10.055l.07 4.322c.012 0 .025 0 .038.002l15.155 2.756z"></path>
            <path fill="#BC1828" d="M26.757 2.632L12.456.004l-11.96 3.6a.293.293 0 0 0-.072.58l.037.007 15.183 2.595c1.51 2.099.404 3.935.044 4.431L.569 8.515.53 8.512a.294.294 0 0 0-.303.24.293.293 0 0 0 .238.34l15.452 2.815L26.49 7.584c2.353-2.706.266-4.952.266-4.952z"></path>
            <path fill="#EA573F" d="M26.757 2.632L15.644 6.786c1.225 1.704.713 3.524.114 4.452.044.35.224.68.224.68l10.649-4.355c2.353-2.705.126-4.93.126-4.93z"></path>
            <path fill="#762329" d="M8.316.684s2.463 3.05.377 5.99l-4.44 1.59s1.865-3.536-.62-5.922L8.315.684z" mask="url(#f)" transform="translate(15.599 2.565)"></path>
            <path fill="#FFF" d="M15.724 11.271c.36-.496 1.43-2.386-.08-4.485L.46 4.19l.07 4.322c.012 0 .025 0 .038.002l15.155 2.756z"></path>
        </g>
    </symbol>
</svg>
<!-- End of SVG sprite -->

<!-- Section: Main -->
<main class="b2b  b2b--landing-2">

    <div class="landings-nav">
        <span class="landings-nav-trigger">Издание книг под заказ</span>

        <div class="container">
            <a href="#!"  class="active">Издание книг под заказ</a>
            <a href="#!">Книги в подарок</a>
            <a href="#!">Корпоративная библиотека</a>
            <a href="#!">Размещение рекламы</a>
            <a href="#!">Поддержка выхода  книг</a>
            <a href="#!">Книги оптом</a>
            <a href="#send-bid" class="button  button--not-shadow">ОТПРАВИТЬ ЗАЯВКУ</a>
        </div>
    </div>

    <div class="b2b__s b2b__s_m-1  b2b-slider">
        <div class="container">

            <div class="b2b__main-slider">
                <div class="b2b__main-slider-owl">
                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">Выпускаем книги на заказ</div>
                            <div class="b2b__main-slider-text">Помогаем продвинуть бренд, удивить партнеров подарками и собрать корпоративную библиотеку</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/on-order/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/on-order/korp_knigi.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_1"></div>
                    </div>

                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">Книги в подарок</div>
                            <div class="b2b__main-slider-text">Книга — универсальный подарок для клиентов, партнеров и сотрудников. Календарные и профессиональные праздники, юбилей компании, BTL-активности — в любой ситуации книга будет уместным презентом как сама по
                                себе, так и в составе тематического комплекта</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/presents/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/prezent-b2b.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_2"></div>
                    </div>

                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">Корпоративная библиотека</div>
                            <div class="b2b__main-slider-text">Подберем для вашей библиотеки лучшие книги мира и оформим их в корпоративном стиле</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/library/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/corp_biblioteka.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_3"></div>
                    </div>

                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">Реклама в книгах издательства</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/advertising/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/prezent-b2b.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_4"></div>
                    </div>

                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">Поддержка выхода книг</div>
                            <div class="b2b__main-slider-text">Создавайте бестселлеры вместе с издательством!</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/sponsorship/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/prezent-b2b.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_5"></div>
                    </div>

                    <div class="b2b__main-slider-item">
                        <div class="b2b__main-slider-content">
                            <div class="b2b__main-slider-title">КНИГИ ОПТОМ</div>
                            <div class="b2b__main-slider-text">Нужно много книг? Для вас — специальные цены!</div>
                            <div class="b2b__main-slider-controls">
                                <a href="/b2b/wholesale/" class="button  button--not-shadow">Узнать больше</a>
                                <a href="/b2b/prezent-b2b.pdf" target="_blank" class="button  button--not-shadow  button--black-line">Скачать презентацию <i class="download"></i></a>
                            </div>
                        </div>
                        <div class="b2b__main-slider-pic b2b__main-slider-pic_6"></div>
                    </div>
                </div>
            </div>

            <div class="b2b__main-list">
                <a href="#!" class="b2b__main-list-link  b2b__main-list-link_active">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon1"></use>
                    </svg>
                    Издание книг <span class="b2b__nowrap-d">под заказ</span></a>
                <a href="#!" class="b2b__main-list-link">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon2"></use>
                    </svg>
                    Книги в подарок</a>
                <a href="#!" class="b2b__main-list-link">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon3"></use>
                    </svg>
                    Корпоративная библиотека</a>
                <a href="#!" class="b2b__main-list-link">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon4"></use>
                    </svg>
                    Размещение рекламы</a>
                <a href="#!" class="b2b__main-list-link">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon5"></use>
                    </svg>
                    Поддержка выхода книг</a>
                <a href="#!" class="b2b__main-list-link">
                    <svg class="b2b__main-list-svg">
                        <use xlink:href="#b2b-menu-icon6"></use>
                    </svg>
                    Книги оптом</a>
            </div>

            <div class="why">
                <h1 class="title">Почему выбирают нас</h1>
                <span class="decor-wave"></span>
                <div class="features">
                    <div class="features__item">
                        <div class="features__icon  icon_1"></div>
                        <div class="features__info">
                            <div class="features__title">Лидеры рынка</div>
                            <div class="features__text">Издательство №1 в России и одно из крупнейших в Европе</div>
                        </div>
                    </div>
                    <div class="features__item">
                        <div class="features__icon  icon_2"></div>
                        <div class="features__info">
                            <div class="features__title">Работают профессионалы</div>
                            <div class="features__text">Мы создаем проекты как для крупных госкорпораций, так и для небольших компаний. Работаем с любым уровнем сложности</div>
                        </div>
                    </div>
                    <div class="features__item">
                        <div class="features__icon  icon_3"></div>
                        <div class="features__info">
                            <div class="features__title">Сервис</div>
                            <div class="features__text">Индивидуальный подход к каждому проекту и сервис 24/7</div>
                        </div>
                    </div>
                    <div class="features__item">
                        <div class="features__icon  icon_4"></div>
                        <div class="features__info">
                            <div class="features__title">Опыт</div>
                            <div class="features__text">Мы работаем с более чем с 1000 клиентами</div>
                        </div>
                    </div>
                    <div class="features__item">
                        <div class="features__icon  icon_5"></div>
                        <div class="features__info">
                            <div class="features__title">Большой выбор</div>
                            <div class="features__text">У нас есть книги на любую тему</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="book">
        <div class="container">
            <h2 class="title">Книга – идеальный инструмент для:</h2>
            <span class="decor-wave"></span>

            <div class="cards">
                <div class="cards__item">
                    <div class="cards__title">Продвижения бренда</div>
                    <p class="cards__text">Спонсорство книг или серий</p>
                    <p class="cards__text">Книги в подарок на мероприятиях и BTL-акциях</p>
                    <p class="cards__text">Выпуск корпоративного издания</p>
                </div>
                <div class="cards__item">
                    <div class="cards__title">Обучения сотрудников</div>
                    <p class="cards__text">Корпоративная библиотека</p>
                    <p class="cards__text">Бизнес-книги для семинаров, образовательных курсов</p>
                </div>
                <div class="cards__item">
                    <div class="cards__title">Повышения продаж</div>
                    <p class="cards__text">Реклама в книгах</p>
                    <p class="cards__text">Книги в подарок при покупке</p>
                </div>
                <div class="cards__item">
                    <div class="cards__title">Подарков партнерам, клиентам и сотрудникам</div>
                    <p class="cards__text">Книги оптом по выгодной цене</p>
                    <p class="cards__text">Брендированные книги, ежедневники, блокноты и календари</p>
                </div>
            </div>
        </div>
    </div>

    <div class="faq">
        <div class="container">
            <h2 class="title">Часто задаваемые вопросы</h2>
            <span class="decor-wave"></span>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Какова стоимость печати книги под заказ?</div>
                </div>
                <div class="faq__body">
                    <p>Стоимость печати книги напрямую зависит от тиража, используемых полиграфических материалов, списка необходимых работ в процессе создания и предпечатной подготовки произведения.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Сколько времени необходимо на создание книги с нуля и печать?</div>
                </div>
                <div class="faq__body">
                    <p>На создание книги уходит от трех месяцев.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Сколько времени необходимо для брендирования уже готовых книг издательства?</div>
                </div>
                <div class="faq__body">
                    <p>От 1 недели. Срок зависит от способа брендирования и тиража.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Какой минимальный тираж?</div>
                </div>
                <div class="faq__body">
                    <p>Индивидуальный тираж от 500 экз. Брендирование от 50 экз.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Сколько стоит доставка готовых книг?</div>
                </div>
                <div class="faq__body">
                    <p>Для корпоративных клиентов доставка по Москве в пределах МКАД производится бесплатно. Доставка по России рассчитывается отдельно и зависит от веса груза.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Возможно ли заказать отдельные услуги без печати книг. Например, редактура и корректура готового текста.</div>
                </div>
                <div class="faq__body">
                    <p>Нет. Издательство работает по полному производственному циклу.</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Возможно произвести печать по готовому макету?</div>
                </div>
                <div class="faq__body">
                    <p>да</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Вы оказываете поддержку в оформлении прав?</div>
                </div>
                <div class="faq__body">
                    <p>да</p>
                </div>
            </div>

            <div class="faq__q">
                <div class="faq__head">
                    <button class="faq__trigger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><g stroke="#00ace1"><g fill="#fff"><circle cx="20" cy="20" r="20" stroke="none"/><circle cx="20" cy="20" r="19.5" fill="none"/></g><path fill="none" stroke-linecap="round" stroke-width="2" d="M10 20h20M20 10v20"/></g></svg>
                    </button>
                    <div class="faq__title">Что такое ISBN?</div>
                </div>
                <div class="faq__body">
                    <p>ISBN (International Standart Book Number) — уникальный международный стандартный номер книжного издания в едином мировом реестре, необходимый для распространения книги в торговых сетях и автоматизации работы. Каждая новая книга, каждое её переиздание, перевод на иной язык или выпуск в новом оформлении должны иметь свой международный стандартный номер.</p>
                </div>
            </div>
        </div>
    </div>

    <section class="send-bid" id="send-bid">
        <div class="container">
            <h2 class="title">Отправить заявку</h2>
            <span class="decor-wave"></span>
            <div class="content">
                <div class="manager">
                    <div class="icon"><img src="//placehold.it/165x165" alt=""></div>
                    <div class="name">Вета</div>
                    <p class="desc">Менеджер по рекламе и корпоративным продажам</p>

                    <div class="contacts">
                        <p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
                        <p><b>Моб</b>. 8 (999) 968-11-06 </p>
                        <p><b>Email</b>: patina.vs@eksmo.ru</p>
                    </div>
                    <a href="#!" class="button  button--line">Скачать презентацию</a>
                </div>

                <div class="form">
                    <p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
                    <form action="">
                        <input type="text" class="form__input" placeholder="Имя">
                        <input type="text" class="form__input" placeholder="Телефон">
                        <input type="text" class="form__input" placeholder="Email">
                        <textarea class="form__area" placeholder="Сообщение"></textarea>
                        <div class="error-messages">
                            <div class="success" style="display: inline-block;">Успешно отправлено</div>
                            <div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
                        </div>
                        <button type="submit" class="button">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe">
        <div class="container">
            <h2 class="title">Подпишитесь на рассылку</h2>
            <span class="decor-wave"></span>
            <p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

            <div class="content">
                <form action="" class="form">
                    <input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
                    <input type="text" class="form__input  email" placeholder="Email">
                    <input type="text" class="form__input  company" placeholder="Название компании">
                    <div class="error-messages">
                        <div class="success" style="display: inline-block;">Успешно отправлено</div>
                        <div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
                    </div>
                    <button type="submit" class="button  button--not-shadow">Отправить</button>
                </form>
                <p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
            </div>

        </div>
    </section>

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>