//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="landing-translate">
	<div class="container">
		<h1 class="title">Переводим книги, а не стрелки</h1>

		<div class="text">
			<p>Мы в БОМБОРЕ живем и работаем по принципу.</p>
			<p class="text__color">«Читай. Редактируй. Выдыхай. Продвигай. По необходимости повторяй»</p>
			<p class="text__letter-spacing">Но иногда что-то идет не так, и в переводы закрадываются ошибки и опечатки.</p>

			<div class="line"></div>

			<p>Наша цель — чтобы таких досадных недоразумений было как можно меньше. Поэтому если вы видите любую (фактическую, синтаксическую, стилистическую или орфографическую) ошибку — сообщите нам о ней.</p>
			<p>Это просто: нужно просто заполнить форму ниже, прислать фотографии или оставить комментарий. Ваша заявка сразу же попадет к редактору книги.</p>
			<p>Мы не останемся в долгу и отблагодарим вас за бдительность.</p>
		</div>
		
		<div class="form">
			<div class="form__content">
				<form>
					<div class="form__flex">
						<div class="info">
							<h2 class="form__title">Смотрите, что я нашел</h2>
							<div class="line"></div>
							<div class="form__row  form__row--flex">
								<div class="field  field--warn"><input type="text" class="input" placeholder="Название и автор книги"></div>
								<div class="field  field--warn">
									<input type="text" class="input" placeholder="ISBN">
									<div class="field-hint">
										<i></i>
										<div class="field-hint__tooltip">ISBN можно найти в интернет-магазине на карточке книги или на последней странице — с выходными данными. Обычно он состоит из 12-13  цифровых символов</div>
									</div>
								</div>
							</div>
							<div class="form__row  form__row--last">
								<textarea name="comment" class="textarea" placeholder="комментарий редактору"></textarea>
							</div>
							<div class="form__row  form__row--files">
								<label for="files" class="input-file-wrapper">
									<span class="input-file__text">Я приложу фото</span>
									<span class="input-file__icon"></span>
									<input type="file" id="files" class="input input--file"  multiple="multiple">
								</label>
								<div class="note">Можно загрузить до 20 файлов</div>
								<div class="photos">
									<span style="background-image: url(/assets/img/book-pages.png);"></span>
									<span style="background-image: url(/assets/img/book-pages.png);"></span>
									<span style="background-image: url(/assets/img/book-pages.png);"></span>
								</div>
							</div>

							<!-- <button type="submit" class="button-submit">Отправить</button> -->
							<div class="email-form">
								<p>Оставьте свой электронный адрес и мы вышлем вам промокод, дающий скидку на книги Бомборы</p>
								<div class="email-form__bot">
									<input type="text" class="input" placeholder="example@example.ru" required>
									<button type="button" class="button-submit">Отправить</button>
								</div>
							</div>
						</div>
						<a href="#!" class="catalog">
							<div class="catalog__label">Перейти  в каталог</div>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
<!-- End of Section: Main -->
<!-- Section: Footer -->
<footer class="section footer">
	<div class="container">
		<div class="inner">

			<!-- Top -->
			<div class="top">

				<!-- Logo -->
				<div class="logo">
					<a href="#.">
						<img src="/assets/img/logo.png" alt="">
					</a>
				</div>
				<!-- End of Logo -->

				<!-- Counters -->
				<div class="counters">
					<div class="item">
						<div class="value">2,342,233</div>
						<div class="title">Издано книг</div>
					</div>
					<div class="item">
						<div class="value">15,342,233</div>
						<div class="title">Продано книг</div>
					</div>
				</div>
				<!-- End of Counters -->

			</div>
			<!-- End of Top -->

			<!-- Widgets -->
			<div class="widgets">
				<div class="row -mb-default">

					<!-- Widget -->
					<div class="col-12 col-sm-6 col-md-3 mb-default">
						<div class="ui widget style-navigation">
							<div class="widget-head">
								<h3>Издательство</h3>
							</div>
							<div class="widget-body">
								<ul>
									<li><a href="#.">История</a></li>
									<li><a href="#.">Социальные проекты</a></li>
									<li><a href="#.">Сертификация</a></li>
									<li><a href="#.">Как издать книгу?</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="col-12 col-md-6 col-lg-3 mb-default">
						<div class="ui widget style-navigation">
							<div class="widget-head">
								<h3>Читателям</h3>
							</div>
							<div class="widget-body">
								<ul>
									<li><a href="#.">Часто задаваемые вопросы</a></li>
									<li><a href="#.">Как написать рецензию</a></li>
									<li><a href="#.">Призовой фонд</a></li>
									<li><a href="#.">Словарь читателя</a></li>
									<li><a href="#.">Где купить?</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="col-12 col-lg-6 mb-default">
						<div class="ui widget style-subscribe">
							<div class="widget-head">
								<h3>E-mail рассылка</h3>
							</div>
							<div class="widget-body">
								<div class="before-subscribe" style="display: none;">
									<p>Хотите получать оповещения о новинках, подпишитесь!</p>
									<form id="form-subscribe" class="ui form-field style-with-submit is-disabled">
										<input type="text" placeholder="E-mail адрес">
										<button type="submit" class="form-submit">Подписаться</button>
									</form>
									<div class="ui form-field style-default mt-3">
										<input type="checkbox" id="is-right-1">
										<label for="is-right-1">Я готов получать любую информацию по этой почте!</label>
									</div>
								</div>
								<div class="after-subscribe">
									<span class="icon ion-ios-checkmark-empty"></span>
									Поздравляем! Вы подписаны!
								</div>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

				</div>
			</div>
			<!-- End of Widgets -->

			<!-- Bottom -->
			<div class="bottom">
				<div class="left">

					<!-- Navigation -->
					<div class="navigation">
						<ul>
							<li><a href="#.">Партнёрам</a></li>
							<li><a href="#.">Работа в Бомбора</a></li>
							<li><a href="#.">Авторам</a></li>
							<li><a href="#.">Пользовательское соглашение</a></li>
						</ul>
					</div>
					<!-- End of Navigation -->

					<!-- Copyright -->
					<div class="copyright">
						&copy; 2018 <a href="#.">Bombora</a> - Все права защищены. Всегда на волне!
					</div>
					<!-- End of Copyright -->

				</div>
				<div class="right">

					<!-- Language -->
					<!--<div class="language-switcher ui tooltip style-hover style-dropdown style-without-head">-->
					<!--<div class="current-language tooltip-head">-->
					<!--<a href="#." class="language">-->
					<!--<span class="label">Language:</span>-->
					<!--<span class="title">Русский</span>-->
					<!--<span class="icon"><i class="fa fa-caret-down"></i></span>-->
					<!--</a>-->
					<!--</div>-->
					<!--<div class="languages tooltip-body">-->
					<!--<div class="dropdown-list">-->
					<!--<div class="language list-item">-->
					<!--<a href="#."><span class="title">English</span></a>-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
					<!-- End of Language -->

					<!-- Socials -->
					<div class="socials">
						<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
						<a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
						<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
						<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
					</div>
					<!-- End of Socials -->

				</div>
			</div>
			<!-- End of Bottom -->

		</div>
	</div>
</footer>
<!-- End of Section: Footer -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landing-translate.js"></script>
<!-- End of Scripts -->

</body>
</html>