//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-4">

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">Реклама <br> в книгах издательства</h1>
				<a href="#send-bid" class="button">Отправить заявку</a>
			</div>
		</div>
	</section>

	<section class="variants">
		<div class="container">
			<h1 class="title">Варианты размещения</h1>
			<span class="decor-wave"></span>

			<div class="variants__rows">
				<div class="variants__row">
					<img src="/assets/img/landings/l4_variants_img-1.png" alt="">
					<div class="content">
						<p class="text">Реклама в бизнес-издании</p>
					</div>
				</div>

				<div class="variants__row">
					<img src="/assets/img/landings/l4_variants_img-2.png" alt="">
					<div class="content">
						<p class="text">Реклама в путеводителе</p>
					</div>
				</div>

				<div class="variants__row">
					<img src="/assets/img/landings/l4_variants_img-3.png" alt="">
					<div class="content">
						<p class="text">Брендированная вкладка в книгу</p>
						<p class="desc">(листовка, закладка или мини-буклет с информацией о компании или акциях)</p>
					</div>
				</div>

				<div class="variants__row">
					<img src="/assets/img/landings/l4_variants_img-4.png" alt="">
					<div class="content">
						<p class="text">Суперобложка или полусупер</p>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="koolinar">
		<div class="container">
			<div class="content">
				<h2 class="title">Реклама на кулинарном портале Koolinar.ru</h2>
				<p class="desc">Koolinar.ru — это не только энциклопедия простых и сложных, домашних и изысканных рецептов, но и социальная сеть с <b>6 млн уникальных пользователей</b> в месяц. Качественная и вовлеченная целевая аудитория со всего мира, которая общается, делится опытом и дает полезные советы</p>
				<div class="screen"><img src="/assets/img/landings/l4_koolinar_img.png" alt=""></div>
				<ul>
					<li><span><b>Медийные размещения</b> (брендинг, баннеры, кнопки)</span></li>
					<li><span><b>Конкурсы, викторины, тесты, статьи</b></span></li>
					<li><span><b>Спонсорство редакционных проектов</b> (брендинг и продакт-плейсмент)</span></li>
					<li><span><b>Разработка и размещение индивидуальных специальных проектов</b>: промо-страница с эксклюзивным дизайном, эксклюзивные рецепты, видео-ролики, мастер-классы с медийной личностью, фото-истории с реальными людьми, интерактивные блоки</span></li>
				</ul>
				<a href="#send-bid" class="button">Отправить заявку</a>
			</div>
		</div>
	</section>

	<section class="breadsalt">
		<div class="container">
			<div class="content">
				<h2 class="title">Реклама на портале Breadsalt.ru</h2>
				<p class="desc">Breadsalt.ru — обучающий портал с рецептами от профессионалов с рекомендациями по покупке и хранению продуктов, а также технологических тонкостях приготовления</p>
				<div class="screen"><img src="/assets/img/landings/l4_breadsalt_img.png" alt=""></div>
				<ul>
					<li><b>Баннерная реклама</b></li>
					<li><b>Спецпроекты (кнопка в меню, брендинг, видео)</b></li>
					<li><b>Интеграция в рецепт</b></li>
				</ul>
				<a href="#send-bid" class="button">Отправить заявку</a>
			</div>
		</div>
	</section>

	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

	<!-- //@@include('../_include/section-products-carousel.html') -->

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>