//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-6">

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">КНИГИ ОПТОМ</h1>
				<p>Нужно много книг? <br> Для вас — специальные цены!</p>
				<a href="#send-bid" class="button">УЗНАТЬ СКОЛЬКО СТОИТ</a>
			</div>
		</div>
	</section>

	<section class="second">
		<div class="container">
			<div class="features">
				<div class="features__item">
					<div class="features__icon icon_1"><img src="/assets/img/landings/l6_icon_1.svg" alt=""></div>
					<p class="features__text">Поставим любые книги под заказ клиента</p>
				</div>
				<div class="features__item">
					<div class="features__icon icon_2"><img src="/assets/img/landings/l6_icon_2.svg" alt=""></div>
					<p class="features__text">Логистика по всей России</p>
				</div>
				<div class="features__item">
					<div class="features__icon icon_3"><img src="/assets/img/landings/l6_icon_3.svg" alt=""></div>
					<p class="features__text">Бесплатная доставка для корпоративных клиентов по Москве в пределах МКАД</p>
				</div>
				<div class="features__item">
					<div class="features__icon icon_4"><img src="/assets/img/landings/l6_icon_4.svg" alt=""></div>
					<p class="features__text">Специальные скидки для корпоративных клиентов</p>
				</div>
			</div>
			<h2 class="title">Широкий ассортимент:</h2>
			<span class="decor-wave"></span>
			
			<div class="text-block">
				<h3>Бизнес-литература</h3>
				<span class="decor-wave"></span>
			</div>

		</div>
	</section>

	<section class="books">
		<div class="books__row  books__row--reverse  books__row--non-fiction">
			<div class="container">
				<div class="content">
					<h3 class="title">Нон-фикшн</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--business">
			<div class="container">
				<div class="content">
					<h3 class="title">Детская литература</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--reverse  books__row--games">
			<div class="container">
				<div class="content">
					<h3 class="title">Игры</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--reverse  books__row--notes">
			<div class="container">
				<div class="content">
					<h3 class="title">Блокноты и ежедневники</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--skin">
			<div class="container">
				<div class="content">
					<h3 class="title">Книги в кожаном переплете</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--reverse  books__row--progressive">
			<div class="container">
				<div class="content">
					<h3 class="title">Развивающая литература</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--artist">
			<div class="container">
				<div class="content">
					<h3 class="title">Художественная литература</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
		<div class="books__row  books__row--reverse  books__row--calendar">
			<div class="container">
				<div class="content">
					<h3 class="title">Календари</h3>
					<span class="decor-wave"></span>
				</div>
			</div>
		</div>
	</section>

	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

	<!-- //@@include('../_include/section-products-carousel.html') -->

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>