//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-1">

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">Издание книг под заказ</h1>
				<p>Выпуск своей книги — это возможность заявить о своей компании и вывести корпоративную культуру на новый уровень</p>
				<a href="#send-bid" class="button">Отправить заявку</a>
			</div>
		</div>
	</section>

	<section class="second">
		<div class="container">
			<div class="content">
				<ul>
					<li>Подберем авторов и экспертов</li>
					<li>Напишем текст, или отредактируем готовый</li>
					<li>Сделаем фото</li>
					<li>Нарисуем инфографику</li>
					<li>Разработаем макет и обложку</li>
					<li>Сверстаем</li>
					<li>Напечатаем</li>
					<li>Доставим</li>
				</ul>
				<a href="#!" class="button">Скачать презентацию</a>
			</div>
		</div>
	</section>

	<section class="vip">
		<div class="container">
			<div class="content">
				<h2 class="title">VIP-оформление</h2>
				<span class="decor-wave"></span>
				<p>Вы можете получить книгу в уникальном и неповторимом переплете с индивидуальной обложкой, выполненной на заказ из материалов высочайшего качества: натуральной кожи, шелка, бархата, с инкрустацией камнями </p>
			</div>
		</div>
	</section>

	<section class="how">
		<div class="container">
			<h2 class="title">Как мы работаем</h2>
			<span class="decor-wave"></span>
			<div class="steps">
				<div class="steps__item">
					<div class="steps__icon  icon_1"></div>
					<div class="steps__text">Получаем завявку</div>
				</div>
				<div class="steps__item">
					<div class="steps__icon  icon_2"></div>
					<div class="steps__text">Связываемся в течение 30 мин</div>
				</div>
				<div class="steps__item">
					<div class="steps__icon  icon_3"></div>
					<div class="steps__text">Обсуждаем пожелания</div>
				</div>
				<div class="steps__item">
					<div class="steps__icon  icon_4"></div>
					<div class="steps__text">Заключаем договор</div>
				</div>
				<div class="steps__item">
					<div class="steps__icon  icon_5"></div>
					<div class="steps__text">Согласовываем текст и макет</div>
				</div>
				<div class="steps__item">
					<div class="steps__icon  icon_6"></div>
					<div class="steps__text">Выпускаем тираж</div>
				</div>
			</div>
		</div>
	</section>

	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

	<!-- //@@include('../_include/section-products-carousel.html') -->

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>