//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-3">

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">Книги в подарок</h1>
				<p>Книга — универсальный подарок для клиентов, партнеров и сотрудников. Календарные и профессиональные праздники, юбилей компании, BTL-активности — в любой ситуации книга будет уместным презентом как сама по себе, так и в составе тематического комплекта</p>
				<a href="#send-bid" class="button">Отправить заявку</a>
			</div>
		</div>
	</section>

	<section class="why">
		<div class="container">
			<h2 class="title">Почему лучше дарить книгу?</h2>
			<span class="decor-wave"></span>
			<div class="features">
				<div class="features__item">
					<div class="features__icon  icon_1"></div>
					<div class="features__text">Книгу легко и быстро подобрать под любую аудиторию, тему и бюджет</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_2"></div>
					<div class="features__text">Можно дарить разные книги каждый год, составляя подборку по определенной тематике или собирая серию</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_3"></div>
					<div class="features__text">Книги можно дарить как самостоятельный подарок, так и в комплексном наборе</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_4"></div>
					<div class="features__text">Книгу можно нестандартно оформить</div>
				</div>
			</div>
		</div>
	</section>

	<section class="book">
		<div class="container">
			<div class="content">
				<h2 class="title">Книги БОМБОРЫ в наличии</h2>
				<span class="decor-wave"></span>
				<p>Выбирайте среди тысяч наших книг на любую тему</p>
				<a href="#!" class="button">Получить подборку подарочных книг</a>
			</div>
		</div>
	</section>

	<section class="branding">
		<div class="container">
			<div class="content">
				<h2 class="title">Книги в брендированном оформлении</h2>
				<span class="decor-wave"></span>
				<p>Подберем для вас издание и предложим варианты интеграции бренда (суперобложка, наклейки, книжные закладки, пакеты, открытки, коробки, футляры)</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
				<a href="#!" class="button  button--black-line">ПОСМОТРЕТЬ ПРИМЕРЫ</a>
			</div>
		</div>
	</section>

	<section class="personal">
		<div class="container">
			<div class="content">
				<h2 class="title">Индивидуальный тираж</h2>
				<span class="decor-wave"></span>
				<p>Напечатаем отдельный тираж с вашей обложкой, добавим вступительное слово от лица компании</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
			</div>
		</div>
	</section>

	<section class="calendar">
		<div class="container">
			<div class="content">
				<h2 class="title">Ежедневники, блокноты, календари</h2>
				<span class="decor-wave"></span>
				<p>Большой выбор блокнотов и ежедневников с внутренним наполнением (цитаты, иллюстрации, советы от экспертов и т.п.)</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
				<a href="#!" class="button  button--black-line">ПОСМОТРЕТЬ ПРИМЕРЫ</a>
			</div>
		</div>
	</section>

	<section class="gift">
		<div class="container">
			<div class="content">
				<h2 class="title">Подарочные наборы</h2>
				<span class="decor-wave"></span>
				<p>Делаем полный цикл работ, от идеи и дизайна комплекта до его упаковки</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
				<a href="#!" class="button  button--white">ПОСМОТРЕТЬ ПРИМЕРЫ</a>
			</div>
		</div>
	</section>


	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

	<!-- //@@include('../_include/section-products-carousel.html') -->

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>