//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-5">
    <div class="landings-nav">
        <span class="landings-nav-trigger">Книги в подарок</span>

        <div class="container">
            <a href="#!">Издание книг под заказ</a>
            <a href="#!" class="active">Книги в подарок</a>
            <a href="#!">Корпоративная библиотека</a>
            <a href="#!">Размещение рекламы</a>
            <a href="#!">Поддержка выхода  книг</a>
            <a href="#!">Книги оптом</a>
            <a href="#send-bid" class="button  button--not-shadow">ОТПРАВИТЬ ЗАЯВКУ</a>
        </div>
    </div>

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">Поддержка выхода книг</h1>
				<p class="desc">Создавайте бестселлеры вместе с издательством!</p>
				<div class="buttons">
					<a href="#send-bid" class="button">Отправить заявку</a>
					<a href="#send-bid" class="button  button--white">Заказать подборку</a>
				</div>

				<div class="block  block--first">
					<h2 class="subtitle">Спонсорство бестселлеров</h2>
					<span class="decor-wave"></span>
					<p class="text-l">Информация о вашем бренде в книге:</p>
					<ul>
						<li class="text">Логотип на корешке, обложке</li>
						<li class="text">Суперобложка, полусупер</li>
						<li class="text">Указание, что книга вышла при поддержке вашей компании</li>
					</ul>
				</div>

				<div class="block  block--second">
					<p class="text-l">Вступительное слово</p>
					<p class="text">Обратитесь к читателям со страниц книги</p>
					<a href="#books" class="button">Выбрать книгу</a>
				</div>
			</div>
		</div>
	</section>

	<section class="help">
		<div class="container">
			<h2 class="title">Вы помогаете:</h2>
			<span class="decor-wave"></span>
			<div class="features">
				<div class="features__item">
					<div class="features__icon  icon_1"></div>
					<div class="features__text">продвижению вашего бренда</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_2"></div>
					<div class="features__text">увидеть свет новой книге</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_3"></div>
					<div class="features__text">донести корпоративные ценности вашей компании</div>
				</div>
			</div>
		</div>
	</section>

	<section class="tasks">
		<div class="container">
			<h2 class="title">Какие задачи помогает решить спонсорство книги?</h2>
			<span class="decor-wave"></span>
			<div class="features">
				<div class="features__item">
					<div class="features__icon  icon_1"></div>
					<div class="features__text">Ваша компания ассоциируется с именами популярных авторитетных авторов</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_2"></div>
					<div class="features__text">Правильно выбрав книгу, вы обращаетесь точно к целевой аудитории</div>
				</div>
				<div class="features__item">
					<div class="features__icon  icon_3"></div>
					<div class="features__text">Информация в книгах живет дольше, чем на других носителях</div>
				</div>
			</div>
		</div>
	</section>

	<section class="book-slider"  id="books">
		<div class="container">
			<h2 class="title">Книги ждут поддержки</h2>
			<span class="decor-wave"></span>
			<div class="section items-carousel-wrapper">
				<div class="slick-carousel items-carousel-slick">
					//@@for(var i = 0; i < 10; i++) {
						<div class="ui card style-product">
							<div class="item">
								<div class="book-cover"><img src="https://placehold.it/200x240" alt=""></div>
							</div>
							<div class="title">
								<h3><a href="#.">Как говорить, чтобы дети слушали, как слушать, что...</a></h3>
							</div>
							<div class="author">
								<a href="#.">Фабер А.</a>,
								<a href="#.">Мазлиш Э.</a>
							</div>
							<p class="desc">Для тех, кто не согласен с тем, что у него есть сейчас. Для тех, кто готов ставить высокие цели и достигать их, не взирая ни на что.</p>
							<a href="#!" class="button  button--not-shadow">Выбрать книгу</a>
						</div>
					}
				</div>
				<div class="items-carousel-slick-arrows"></div>
			</div>
		</div>
	</section>

	<section class="bonus">
		<div class="container">
			<h2 class="title">Бонусы для партнеров</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="book"><img src="/assets/img/landings/l5_bonus_book.png" alt=""></div>
				<ul>
					<li><span>50 книг в подарок</span></li>
					<li><span>скидка 25%</span> на покупку дополнительных экземпляров</li>
					<li><span>Индивидуальное оформление</span> тиража компании</li>
					<li><span>Возможность включения в программу продвижения книги</span> – участие в пресс-конференциях, авторских встречах, кулинарных мастер-классах</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>