//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="b2b  b2b--landing-7">

	<section class="first">
		<div class="container">
			<div class="content">
				<h1 class="title">Корпоративная библиотека</h1>
				<p class="text-s">Подберем для вашей библиотеки лучшие книги мира и оформим их в корпоративном стиле</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
			</div>
		</div>
	</section>

	<section class="second">
		<div class="container">
			<div class="content">
				<h2 class="title">Книжная полка в компании</h2>
				<span class="decor-wave"></span>
				<p class="text-s">Подберем бизнес-издания для развития ваших сотрудников и доставим к вам в офис</p>
				<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
			</div>
			<img src="/assets/img/landings/l7_book_1.png" alt="">
		</div>
	</section>

	<section class="company">
		<div class="container">
			<div class="company__row">
				<div class="content">
					<h2 class="title">Персональная библиотека компании</h2>
					<span class="decor-wave"></span>
					<p class="text-s">Обучайте ваших сотрудников, выпуская для них книги в корпоративном оформлении. Дарите книжные коллекции вашим партнерам</p>
				</div>
				<img class="book-1" src="/assets/img/landings/l7_book_2.png" alt="">
			</div>
			<div class="company__row company__row-2">
				<div class="item">
					<img src="/assets/img/landings/l7_book_3.png" alt="">
					<div class="subtitle">Оформление <br> для ТОП-менеджеров</div>
				</div>
				<div class="item  item--2">
					<img src="/assets/img/landings/l7_book_4.png" alt="">
					<div class="subtitle">Оформление <br> для сотрудников</div>
				</div>
			</div>
		</div>
	</section>

	<section class="personal">
		<div class="container">
			<div class="content">
				<h2 class="title">Персональная личная библиотека</h2>
				<span class="decor-wave"></span>
				<p class="text-s">Подберем и доставим книги как для личной, так и семейной библиотеки. В простом* и премиальном оформлении.</p>
				<p class="text-xs">*предложение действительно при заказе от 500 наименований</p>
			</div>
		</div>
	</section>

	<section class="online">
		<div class="container">
			<h2 class="title">Электронная online-библиотека MyBook</h2>
			<span class="decor-wave"></span>
			<p class="text-s">Свыше 30 000 книг из нашего каталога и самый богатый выбор литературы для вашей корпоративной библиотеки</p>
			<div class="items">
				<div class="item">
					<img src="/assets/img/landings/l7_book_5.png" alt="">
					<div class="subtitle">Бизнес-книги</div>
					<p class="text-s">Зарубежные и российские бестселлеры (истории успеха ведущих компаний, маркетинг, лидерство, финансы, GR, PR)</p>
				</div>
				<div class="item">
					<img src="/assets/img/landings/l7_book_6.png" alt="">
					<div class="subtitle">Non-fiction</div>
					<p class="text-s">Психология и искусство общения, биографии и мемуары, научно-популярная литература, политика</p>
				</div>
				<div class="item">
					<img src="/assets/img/landings/l7_book_7.png" alt="">
					<div class="subtitle">Художественная литература</div>
					<p class="text-s">Русская и зарубежная классика, отечественная и мировая современная проза, поэзия</p>
				</div>
			</div>

			<a href="#send-bid" class="button">ОТПРАВИТЬ ЗАЯВКУ</a>
		</div>
	</section>

	<section class="send-bid" id="send-bid">
		<div class="container">
			<h2 class="title">Отправить заявку</h2>
			<span class="decor-wave"></span>
			<div class="content">
				<div class="manager">
					<div class="icon"><img src="//placehold.it/165x165" alt=""></div>
					<div class="name">Вета</div>
					<p class="desc">Менеджер по рекламе и корпоративным продажам</p>

					<div class="contacts">
						<p><b>Тел</b>. 8 (495) 411-68-59 доб. 1229 </p>
						<p><b>Моб</b>. 8 (999) 968-11-06 </p>
						<p><b>Email</b>: patina.vs@eksmo.ru</p>
					</div>
					<a href="#!" class="button  button--line">Скачать презентацию</a>
				</div>

				<div class="form">
					<p class="desc">Опишите свои задачи и мы сами предложим решение!</p>
					<form action="">
						<input type="text" class="form__input" placeholder="Имя">
						<input type="text" class="form__input" placeholder="Телефон">
						<input type="text" class="form__input" placeholder="Email">
						<textarea class="form__area" placeholder="Сообщение"></textarea>
						<div class="error-messages">
							<div class="success" style="display: inline-block;">Успешно отправлено</div>
							<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
						</div>
						<button type="submit" class="button">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<h2 class="title">Подпишитесь на рассылку</h2>
			<span class="decor-wave"></span>
			<p class="desc">Мы рассылаем письма о новинках только 1 раз в месяц</p>

			<div class="content">
				<form action="" class="form">
					<input type="text" class="form__input  name" placeholder="Ваше имя и фамилия">
					<input type="text" class="form__input  email" placeholder="Email">
					<input type="text" class="form__input  company" placeholder="Название компании">
					<div class="error-messages">
						<div class="success" style="display: inline-block;">Успешно отправлено</div>
						<div class="error" style="display: inline-block;">Пожалуйста, заполните все поля</div>
					</div>
					<button type="submit" class="button  button--not-shadow">Отправить</button>
				</form>
				<p class="agreement">Нажимая на кнопку «Отправить», я подтверждаю свое согласие с условиями <a href="#!">Пользовательского соглашения</a></p>
			</div>

		</div>
	</section>

	<!-- //@@include('../_include/section-products-carousel.html') -->

</main>
<!-- End of Section: Main -->

<!-- Scripts -->
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<script src="/assets/js/components/landings.js"></script>
<!-- End of Scripts -->

</body>
</html>