.ui-datepicker-header .ui-datepicker-prev {
    float: left
}

.ui-datepicker-header .ui-datepicker-next {
    float: right
}

table.ui-datepicker-calendar {
    width: 100%
}

.ui-datepicker-header .ui-datepicker-prev i,
.ui-datepicker-header .ui-datepicker-next i {
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid #b9b9b9;
    color: #000;
    border-radius: 50%;
    font-size: 20px;
    height: 30px;
}

table.ui-datepicker-calendar th {
    padding-bottom: 8px;
}

.ui-datepicker-header .ui-datepicker-prev i,
.ui-datepicker-header .ui-datepicker-next i,
table.ui-datepicker-calendar th span,
table.ui-datepicker-calendar td span {
    cursor: pointer;
    justify-content: center
}

.ui-datepicker-header,
.ui-datepicker-header .ui-datepicker-prev i,
.ui-datepicker-header .ui-datepicker-next i,
table.ui-datepicker-calendar th,
table.ui-datepicker-calendar td {
    text-align: center
}

.ui-datepicker-header .ui-datepicker-title {
    color: $color-primary;
    font-size: 18px;
    line-height: 2;

    @media(max-width: 767px) {
        font-size: 16px;
    }
}

.ui-datepicker-header {
    margin-bottom: 10px
}

img.emojione {
    width: 16px;
    height: 16px;
    display: inline-block!important;
    vertical-align: text-top;
    margin: 0 2px
}

table.ui-datepicker-calendar th span,
table.ui-datepicker-calendar td span,
table.ui-datepicker-calendar td a {
    font-size: 16px;
    padding-top: 2px;
    text-transform: lowercase;
    cursor: auto;
    font-weight: bold;

    @media(max-width: 767px) {
        font-size: 14px;
    }
}

table.ui-datepicker-calendar th span {font-weight: normal;}

table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled {
    background: none;
    border: none;
    color: #000;
    cursor: auto
}

table.ui-datepicker-calendar td {
    width: 34px;
    padding-bottom: 4px;
    padding-top: 4px;
    vertical-align: middle;

    @media(max-width: 767px) {
        padding: 2px 0;
        width: 27px;
    }
}

table.ui-datepicker-calendar td.ui-datepicker-week-end a {color: $color-primary;}
table.ui-datepicker-calendar td a {
    border-radius: 50%;
    height: 34px;
    border: 1px solid #C5D0DE;
    display: block;
    width: 34px;
    font-weight: bold;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;

    &.ui-state-hover {
        border-color: $color-primary;
        color: inherit;
    }

    @media(max-width: 767px) {
        width: 27px;
        height: 27px;
        line-height: 25px;
    }
}

table.ui-datepicker-calendar td.ui-datepicker-current-day a {
    background-color: $color-primary;
    border-color: transparent;
}

table.ui-datepicker-calendar td.ui-datepicker-current-day a {
    color: #fff
}

table.ui-datepicker-calendar td a {
    font-weight: 700;
    cursor: pointer
}

.calendar {
    user-select: none;
    padding: 15px;
}