//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Hero Post Image -->
	<section class="section hero-post-image" style="background-image: url('assets/img/bg-post.png')">
		<div class="image">
			<img src="/assets/img/bg-post.png" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9">
					<div class="inner">
						<div class="date">16 ноября 2014</div>
						<div class="title">
							<h1>Софья Багдасарова: «Грудь красивой женщины гораздо красивее, если на ней кровь»</h1>
						</div>
						<div class="meta">
							<div class="category">
								<a href="#.">Выставки</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Hero Post Image -->

	<!-- Section: Content -->
	<section class="section default-padding">
		<div class="container">
			<div class="row -mb-default">
				<div class="col-12 col-md-8 col-lg-9 mb-default">

					<!-- Post -->
					<div class="ui post style-full mb-default-2">

						<!-- Post Content -->
						<div class="post-content">
							<p>
								<strong><i>Morbi mollis читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможныMorbi mollis читателям составить работы.</i></strong>
							</p>
							<p>Morbi mollis поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности" для результативного поиска работы.<br>
								Сегодня вы
								<a href="#.">кандидат, завтра — ​наниматель</a>. Используйте эти рекомендации, чтобы в обоих случаях чувствовать себя уверенно. Вторая часть рассказывает о профессиях в сфере управления персоналом и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.
							</p>
							<h2>Заголовок</h2>
							<p>
								<img src="//placehold.it/1000x412" alt="">
							</p>
							<h2>Заголовок</h2>
							<p>
								Morbi mollis поможет читателям составить собственное мнение о "трех измерениях" рынка труда — ​работодателях, соискателях и провайдерах HR-услуг. Первая часть содержит всевозможные "полезности" для результативного поиска работы.<br>
								Сегодня вы кандидат, завтра — ​наниматель. Используйте эти рекомендации, чтобы в обоих случаях чувствовать себя уверенно. Вторая часть рассказывает о профессиях в сфере управления персоналом и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
							<h2>По материалам книг</h2>
							<div class="books-list">
								<div class="books-list__item">
									<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a>
									<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
									<div class="books-list__author">Джина Риппон</div>
									<a href="#!" class="books-list__btn">Купить</a>
								</div>
								<div class="books-list__item">
									<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a>
									<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
									<div class="books-list__author">Джина Риппон</div>
									<a href="#!" class="books-list__btn">Купить</a>
								</div>
								<div class="books-list__item">
									<a href="#!" class="books-list__cover"><img src="/assets/img/book-gender-mind.png" alt=""></a>
									<a href="#!" class="books-list__name">Гендерный мозг. Современная нейробиология развенчивает миф о женском мозге</a>
									<div class="books-list__author">Джина Риппон</div>
									<a href="#!" class="books-list__btn">Купить</a>
								</div>
							</div>
							<h2>Заголовок</h2>
							<p>Индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
 							<blockquote>
								<div class="icon">
									<img src="/assets/img/icons/icon-quote.png" alt="">
								</div>
								<p>Зачем вообще покупать кулинарную книгу,<br>если можно найти рецепт в интернете?</p>
								<strong>Татьяна Кузнецова</strong>
							</blockquote>
							<p>и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
							<p>и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
							<h2>Заголовок</h2>
							<p>Индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
							<div class="book-series">
								<div class="book-series__item">
									<div class="book-series__title">Гендерный мозг. современная нейробиология развенчивает миф о женском мозге</div>
									<div class="book-series__content">
										<div class="book-series__book">
											<div class="book-series__cover"><img src="/assets/img/book-gender-mind.png" alt=""></div>
											<a href="#!" class="book-series__btn">Купить</a>
										</div>
										<p>Веками женский мозг взвешивали, измеряли и находили ненужным. «Женщины ближе к детям и дикарям, чем к взрослому, цивилизованному мужчине», написал французский психолог Гюстав Лебон на рубеже 20-ого века.</p>
										<p>«Женский» мозг, часть несовершенной и хрупкой биологии, долго считали достаточным основанием, чтобы не допускать «слабый пол» к образованию, политике и науке. Нейробиолог Джина Риппон разрушает мифы о разнице «мужского» и «женского» и объясняет, почему это разделение отравляет жизнь не только женщин, но и мужчин.</p>
										<p>Веками женский мозг взвешивали, измеряли и находили ненужным. «Женщины ближе к детям и дикарям, чем к взрослому, цивилизованному мужчине», написал французский психолог Гюстав Лебон на рубеже 20-ого века.</p>
										<p>«Женский» мозг, часть несовершенной и хрупкой биологии, долго считали достаточным основанием, чтобы не допускать «слабый пол» к образованию, политике и науке. Нейробиолог Джина Риппон разрушает мифы о разнице «мужского» и «женского» и объясняет, почему это разделение отравляет жизнь не только женщин, но и мужчин.</p>
									</div>
								</div>
								<div class="book-series__item">
									<div class="book-series__title">Гендерный мозг. современная нейробиология развенчивает миф о женском мозге</div>
									<div class="book-series__content">
										<div class="book-series__book">
											<div class="book-series__cover"><img src="/assets/img/book-2.png" alt=""></div>
											<a href="#!" class="book-series__btn">Купить</a>
										</div>
										<p>Веками женский мозг взвешивали, измеряли и находили ненужным. «Женщины ближе к детям и дикарям, чем к взрослому, цивилизованному мужчине», написал французский психолог Гюстав Лебон на рубеже 20-ого века.</p>
										<p>«Женский» мозг, часть несовершенной и хрупкой биологии, долго считали достаточным основанием, чтобы не допускать «слабый пол» к образованию, политике и науке. Нейробиолог Джина Риппон разрушает мифы о разнице «мужского» и «женского» и объясняет, почему это разделение отравляет жизнь не только женщин, но и мужчин.</p>
										<p>Веками женский мозг взвешивали, измеряли и находили ненужным. «Женщины ближе к детям и дикарям, чем к взрослому, цивилизованному мужчине», написал французский психолог Гюстав Лебон на рубеже 20-ого века.</p>
										<p>«Женский» мозг, часть несовершенной и хрупкой биологии, долго считали достаточным основанием, чтобы не допускать «слабый пол» к образованию, политике и науке. Нейробиолог Джина Риппон разрушает мифы о разнице «мужского» и «женского» и объясняет, почему это разделение отравляет жизнь не только женщин, но и мужчин.</p>
									</div>
								</div>
							</div>
							<p>и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
							<p>и кадровой индустрии. Если вы далеки от HR, расширьте кругозор, ведь с этими людьми вам предстоит взаимодействовать на протяжении всей рабочей жизни. Если же вы задумываетесь о начале карьеры в HR или смене профессии — изучайте и выбирайте, что вам больше по душе.</p>
						</div>
						<!-- End of Post Content -->

						//@@include('../_include/post-share.html')

						//@@include('../_include/post-media.html')

						<!-- Post Meta -->
						<div class="post-meta">

							<!-- Tags -->
							<div class="ui tags style-default">
								<span>Тэги</span>
								<a href="#.">Семья</a>
								<a href="#.">Экономика</a>
								<a href="#.">Красота</a>
							</div>
							<!-- End of Tags -->

							<!-- Author -->
							<div class="author">
								<span>Автор</span>
								<a href="#.">Евгения Дашкевич</a>
							</div>
							<!-- End of Author -->

						</div>
						<!-- End of Post Meta -->

					</div>
					<!-- End of Post -->

					//@@include('../_include/section-related-posts.html')

				</div>
				<div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-default d-none d-md-block">

					<!-- Widget -->
					<div class="ui widget style-product-profile mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Автор</div>
						</div>
						<div class="widget-body">
							<div class="image" style="background-image: url('//placehold.it/120x120')">
								<img src="//placehold.it/120x120" alt="">
							</div>
							<h3 class="name">Елена Крыгина</h3>
							<p class="description">
								Топ-визажист и beauty-эксперт, создатель одноименного популярного видеоблога о красоте на русскоязычном YouTube.
							</p>
							<div class="socials">
								<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
								<a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
								<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Читай по теме</div>
						</div>
						<div class="widget-body">
							//@@for (var i = 0; i < 5; i++) {
							<div class="ui post style-sidebar-small mb-3">
								<div class="image" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
								<div class="info">
									<div class="title">
										<a href="#.">Татьяна Устинова: &laquo;Практически составить собственное мнение о...&raquo;</a>
									</div>
									<div class="date">08 Июня 2017</div>
								</div>
							</div>
							}
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar style-subscribe">
						<div class="widget-head">
							<div class="widget-title">Подписка</div>
						</div>
						<div class="widget-body">
							<div class="before-subscribe">
								<p class="text-center"><strong>Узнай о новинках первым!</strong></p>
								<form action="">
									<div class="ui form-field style-field mb-3">
										<input type="text" placeholder="E-mail адрес" required>
									</div>
									<div class="ui form-field mb-3">
										<button type="submit" class="ui button style-default style-block">Подписаться</button>
									</div>
									<div class="ui form-field style-default mt-3">
										<input type="checkbox" id="is-right-1">
										<label for="is-right-1">Я готов получать любую информацию по этой почте!</label>
									</div>
								</form>
							</div>
							<div class="after-subscribe" style="display: none;">
								<span class="icon ion-ios-checkmark-empty"></span>
								Поздравляем! Вы подписаны!
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Тэги</div>
						</div>
						<div class="widget-body">
							<div class="ui tags style-default">
								<a href="#.">Экономика</a>
								<a href="#.">Семья</a>
								<a href="#.">Семья</a>
								<a href="#.">Красота</a>
								<a href="#.">Дача</a>
								<a href="#.">Экономика</a>
								<a href="#.">Семья</a>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')