//@@include('../_include/header.html')

//@@include('../_include/header-default.html')

<!-- Section: Main -->
<main class="section main">

	<!-- Section: Hero Post Image -->
	<section class="section hero-post-image" style="background-image: url('assets/img/post-rome/post-rome-bg.jpg')">
		<div class="image">
			<img src="/assets/img/bg-post.png" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9">
					<div class="inner">
						<div class="title">
							<h1>Рим, любовь моя!Кино-путешествие по городу с «Оранжевым гидом»</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Hero Post Image -->

	<!-- Section: Content -->
	<section class="section default-padding">
		<div class="container">
			<div class="row -mb-default">
				<div class="col-12 col-md-8 col-lg-9 mb-default">

					<!-- Post -->
					<div class="ui post style-full mb-default-2">

						//@@include('../_include/post-rome.html')

						<!-- Post Meta -->
						<div class="post-meta">

							<!-- Tags -->
							<div class="ui tags style-default">
								<span>Тэги</span>
								<a href="#.">Семья</a>
								<a href="#.">Экономика</a>
								<a href="#.">Красота</a>
							</div>
							<!-- End of Tags -->

							<!-- Author -->
							<div class="author">
								<span>Автор</span>
								<a href="#.">Евгения Дашкевич</a>
							</div>
							<!-- End of Author -->

						</div>
						<!-- End of Post Meta -->

					</div>
					<!-- End of Post -->

					//@@include('../_include/section-related-posts.html')

				</div>
				<div class="col-12 col-sm-5 col-md-4 col-lg-3 mb-default d-none d-md-block">

					<!-- Widget -->
					<div class="ui widget style-product-profile mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Автор</div>
						</div>
						<div class="widget-body">
							<div class="image" style="background-image: url('//placehold.it/120x120')">
								<img src="//placehold.it/120x120" alt="">
							</div>
							<h3 class="name">Елена Крыгина</h3>
							<p class="description">
								Топ-визажист и beauty-эксперт, создатель одноименного популярного видеоблога о красоте на русскоязычном YouTube.
							</p>
							<div class="socials">
								<a href="#." target="_blank"><i class="fab fa-facebook-f"></i></a>
								<a href="#." target="_blank"><i class="fab fa-twitter"></i></a>
								<a href="#." target="_blank"><i class="fab fa-vk"></i></a>
								<a href="#." target="_blank"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Читай по теме</div>
						</div>
						<div class="widget-body">
							//@@for (var i = 0; i < 5; i++) {
							<div class="ui post style-sidebar-small mb-3">
								<div class="image" style="background-image: url('//placehold.it/300x300')">
									<img src="//placehold.it/300x300" alt="">
								</div>
								<div class="info">
									<div class="title">
										<a href="#.">Татьяна Устинова: &laquo;Практически составить собственное мнение о...&raquo;</a>
									</div>
									<div class="date">08 Июня 2017</div>
								</div>
							</div>
							}
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar style-subscribe">
						<div class="widget-head">
							<div class="widget-title">Подписка</div>
						</div>
						<div class="widget-body">
							<div class="before-subscribe">
								<p class="text-center"><strong>Узнай о новинках первым!</strong></p>
								<form action="">
									<div class="ui form-field style-field mb-3">
										<input type="text" placeholder="E-mail адрес" required>
									</div>
									<div class="ui form-field mb-3">
										<button type="submit" class="ui button style-default style-block">Подписаться</button>
									</div>
									<div class="ui form-field style-default mt-3">
										<input type="checkbox" id="is-right-1">
										<label for="is-right-1">Я готов получать любую информацию по этой почте!</label>
									</div>
								</form>
							</div>
							<div class="after-subscribe" style="display: none;">
								<span class="icon ion-ios-checkmark-empty"></span>
								Поздравляем! Вы подписаны!
							</div>
						</div>
					</div>
					<!-- End of Widget -->

					<!-- Widget -->
					<div class="ui widget mb-default-2 style-sidebar">
						<div class="widget-head">
							<div class="widget-title">Тэги</div>
						</div>
						<div class="widget-body">
							<div class="ui tags style-default">
								<a href="#.">Экономика</a>
								<a href="#.">Семья</a>
								<a href="#.">Семья</a>
								<a href="#.">Красота</a>
								<a href="#.">Дача</a>
								<a href="#.">Экономика</a>
								<a href="#.">Семья</a>
							</div>
						</div>
					</div>
					<!-- End of Widget -->

				</div>
			</div>
		</div>
	</section>
	<!-- End of Section: Content -->

</main>
<!-- End of Section: Main -->

//@@include('../_include/footer.html')
//@@include('../_include/js/scripts.html')
//@@include('../_include/_html-end.html')