<!-- Scripts -->
<script src="/assets/js/jquery/jquery.min.js"></script>
<script src="/assets/js/vendor.min.js?v=1.23"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/main.min.js?v=1.23"></script>
<!-- End of Scripts -->